workflows2025/08/55gdUS7QJcJbkc8V.json
{
  "active": true,
  "connections": {
    "Prepare Previous Job Data - Set": {
      "main": [
        [
          {
            "node": "Summarize Previous Jobs - Subflow LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Receive People Analyse Request - HTTP": {
      "main": [
        [
          {
            "node": "Prepare RecId from Webhook - SET",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare LinkedIn Inputs - Subflow Util": {
      "main": [
        []
      ]
    },
    "Prepare LinkedIn Inputs (Reactions) - Set": {
      "main": [
        []
      ]
    },
    "Prepare LinkedIn Inputs (Connection) - Set": {
      "main": [
        []
      ]
    },
    "Check Previous Jobs Present - IF": {
      "main": [
        [
          {
            "node": "Get Workflow Id - [2100]",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pass Through When No Previous Jobs - Util",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check LinkedIn URL Present - IF": {
      "main": [
        [
          {
            "node": "Prepare LinkedIn Inputs (Connection) - Set",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare LinkedIn Inputs (Reactions) - Set",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare LinkedIn Inputs - Subflow Util",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check Previous Jobs Present - IF",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update People Status - AT People",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NO LinkedIn URL - DONE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn Processing Entry - Util": {
      "main": [
        [
          {
            "node": "Check LinkedIn URL Present - IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check LinkedIn Company URL Present - IF": {
      "main": [
        [
          {
            "node": "Prepare Company LinkedIn Inputs - Subflow Util",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Missing LinkedIn URL - DONE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Company LinkedIn Inputs - Subflow Util": {
      "main": [
        [
          {
            "node": "Get Profile Company Posts - Subflow Apify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Scoring Rules - SEARCH": {
      "main": [
        [
          {
            "node": "Check Website Include - IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Website Include - IF": {
      "main": [
        [
          {
            "node": "Prepare Company LinkedIn Inputs - Subflow Util1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Website Processed - No Website - Set1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Website URL Exists - IF": {
      "main": [
        [
          {
            "node": "Get Scoring Rules - SEARCH",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Website Processed - No Website - Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Company LinkedIn Inputs - Subflow Util1": {
      "main": [
        [
          {
            "node": "Get Profile Company Posts - Subflow Apify1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Analysis Exists - IF": {
      "main": [
        [
          {
            "node": "Already Exists - DONE",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create People - AT Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Workflow Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare RecId from Webhook - SET": {
      "main": [
        []
      ]
    },
    "Workflow Data": {
      "main": [
        [
          {
            "node": "Get Person Details - AT by RecID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search People - AT Analysis": {
      "main": [
        [
          {
            "node": "Check Analysis Exists - IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Person Details - AT by RecID": {
      "main": [
        [
          {
            "node": "Search People - AT Analysis",
            "type": "main",
            "index": 0
          },
          {
            "node": "ReInit Processed Value - AT People",
            "type": "main",
            "index": 0
          },
          {
            "node": "LinkedIn Processing Entry - Util",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Archived2": {
      "main": [
        [
          {
            "node": "Prepare Previous Job Data - Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Workflow Id - [2100]": {
      "main": [
        [
          {
            "node": "Filter Archived2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-25T15:03:19.711Z",
  "id": "55gdUS7QJcJbkc8V",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Processing > LinkedIn > Analyze People and Companies with AI [2000]",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1dabc1a5-1af9-4148-a7b7-8bf26b4d9394",
              "name": "fullName",
              "value": "={{ $('Get Person Details - AT by RecID').item.json.fields.fullName }}",
              "type": "string"
            },
            {
              "id": "2c59c791-64c2-4144-8f1b-4fcbe324f44e",
              "name": "jobTitle",
              "value": "={{ $('Get Person Details - AT by RecID').item.json.fields.jobTitle }}",
              "type": "string"
            },
            {
              "id": "c3bde6c9-dc5d-47bd-bbdd-a9e2fb925b4d",
              "name": "companyName",
              "value": "={{ $('Get Person Details - AT by RecID').item.json.fields.companyName[0] }}",
              "type": "string"
            },
            {
              "id": "56012659-dc95-4e81-95cf-dbb4c11bad15",
              "name": "previousJobs",
              "value": "={{ $('Get Person Details - AT by RecID').item.json.fields.previousJobs }}",
              "type": "string"
            },
            {
              "id": "09a6b129-688c-4efa-899a-ba84eded0a33",
              "name": "recId",
              "value": "={{ $('Get Person Details - AT by RecID').item.json.id }}",
              "type": "string"
            },
            {
              "id": "ea6da09b-5bf5-40ba-ab1a-7fc2313cc03e",
              "name": "workflow_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "627c6836-9982-4759-bb77-31a51fee3712",
              "name": "config",
              "value": "={{ $('Workflow Data').item.json.config }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        112
      ],
      "id": "5d682c94-548e-4086-ac3b-1e1cb75328e8",
      "name": "Prepare Previous Job Data - Set",
      "notes": "PHASE: Configuration | Purpose: Prepare the field payload for previous jobs summarization by selecting and normalizing required properties. | Inputs: Airtable fields fullName, jobTitle, companyName[], previousJobs, and id. | Outputs: Item with fullName, jobTitle, companyName (first element), previousJobs, and recId. | Dependencies: Output of 'Get Person Details - AT by RecID' and its schema. | Special Cases: Assumes companyName is an array; adjust mapping if schema changes."
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/ai/people-analyse",
        "authentication": "headerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1680,
        784
      ],
      "id": "8ba9af06-2e6e-4fdf-a029-9e72496d0aee",
      "name": "Receive People Analyse Request - HTTP",
      "webhookId": "9bb56f32-44d8-4985-9a63-ef26a4b46a55",
      "credentials": {
        "httpHeaderAuth": {
          "id": "6gVvkFZGh8dqIc8X",
          "name": "Auth_Post_Webhook_N8N"
        }
      },
      "notes": "PHASE: Input | Purpose: Receive the external webhook to start people analysis by recId and hand off the payload into the workflow. | Inputs: HTTP POST /ai/people-analyse with JSON body {recId} plus headers and query params. | Outputs: One item containing body, headers, params, and webhookUrl for downstream consumption. | Dependencies: n8n Webhook node and public endpoint /ai/people-analyse; caller must supply a valid Airtable record ID. | Special Cases: If recId is missing or invalid, downstream nodes should short-circuit; consider validating Authorization header outside or in a guard node; avoid logging PII."
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "LSbKGWcNI262tDWI",
          "mode": "list",
          "cachedResultName": "Processing > Sub > Linkedin Profile Posts > Apify"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        96,
        512
      ],
      "id": "851942e4-34c1-4444-8f72-8f5daecbbae8",
      "name": "Get Profile Posts - Subflow Apify",
      "notes": "PHASE: Execution | Purpose: Invoke the child workflow that triggers Apify to collect the target profile's LinkedIn posts (fire-and-forget). | Inputs: recId and linkedinLink prepared by the upstream Set node plus execution context. | Outputs: No immediate payload due to waitForSubWorkflow=false; main flow continues. | Dependencies: Subflow 'Boost Research — Processing > Sub > Linkedin Profile Posts > Apify' and Apify credentials/config in that subflow. | Special Cases: Branch should only run when linkedinLink is present; subflow may throttle per Apify limits and handle its own errors."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "09a6b129-688c-4efa-899a-ba84eded0a33",
              "name": "recId",
              "value": "={{ $('Get Person Details - AT by RecID').item.json.id }}",
              "type": "string"
            },
            {
              "id": "e062f210-76a9-4247-aa51-6830038fa8a1",
              "name": "linkedinLink",
              "value": "={{ $('Get Person Details - AT by RecID').item.json.fields.linkedinLink }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -128,
        512
      ],
      "id": "73b929a7-ee0b-482c-9f77-2e0b9a4d984f",
      "name": "Prepare LinkedIn Inputs - Subflow Util",
      "notes": "PHASE: Configuration | Purpose: Prepare recId and linkedinLink fields used to invoke the LinkedIn posts subflow. | Inputs: Output of 'Get Person Details - AT by RecID' for recId and current item for linkedinLink. | Outputs: Item with recId and linkedinLink ready for downstream execution. | Dependencies: Airtable People record from the prior node. | Special Cases: If linkedinLink is absent the IF guard must prevent execution; consider trimming/validating URL."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "09a6b129-688c-4efa-899a-ba84eded0a33",
              "name": "recId",
              "value": "={{ $('Get Person Details - AT by RecID').item.json.id }}",
              "type": "string"
            },
            {
              "id": "e062f210-76a9-4247-aa51-6830038fa8a1",
              "name": "linkedinLink",
              "value": "={{ $json.linkedinLink }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -128,
        704
      ],
      "id": "134e7b99-3187-44fa-94c0-542956db4765",
      "name": "Prepare LinkedIn Inputs (Reactions) - Set",
      "notes": "PHASE: Configuration | Purpose: Prepare shared fields recId and linkedinLink for the LinkedIn reactions subflow. | Inputs: Airtable-derived recId and existing item.linkedinLink. | Outputs: Item with recId and linkedinLink standardized for downstream. | Dependencies: Output of 'Get Person Details - AT by RecID'. | Special Cases: Execution is gated by the IF that checks linkedinLink presence; consider URL normalization."
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "e3jMZQCg8cT2UzYr",
          "mode": "list",
          "cachedResultName": "Processing > Sub > LinkedIn Profile Reactions > Apify"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        96,
        704
      ],
      "id": "2dc247c0-43c7-4f2b-a0c8-9782c471fc20",
      "name": "Get Profile Reactions - Subflow Apify",
      "notes": "PHASE: Execution | Purpose: Invoke the subflow that collects LinkedIn profile reactions via Apify (non-blocking). | Inputs: recId and linkedinLink prepared upstream. | Outputs: No immediate data due to waitForSubWorkflow=false. | Dependencies: Child workflow 'Boost Research — Processing > Sub > Linkedin Profile Reactions > Apify' with its own credentials and limits. | Special Cases: Branch should only run with a valid linkedinLink; downstream subflow handles throttling and errors."
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "5e0tIRVmOZY0LlMF",
          "mode": "list",
          "cachedResultName": "Processing > Sub > Linkedin Connection Message"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        96,
        896
      ],
      "id": "38c3f042-f324-49c2-818e-2db594a60b95",
      "name": "Generate Connection Message - Subflow LinkedIn",
      "notes": "PHASE: Execution | Purpose: Invoke the subflow that generates a LinkedIn connection message for the target person. | Inputs: recId and linkedinLink from the preparation Set node; optional context drawn by the subflow. | Outputs: No immediate result since waitForSubWorkflow=false. | Dependencies: Child workflow 'Boost Research — Processing > Sub > Linkedin Connection Message'. | Special Cases: Branch guarded by IF; subflow should manage idempotency and rate limits."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "09a6b129-688c-4efa-899a-ba84eded0a33",
              "name": "recId",
              "value": "={{ $('Get Person Details - AT by RecID').item.json.id }}",
              "type": "string"
            },
            {
              "id": "bda8dab3-21db-4b41-9afc-c241ccc437f1",
              "name": "linkedinLink",
              "value": "={{ $('Get Person Details - AT by RecID').item.json.fields.linkedinLink }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -128,
        896
      ],
      "id": "eb3fefdc-adf4-4e45-9d27-8ffd53008583",
      "name": "Prepare LinkedIn Inputs (Connection) - Set",
      "notes": "PHASE: Configuration | Purpose: Prepare shared fields recId and linkedinLink for the LinkedIn connection message subflow. | Inputs: Airtable recId and current item.linkedinLink. | Outputs: Item containing recId and linkedinLink for downstream use. | Dependencies: Output of 'Get Person Details - AT by RecID'. | Special Cases: Execution should be gated by IF when linkedinLink is absent or invalid."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8c33bb53-06cb-4411-b318-d9cb2fc4b85b",
              "leftValue": "={{ $('Get Person Details - AT by RecID').item.json.fields.previousJobs }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "bd793ad5-c675-4a17-8f73-927b258db47f",
              "leftValue": "={{ $('Get Person Details - AT by RecID').item.json.fields.previousJobs }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -128,
        224
      ],
      "id": "656eda1f-88d8-4201-8918-b1121f38383a",
      "name": "Check Previous Jobs Present - IF",
      "notes": "PHASE: Utility | Purpose: Gate downstream summarization based on whether previousJobs exists and is non-empty. | Inputs: Person record from Airtable including previousJobs. | Outputs: True branch when previousJobs exists and not empty; false branch otherwise. | Dependencies: Output of 'Get Person Details - AT by RecID'. | Special Cases: If the field type or path changes this condition must be updated."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8c33bb53-06cb-4411-b318-d9cb2fc4b85b",
              "leftValue": "={{ $('Get Person Details - AT by RecID').item.json.fields.linkedinLink }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "bd793ad5-c675-4a17-8f73-927b258db47f",
              "leftValue": "={{ $('Get Person Details - AT by RecID').item.json.fields.linkedinLink }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -352,
        800
      ],
      "id": "05bdd2e5-55cd-49bc-9f72-365b58bf334a",
      "name": "Check LinkedIn URL Present - IF",
      "notes": "PHASE: Utility | Purpose: Guard LinkedIn-related branches by checking that linkedinLink exists and is not empty. | Inputs: Current item fields including linkedinLink and Airtable-derived context. | Outputs: True branch when linkedinLink exists and is not empty; false branch routes to the NoOp sink. | Dependencies: Upstream Airtable and Set nodes that populate the field. | Special Cases: Optional URL format validation could prevent downstream failures."
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -576,
        1568
      ],
      "id": "b69edc1e-3066-4eca-9d4b-d511ea9a3d15",
      "name": "LinkedIn Processing Entry - Util",
      "notes": "PHASE: Utility | Purpose: Provide a visual and logical entry marker for the LinkedIn processing segment. | Inputs: Airtable person item from the previous node. | Outputs: Pass-through item to IF and Set nodes. | Dependencies: None. | Special Cases: Organizational only; removal does not affect logic."
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        96,
        320
      ],
      "id": "cbbe9d9e-9751-407c-bbf9-a1986184e3e6",
      "name": "Pass Through When No Previous Jobs - Util",
      "notes": "PHASE: Utility | Purpose: Provide a pass-through path when previousJobs is missing or empty so the flow can complete gracefully. | Inputs: Items routed from the IF node false branch. | Outputs: Pass-through items for optional logging or subsequent handling. | Dependencies: None. | Special Cases: Replace with an error handler if missing previous jobs should fail the run."
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.workflow_id }}",
          "cachedResultName": "={{ $json.workflow_id }}"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        896,
        112
      ],
      "id": "42a8b822-b086-4583-9dca-df05cbe8fe26",
      "name": "Summarize Previous Jobs - Subflow LinkedIn",
      "notes": "PHASE: Execution | Purpose: Invoke the child workflow that summarizes the person's previous jobs for downstream LinkedIn use cases. | Inputs: fullName, jobTitle, companyName, previousJobs, and recId prepared by the Set node. | Outputs: Summary text or structured insights as returned by the subflow. | Dependencies: Subflow 'Boost Research — Processing > Sub > LinkedIn Summarize Previous Jobs' and any AI provider credentials therein. | Special Cases: Only called when previousJobs exists; consider retries and rate limit handling within the subflow."
    },
    {
      "parameters": {
        "content": "## People Analyse Workflow\n\nThis workflow orchestrates a **People Analyse** process:\n\n1. **Trigger**  \n   - Receives a webhook with an Airtable record ID.\n\n2. **Data Retrieval**  \n   - Fetches the person’s details from Airtable.\n\n3. **Pre-Processing**  \n   - Guards on the presence of:\n     - A LinkedIn URL\n     - Previous job data  \n   - Prepares normalized inputs.\n\n4. **LinkedIn Research** *(if LinkedIn URL is present)*  \n   - Fire-and-forget subflows to:\n     - Collect profile posts and reactions via **Apify**.\n     - Generate a connection message.\n\n5. **Job-History Summarization** *(if previous jobs exist)*  \n   - Prepares relevant fields.\n   - Invokes a subflow to summarize them.\n\n6. **Design Approach**  \n   - Emphasizes quick completion of the main run using asynchronous subflows.\n   - Integrates:\n     - Airtable\n     - Apify\n     - Likely an AI service in the summarization subflow.\n",
        "height": 768,
        "width": 896
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3552,
        320
      ],
      "id": "08d0f5ec-90f6-4a96-a037-958181e5f81e",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8c33bb53-06cb-4411-b318-d9cb2fc4b85b",
              "leftValue": "={{ $json.companyLinkedinId[0] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "bd793ad5-c675-4a17-8f73-927b258db47f",
              "leftValue": "={{ $json.companyLinkedinId[0] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -352,
        1568
      ],
      "id": "ef639251-c40b-4879-9330-25a6f89ee743",
      "name": "Check LinkedIn Company URL Present - IF",
      "notes": "PHASE: Utility | Purpose: Guard LinkedIn-related branches by checking that linkedinLink exists and is not empty. | Inputs: Current item fields including linkedinLink and Airtable-derived context. | Outputs: True branch when linkedinLink exists and is not empty; false branch routes to the NoOp sink. | Dependencies: Upstream Airtable and Set nodes that populate the field. | Special Cases: Optional URL format validation could prevent downstream failures."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "09a6b129-688c-4efa-899a-ba84eded0a33",
              "name": "recId",
              "value": "={{ $('Get Person Details - AT by RecID').item.json.id }}",
              "type": "string"
            },
            {
              "id": "e062f210-76a9-4247-aa51-6830038fa8a1",
              "name": "linkedinLink",
              "value": "={{ $json.companyLinkedinId[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -128,
        1472
      ],
      "id": "2cf54e19-1943-4264-9fd3-ce9d183a2ce3",
      "name": "Prepare Company LinkedIn Inputs - Subflow Util",
      "notes": "PHASE: Configuration | Purpose: Prepare recId and linkedinLink fields used to invoke the LinkedIn posts subflow. | Inputs: Output of 'Get Person Details - AT by RecID' for recId and current item for linkedinLink. | Outputs: Item with recId and linkedinLink ready for downstream execution. | Dependencies: Airtable People record from the prior node. | Special Cases: If linkedinLink is absent the IF guard must prevent execution; consider trimming/validating URL."
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "sl1WZi8cahY6YO1B",
          "mode": "list",
          "cachedResultName": "Processing > Sub > LinkedIn Company Posts > Apify"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        96,
        1472
      ],
      "id": "787d75b7-509d-4311-aac0-937e15a30cd0",
      "name": "Get Profile Company Posts - Subflow Apify",
      "notes": "PHASE: Execution | Purpose: Invoke the child workflow that triggers Apify to collect the target profile's LinkedIn posts (fire-and-forget). | Inputs: recId and linkedinLink prepared by the upstream Set node plus execution context. | Outputs: No immediate payload due to waitForSubWorkflow=false; main flow continues. | Dependencies: Subflow 'Boost Research — Processing > Sub > Linkedin Profile Posts > Apify' and Apify credentials/config in that subflow. | Special Cases: Branch should only run when linkedinLink is present; subflow may throttle per Apify limits and handle its own errors."
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app3ZDXRoKYAaYwlt",
          "mode": "list",
          "cachedResultName": "Boost Prospect v2",
          "cachedResultUrl": "https://airtable.com/app3ZDXRoKYAaYwlt"
        },
        "table": {
          "__rl": true,
          "value": "tblTEyBjHmlbvmkYs",
          "mode": "list",
          "cachedResultName": "Scoring Rules",
          "cachedResultUrl": "https://airtable.com/app3ZDXRoKYAaYwlt/tblTEyBjHmlbvmkYs"
        },
        "filterByFormula": "{internalRuleName} = 'scoring_rules'",
        "returnAll": false,
        "limit": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -128,
        1856
      ],
      "id": "636982b0-7920-410c-be0f-80b7293258b4",
      "name": "Get Scoring Rules - SEARCH",
      "credentials": {
        "airtableTokenApi": {
          "id": "XzBWggFrPVokGo9L",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b07530f4-3ec2-42a4-86df-fb00e63d9976",
              "leftValue": "={{ $json.includeWebsite }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "84fd951e-d3a8-4635-965e-d7d051bf3ed8",
              "leftValue": "={{ $json.includeWebsite }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        96,
        1856
      ],
      "id": "5763ab74-7202-4dde-b42a-561db5446ecb",
      "name": "Check Website Include - IF"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "642fbe94-6ca5-44fe-9435-c07948a7c99a",
              "leftValue": "={{ $json.companyWebsite[0] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "59db28d3-c8ad-4465-8479-239814fe8b64",
              "leftValue": "={{ $json.companyWebsite[0] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -352,
        1952
      ],
      "id": "747f9888-26ce-4dc8-924f-733c3fbcd9be",
      "name": "Check Website URL Exists - IF"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "09a6b129-688c-4efa-899a-ba84eded0a33",
              "name": "recId",
              "value": "={{ $('Get Person Details - AT by RecID').item.json.id }}",
              "type": "string"
            },
            {
              "id": "e062f210-76a9-4247-aa51-6830038fa8a1",
              "name": "website",
              "value": "={{ $('Get Person Details - AT by RecID').first().json.companyWebsite[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        1728
      ],
      "id": "ad649d83-4977-400e-be02-31ec8b938a62",
      "name": "Prepare Company LinkedIn Inputs - Subflow Util1",
      "notes": "PHASE: Configuration | Purpose: Prepare recId and linkedinLink fields used to invoke the LinkedIn posts subflow. | Inputs: Output of 'Get Person Details - AT by RecID' for recId and current item for linkedinLink. | Outputs: Item with recId and linkedinLink ready for downstream execution. | Dependencies: Airtable People record from the prior node. | Special Cases: If linkedinLink is absent the IF guard must prevent execution; consider trimming/validating URL."
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "rWX6BNJeZPsMWhGD",
          "mode": "list",
          "cachedResultName": "Triggers  > Apify > Web Scraping Create a Task"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        544,
        1728
      ],
      "id": "25f35bce-2703-4a9c-bd9a-4076c441a1c5",
      "name": "Get Profile Company Posts - Subflow Apify1",
      "notes": "PHASE: Execution | Purpose: Invoke the child workflow that triggers Apify to collect the target profile's LinkedIn posts (fire-and-forget). | Inputs: recId and linkedinLink prepared by the upstream Set node plus execution context. | Outputs: No immediate payload due to waitForSubWorkflow=false; main flow continues. | Dependencies: Subflow 'Boost Research — Processing > Sub > Linkedin Profile Posts > Apify' and Apify credentials/config in that subflow. | Special Cases: Branch should only run when linkedinLink is present; subflow may throttle per Apify limits and handle its own errors."
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -128,
        1664
      ],
      "id": "6e3119c9-9352-4460-acfb-2d9716fe26bb",
      "name": "Missing LinkedIn URL - DONE",
      "notes": "PHASE: Utility | Purpose: Provide a clear sink for items where the LinkedIn URL is missing so the workflow path is explicit. | Inputs: Items from the IF node's false branch. | Outputs: Pass-through items for optional logging or safe termination. | Dependencies: None. | Special Cases: Consider swapping with an Error node if missing URL is considered a hard failure."
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -128,
        1280
      ],
      "id": "b96e6da2-6824-4b65-850d-9e4e5ae2048a",
      "name": "NO LinkedIn URL - DONE",
      "notes": "PHASE: Utility | Purpose: Provide a clear sink for items where the LinkedIn URL is missing so the workflow path is explicit. | Inputs: Items from the IF node's false branch. | Outputs: Pass-through items for optional logging or safe termination. | Dependencies: None. | Special Cases: Consider swapping with an Error node if missing URL is considered a hard failure."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5cd68091-a695-48ea-87d9-addb9a8f13e8",
              "leftValue": "={{ $json.records[0].id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -352,
        -400
      ],
      "id": "9590260c-bea5-4ede-a469-4d2b6b3a0818",
      "name": "Check Analysis Exists - IF"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -112,
        -496
      ],
      "id": "f4d5496e-d3f5-4762-8143-fd107c9583f8",
      "name": "Already Exists - DONE"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1680,
        592
      ],
      "id": "717bb004-18c5-4938-9713-642f3b43d941",
      "name": "Start"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "94242ea6-1500-4965-b342-f8eac58ddb77",
              "name": "recId",
              "value": "={{ $json.body.recId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1456,
        784
      ],
      "id": "6aa1138f-0d5c-4805-936f-8311e647bc98",
      "name": "Prepare RecId from Webhook - SET"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app3ZDXRoKYAaYwlt",
          "mode": "list",
          "cachedResultName": "Boost Prospect v2",
          "cachedResultUrl": "https://airtable.com/app3ZDXRoKYAaYwlt"
        },
        "table": {
          "__rl": true,
          "value": "tblpxuiyiGDvZXUzG",
          "mode": "list",
          "cachedResultName": "People",
          "cachedResultUrl": "https://airtable.com/app1cypH1v3pTZcFi/tblpxuiyiGDvZXUzG"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Get Person Details - AT by RecID').item.json.id }}",
            "companyWebsiteScrappingProcessed": "={{ true }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "fullName",
              "displayName": "fullName",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "recId",
              "displayName": "recId",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "favorite",
              "displayName": "favorite",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "apolloPeopleNumber",
              "displayName": "apolloPeopleNumber",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "creationDate",
              "displayName": "creationDate",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "modificationDate",
              "displayName": "modificationDate",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "logo (from company)",
              "displayName": "logo (from company)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "companyName",
              "displayName": "companyName",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "companyWebsite",
              "displayName": "companyWebsite",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "companyLinkedinId",
              "displayName": "companyLinkedinId",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "companyFacebookLink",
              "displayName": "companyFacebookLink",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "companyPrimaryPhoneNumber",
              "displayName": "companyPrimaryPhoneNumber",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Identifiant LinkedIn (from Compagnie)",
              "displayName": "Identifiant LinkedIn (from Compagnie)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "companyYearFoundedFromCompany",
              "displayName": "companyYearFoundedFromCompany",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "companyLogoUrl",
              "displayName": "companyLogoUrl",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "companyIndustrySector",
              "displayName": "companyIndustrySector",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "companyAddress",
              "displayName": "companyAddress",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "companyCity",
              "displayName": "companyCity",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "companyProvince",
              "displayName": "companyProvince",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "companyCountry",
              "displayName": "companyCountry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "postalCodeFromCompanie",
              "displayName": "postalCodeFromCompanie",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "companyEstimatedEmployeeCount",
              "displayName": "companyEstimatedEmployeeCount",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "user",
              "displayName": "user",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "userRecId",
              "displayName": "userRecId",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "firstName",
              "displayName": "firstName",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "linkedinLink",
              "displayName": "linkedinLink",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "linkedinButtonPeople",
              "displayName": "linkedinButtonPeople",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "jobTitle",
              "displayName": "jobTitle",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "emailStatus",
              "displayName": "emailStatus",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "photo",
              "displayName": "photo",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "photoUrl",
              "displayName": "photoUrl",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "twitterLink",
              "displayName": "twitterLink",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "githubLink",
              "displayName": "githubLink",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "facebookLink",
              "displayName": "facebookLink",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "extrapolatedEmailConfidence",
              "displayName": "extrapolatedEmailConfidence",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "currentPosition",
              "displayName": "currentPosition",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "previousJobSummary",
              "displayName": "previousJobSummary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "previousJobs",
              "displayName": "previousJobs",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "professionalEmail",
              "displayName": "professionalEmail",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "province",
              "displayName": "province",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "country",
              "displayName": "country",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "departments",
              "displayName": "departments",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "subDepartments",
              "displayName": "subDepartments",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "seniority",
              "displayName": "seniority",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "roles",
              "displayName": "roles",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "intentStrength",
              "displayName": "intentStrength",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "intentDisplayed",
              "displayName": "intentDisplayed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "catchallEmailDomain",
              "displayName": "catchallEmailDomain",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "personalEmails",
              "displayName": "personalEmails",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Ready for AI analysis",
                  "value": "Ready for AI analysis"
                },
                {
                  "name": "AI analysis in progress",
                  "value": "AI analysis in progress"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "websiteButton",
              "displayName": "websiteButton",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "linkedinButton",
              "displayName": "linkedinButton",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "facebookButton",
              "displayName": "facebookButton",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "lastLinkedinActivity",
              "displayName": "lastLinkedinActivity",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "reactionBehavior",
              "displayName": "reactionBehavior",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "postBehavior",
              "displayName": "postBehavior",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "companyPostBehavior",
              "displayName": "companyPostBehavior",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "lastReactionStats",
              "displayName": "lastReactionStats",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "connectionLinkedinMessage",
              "displayName": "connectionLinkedinMessage",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "connectionEmailMessage",
              "displayName": "connectionEmailMessage",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "connectionEmailSubject",
              "displayName": "connectionEmailSubject",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "apolloId",
              "displayName": "apolloId",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "evaluation",
              "displayName": "evaluation",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "lastAIActionDate",
              "displayName": "lastAIActionDate",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "actionStatusDetails",
              "displayName": "actionStatusDetails",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "jsonCompanyLinkedInPosts",
              "displayName": "jsonCompanyLinkedInPosts",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "jsonProfileLinkedInPosts",
              "displayName": "jsonProfileLinkedInPosts",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "jsonProfileLinkedInReactions",
              "displayName": "jsonProfileLinkedInReactions",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "companyLinkedInPostsProcessed",
              "displayName": "companyLinkedInPostsProcessed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "profileLinkedInPostsProcessed",
              "displayName": "profileLinkedInPostsProcessed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "profileLinkedInReactionsProcessed",
              "displayName": "profileLinkedInReactionsProcessed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "companyWebsiteScrappingProcessed",
              "displayName": "companyWebsiteScrappingProcessed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "actorRunIdWebsiteScrapping",
              "displayName": "actorRunIdWebsiteScrapping",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "websiteContent",
              "displayName": "websiteContent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "websiteContentSummary",
              "displayName": "websiteContentSummary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Analysis",
              "displayName": "Analysis",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "scoringProfilePosts",
              "displayName": "scoringProfilePosts",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "scoringCompanyPosts",
              "displayName": "scoringCompanyPosts",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "scoringWebsite",
              "displayName": "scoringWebsite",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "scoringOverall",
              "displayName": "scoringOverall",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "scoringNote",
              "displayName": "scoringNote",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "scoringTier",
              "displayName": "scoringTier",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "scoringExplication",
              "displayName": "scoringExplication",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "analyzedWithAI",
              "displayName": "analyzedWithAI",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "analyzeWithAIRunning",
              "displayName": "analyzeWithAIRunning",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Apify Runs",
              "displayName": "Apify Runs",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "scoringStatus",
              "displayName": "scoringStatus",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Waiting",
                  "value": "Waiting"
                },
                {
                  "name": "Calculating...",
                  "value": "Calculating..."
                },
                {
                  "name": "Completed",
                  "value": "Completed"
                }
              ],
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -128,
        2048
      ],
      "id": "bfecd657-8fb0-4217-99b6-688bcb00bffe",
      "name": "Set Website Processed - No Website - Set",
      "credentials": {
        "airtableTokenApi": {
          "id": "XzBWggFrPVokGo9L",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app3ZDXRoKYAaYwlt",
          "mode": "list",
          "cachedResultName": "Boost Prospect v2",
          "cachedResultUrl": "https://airtable.com/app3ZDXRoKYAaYwlt"
        },
        "table": {
          "__rl": true,
          "value": "tblpxuiyiGDvZXUzG",
          "mode": "list",
          "cachedResultName": "People",
          "cachedResultUrl": "https://airtable.com/app1cypH1v3pTZcFi/tblpxuiyiGDvZXUzG"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Get Person Details - AT by RecID').item.json.id }}",
            "companyWebsiteScrappingProcessed": "={{ true }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "fullName",
              "displayName": "fullName",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "recId",
              "displayName": "recId",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "favorite",
              "displayName": "favorite",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "apolloPeopleNumber",
              "displayName": "apolloPeopleNumber",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "creationDate",
              "displayName": "creationDate",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "modificationDate",
              "displayName": "modificationDate",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "logo (from company)",
              "displayName": "logo (from company)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "companyName",
              "displayName": "companyName",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "companyWebsite",
              "displayName": "companyWebsite",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "companyLinkedinId",
              "displayName": "companyLinkedinId",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "companyFacebookLink",
              "displayName": "companyFacebookLink",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "companyPrimaryPhoneNumber",
              "displayName": "companyPrimaryPhoneNumber",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Identifiant LinkedIn (from Compagnie)",
              "displayName": "Identifiant LinkedIn (from Compagnie)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "companyYearFoundedFromCompany",
              "displayName": "companyYearFoundedFromCompany",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "companyLogoUrl",
              "displayName": "companyLogoUrl",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "companyIndustrySector",
              "displayName": "companyIndustrySector",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "companyAddress",
              "displayName": "companyAddress",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "companyCity",
              "displayName": "companyCity",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "companyProvince",
              "displayName": "companyProvince",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "companyCountry",
              "displayName": "companyCountry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "postalCodeFromCompanie",
              "displayName": "postalCodeFromCompanie",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "companyEstimatedEmployeeCount",
              "displayName": "companyEstimatedEmployeeCount",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "user",
              "displayName": "user",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "userRecId",
              "displayName": "userRecId",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "firstName",
              "displayName": "firstName",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "linkedinLink",
              "displayName": "linkedinLink",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "linkedinButtonPeople",
              "displayName": "linkedinButtonPeople",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "jobTitle",
              "displayName": "jobTitle",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "emailStatus",
              "displayName": "emailStatus",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "photo",
              "displayName": "photo",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "photoUrl",
              "displayName": "photoUrl",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "twitterLink",
              "displayName": "twitterLink",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "githubLink",
              "displayName": "githubLink",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "facebookLink",
              "displayName": "facebookLink",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "extrapolatedEmailConfidence",
              "displayName": "extrapolatedEmailConfidence",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "currentPosition",
              "displayName": "currentPosition",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "previousJobSummary",
              "displayName": "previousJobSummary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "previousJobs",
              "displayName": "previousJobs",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "professionalEmail",
              "displayName": "professionalEmail",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "province",
              "displayName": "province",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "country",
              "displayName": "country",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "departments",
              "displayName": "departments",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "subDepartments",
              "displayName": "subDepartments",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "seniority",
              "displayName": "seniority",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "roles",
              "displayName": "roles",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "intentStrength",
              "displayName": "intentStrength",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "intentDisplayed",
              "displayName": "intentDisplayed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "catchallEmailDomain",
              "displayName": "catchallEmailDomain",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "personalEmails",
              "displayName": "personalEmails",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Ready for AI analysis",
                  "value": "Ready for AI analysis"
                },
                {
                  "name": "AI analysis in progress",
                  "value": "AI analysis in progress"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "websiteButton",
              "displayName": "websiteButton",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "linkedinButton",
              "displayName": "linkedinButton",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "facebookButton",
              "displayName": "facebookButton",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "lastLinkedinActivity",
              "displayName": "lastLinkedinActivity",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "reactionBehavior",
              "displayName": "reactionBehavior",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "postBehavior",
              "displayName": "postBehavior",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "companyPostBehavior",
              "displayName": "companyPostBehavior",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "lastReactionStats",
              "displayName": "lastReactionStats",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "connectionLinkedinMessage",
              "displayName": "connectionLinkedinMessage",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "connectionEmailMessage",
              "displayName": "connectionEmailMessage",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "connectionEmailSubject",
              "displayName": "connectionEmailSubject",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "apolloId",
              "displayName": "apolloId",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "evaluation",
              "displayName": "evaluation",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "lastAIActionDate",
              "displayName": "lastAIActionDate",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "actionStatusDetails",
              "displayName": "actionStatusDetails",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "jsonCompanyLinkedInPosts",
              "displayName": "jsonCompanyLinkedInPosts",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "jsonProfileLinkedInPosts",
              "displayName": "jsonProfileLinkedInPosts",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "jsonProfileLinkedInReactions",
              "displayName": "jsonProfileLinkedInReactions",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "companyLinkedInPostsProcessed",
              "displayName": "companyLinkedInPostsProcessed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "profileLinkedInPostsProcessed",
              "displayName": "profileLinkedInPostsProcessed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "profileLinkedInReactionsProcessed",
              "displayName": "profileLinkedInReactionsProcessed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "companyWebsiteScrappingProcessed",
              "displayName": "companyWebsiteScrappingProcessed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "actorRunIdWebsiteScrapping",
              "displayName": "actorRunIdWebsiteScrapping",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "websiteContent",
              "displayName": "websiteContent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "websiteContentSummary",
              "displayName": "websiteContentSummary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Analysis",
              "displayName": "Analysis",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "scoringProfilePosts",
              "displayName": "scoringProfilePosts",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "scoringCompanyPosts",
              "displayName": "scoringCompanyPosts",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "scoringWebsite",
              "displayName": "scoringWebsite",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "scoringOverall",
              "displayName": "scoringOverall",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "scoringNote",
              "displayName": "scoringNote",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "scoringTier",
              "displayName": "scoringTier",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "scoringExplication",
              "displayName": "scoringExplication",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "analyzedWithAI",
              "displayName": "analyzedWithAI",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "analyzeWithAIRunning",
              "displayName": "analyzeWithAIRunning",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Apify Runs",
              "displayName": "Apify Runs",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "scoringStatus",
              "displayName": "scoringStatus",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Waiting",
                  "value": "Waiting"
                },
                {
                  "name": "Calculating...",
                  "value": "Calculating..."
                },
                {
                  "name": "Completed",
                  "value": "Completed"
                }
              ],
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        320,
        1952
      ],
      "id": "bde08348-620f-4d77-ad00-030c2c6324ee",
      "name": "Set Website Processed - No Website - Set1",
      "credentials": {
        "airtableTokenApi": {
          "id": "XzBWggFrPVokGo9L",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "94242ea6-1500-4965-b342-f8eac58ddb77",
              "name": "recId",
              "value": "={{ $json.recId }}",
              "type": "string"
            },
            {
              "id": "9e9abb59-5463-4a98-b087-eded0bf554fb",
              "name": "config",
              "value": "={{ $json.config }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1456,
        592
      ],
      "id": "60639fc3-1215-41db-95a0-9576cd7c6474",
      "name": "Workflow Data"
    },
    {
      "parameters": {
        "url": "=https://api.airtable.com/v0/{{ $('Workflow Data').item.json.config.vault.BASE_ID }}/Analysis",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filterByFormula",
              "value": "={peopleRecId} = '{{ $json.id }}'"
            },
            {
              "name": "maxRecords",
              "value": "1"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Workflow Data').item.json.config.vault.AIRTABLE_PERSONAL_ACCESS_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -624,
        -400
      ],
      "id": "0dac391f-d903-4033-a304-894d44269493",
      "name": "Search People - AT Analysis",
      "retryOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.airtable.com/v0/{{ $('Workflow Data').first().json.config.vault.BASE_ID }}/Analysis",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Workflow Data').first().json.config.vault.AIRTABLE_PERSONAL_ACCESS_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"records\": [\n    {\n      \"fields\": {\n        \"people\": [\"{{ $('Get Person Details - AT by RecID').first().json.id }}\"]\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -128,
        -336
      ],
      "id": "56e999fa-39bc-4afa-bc44-0d778ab236da",
      "name": "Create People - AT Analysis"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.airtable.com/v0/{{ $('Workflow Data').first().json.config.vault.BASE_ID }}/People/{{ $('Workflow Data').first().json.recId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Workflow Data').first().json.config.vault.AIRTABLE_PERSONAL_ACCESS_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"fields\": {\n    \"companyLinkedInPostsProcessed\": false,\n    \"profileLinkedInPostsProcessed\": false,\n    \"profileLinkedInReactionsProcessed\": false,\n    \"companyWebsiteScrappingProcessed\": false,\n    \"analyzedWithAI\": true,\n    \"analyzeWithAIRunning\": true\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -624,
        -192
      ],
      "id": "11049f10-8662-4595-b712-8e8338fafba1",
      "name": "ReInit Processed Value - AT People",
      "retryOnFail": true
    },
    {
      "parameters": {
        "url": "=https://api.airtable.com/v0/{{ $('Workflow Data').first().json.config.vault.BASE_ID }}/People/{{ $('Workflow Data').first().json.recId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Workflow Data').first().json.config.vault.AIRTABLE_PERSONAL_ACCESS_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1232,
        592
      ],
      "id": "f1bdb511-9727-4478-9ff6-add3483b26ed",
      "name": "Get Person Details - AT by RecID",
      "retryOnFail": true
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.airtable.com/v0/{{ $('Workflow Data').first().json.config.vault.BASE_ID }}/People/{{ $('Workflow Data').first().json.recId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Workflow Data').first().json.config.vault.AIRTABLE_PERSONAL_ACCESS_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"fields\": {\n    \"action\": \"Ready for AI analysis\",\n    \"lastAIActionDate\": \"{{ $now }}\",\n    \"actionStatusDetails\": \"LinkedIn profile analysis with AI completed.\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -128,
        1104
      ],
      "id": "52672b69-290a-41b0-9d53-8139d4a61e25",
      "name": "Update People Status - AT People",
      "retryOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e9ae0251-3cbe-43d9-a0cf-f9c189bb3084",
              "leftValue": "={{ $json.isArchived }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        352,
        112
      ],
      "id": "2e265b1a-a114-451f-97d8-66c1c254342a",
      "name": "Filter Archived2"
    },
    {
      "parameters": {
        "returnAll": false,
        "limit": 1,
        "filters": {
          "name": "[2100]",
          "excludePinnedData": true
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        128,
        128
      ],
      "id": "e880d873-f749-469c-be6f-9d81a4a50a06",
      "name": "Get Workflow Id - [2100]",
      "credentials": {
        "n8nApi": {
          "id": "DeDKPUGV1gyQwspX",
          "name": "n8n local"
        }
      }
    }
  ],
  "repo_name": "boost-prospect-v2",
  "repo_owner": "ultimvision",
  "repo_path": "workflows",
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "xqIMv4nOqM7qzjDi"
  },
  "shared": [
    {
      "createdAt": "2025-08-25T15:03:19.711Z",
      "updatedAt": "2025-08-25T15:03:19.711Z",
      "role": "workflow:owner",
      "workflowId": "55gdUS7QJcJbkc8V",
      "projectId": "zxVtQj8AiJx7hlkL"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-08-26T10:33:17.006Z",
      "updatedAt": "2025-08-26T10:33:17.006Z",
      "id": "Emw8imBHM3k6zkUo",
      "name": "Sub-Workflow"
    },
    {
      "createdAt": "2025-08-25T15:32:46.509Z",
      "updatedAt": "2025-08-25T15:32:46.509Z",
      "id": "4ptvvLb7NgD8g7Ar",
      "name": "Apify"
    },
    {
      "createdAt": "2025-08-25T15:32:43.780Z",
      "updatedAt": "2025-08-25T15:32:43.780Z",
      "id": "iG6zhvDmNAekSWMV",
      "name": "Webhook"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-09-01T22:27:13.191Z",
  "versionId": "c988729f-96c7-4fd9-b065-a2fcc303261f"
}