workflows2025/08/55gdUS7QJcJbkc8V.json
{
  "active": false,
  "connections": {
    "Prepare LinkedIn Inputs - Subflow Util": {
      "main": [
        [
          {
            "node": "Get Profile Posts - Subflow Apify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare LinkedIn Inputs (Reactions) - Set": {
      "main": [
        [
          {
            "node": "Get Profile Reactions - Subflow Apify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare LinkedIn Inputs (Connection) - Set": {
      "main": [
        [
          {
            "node": "Generate Connection Message - Subflow LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check LinkedIn URL Present - IF": {
      "main": [
        [
          {
            "node": "Get Workflow Id - [2020]",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Workflow Id - [2030]",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Workflow Id - [2040]",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NO LinkedIn URL - DONE",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update People Status - AT People",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn Processing Entry - Util": {
      "main": [
        [
          {
            "node": "Check LinkedIn URL Present - IF",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check Website URL Exists - IF",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check LinkedIn Company URL Present - IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check LinkedIn Company URL Present - IF": {
      "main": [
        [
          {
            "node": "Get Workflow Id - [2050]",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Missing LinkedIn URL - DONE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Company LinkedIn Inputs - Subflow Util": {
      "main": [
        [
          {
            "node": "Get Profile Company Posts - Subflow Apify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Website Include - IF": {
      "main": [
        [
          {
            "node": "Get Workflow Id - [2100]",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Website Processed - No Website - Set1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Website URL Exists - IF": {
      "main": [
        [
          {
            "node": "Search Apollo URL - AT Apollo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Website Processed - No Website - Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Company LinkedIn Inputs - Subflow Util1": {
      "main": [
        [
          {
            "node": "Triggers  > Apify > Web Scraping Create a Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Analysis Exists - IF": {
      "main": [
        [
          {
            "node": "Already Exists - DONE",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create People - AT Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Workflow Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Data": {
      "main": [
        [
          {
            "node": "Get Person Details - AT by RecID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search People - AT Analysis": {
      "main": [
        [
          {
            "node": "Check Analysis Exists - IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Person Details - AT by RecID": {
      "main": [
        [
          {
            "node": "Search People - AT Analysis",
            "type": "main",
            "index": 0
          },
          {
            "node": "ReInit Processed Value - AT People",
            "type": "main",
            "index": 0
          },
          {
            "node": "LinkedIn Processing Entry - Util",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Archived": {
      "main": [
        [
          {
            "node": "Prepare LinkedIn Inputs - Subflow Util",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Archived1": {
      "main": [
        [
          {
            "node": "Prepare LinkedIn Inputs (Reactions) - Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Archived3": {
      "main": [
        [
          {
            "node": "Prepare LinkedIn Inputs (Connection) - Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Archived4": {
      "main": [
        [
          {
            "node": "Prepare Company LinkedIn Inputs - Subflow Util",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Apollo URL - AT Apollo": {
      "main": [
        [
          {
            "node": "Check Website Include - IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Archived5": {
      "main": [
        [
          {
            "node": "Prepare Company LinkedIn Inputs - Subflow Util1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Workflow Id - [2020]": {
      "main": [
        [
          {
            "node": "Filter Archived",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Workflow Id - [2030]": {
      "main": [
        [
          {
            "node": "Filter Archived1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Workflow Id - [2040]": {
      "main": [
        [
          {
            "node": "Filter Archived3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Workflow Id - [2050]": {
      "main": [
        [
          {
            "node": "Filter Archived4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Workflow Id - [2100]": {
      "main": [
        [
          {
            "node": "Filter Archived5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-25T15:03:19.711Z",
  "id": "55gdUS7QJcJbkc8V",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[2000] Analyze People and Companies",
  "nodes": [
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.workflow_id }}",
          "cachedResultName": "={{ $json.workflow_id }}"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        112,
        -112
      ],
      "id": "851942e4-34c1-4444-8f72-8f5daecbbae8",
      "name": "Get Profile Posts - Subflow Apify",
      "notes": "PHASE: Execution | Purpose: Invoke the child workflow that triggers Apify to collect the target profile's LinkedIn posts (fire-and-forget). | Inputs: recId and linkedinLink prepared by the upstream Set node plus execution context. | Outputs: No immediate payload due to waitForSubWorkflow=false; main flow continues. | Dependencies: Subflow 'Boost Research — Processing > Sub > Linkedin Profile Posts > Apify' and Apify credentials/config in that subflow. | Special Cases: Branch should only run when linkedinLink is present; subflow may throttle per Apify limits and handle its own errors."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "09a6b129-688c-4efa-899a-ba84eded0a33",
              "name": "recId",
              "value": "={{ $('Get Person Details - AT by RecID').item.json.id }}",
              "type": "string"
            },
            {
              "id": "e062f210-76a9-4247-aa51-6830038fa8a1",
              "name": "linkedinLink",
              "value": "={{ $('Get Person Details - AT by RecID').item.json.fields.linkedinLink }}",
              "type": "string"
            },
            {
              "id": "36d7d61b-d053-461b-8092-3e5788cecda2",
              "name": "workflow_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "75e0b8ec-dfe7-4a91-9f12-007b0e37b416",
              "name": "config",
              "value": "={{ $('Workflow Data').item.json.config }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -112,
        -112
      ],
      "id": "73b929a7-ee0b-482c-9f77-2e0b9a4d984f",
      "name": "Prepare LinkedIn Inputs - Subflow Util",
      "notes": "PHASE: Configuration | Purpose: Prepare recId and linkedinLink fields used to invoke the LinkedIn posts subflow. | Inputs: Output of 'Get Person Details - AT by RecID' for recId and current item for linkedinLink. | Outputs: Item with recId and linkedinLink ready for downstream execution. | Dependencies: Airtable People record from the prior node. | Special Cases: If linkedinLink is absent the IF guard must prevent execution; consider trimming/validating URL."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "09a6b129-688c-4efa-899a-ba84eded0a33",
              "name": "recId",
              "value": "={{ $('Get Person Details - AT by RecID').item.json.id }}",
              "type": "string"
            },
            {
              "id": "e062f210-76a9-4247-aa51-6830038fa8a1",
              "name": "linkedinLink",
              "value": "={{ $('Get Person Details - AT by RecID').item.json.fields.linkedinLink }}",
              "type": "string"
            },
            {
              "id": "10d2b623-cba4-43c7-9af2-6f759cdd2266",
              "name": "workflow_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "e1aad15a-48aa-4787-bbe5-2d389cccbb2a",
              "name": "config",
              "value": "={{ $('Workflow Data').item.json.config }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -112,
        80
      ],
      "id": "134e7b99-3187-44fa-94c0-542956db4765",
      "name": "Prepare LinkedIn Inputs (Reactions) - Set",
      "notes": "PHASE: Configuration | Purpose: Prepare shared fields recId and linkedinLink for the LinkedIn reactions subflow. | Inputs: Airtable-derived recId and existing item.linkedinLink. | Outputs: Item with recId and linkedinLink standardized for downstream. | Dependencies: Output of 'Get Person Details - AT by RecID'. | Special Cases: Execution is gated by the IF that checks linkedinLink presence; consider URL normalization."
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.workflow_id }}",
          "cachedResultName": "={{ $json.workflow_id }}"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        112,
        80
      ],
      "id": "2dc247c0-43c7-4f2b-a0c8-9782c471fc20",
      "name": "Get Profile Reactions - Subflow Apify",
      "notes": "PHASE: Execution | Purpose: Invoke the subflow that collects LinkedIn profile reactions via Apify (non-blocking). | Inputs: recId and linkedinLink prepared upstream. | Outputs: No immediate data due to waitForSubWorkflow=false. | Dependencies: Child workflow 'Boost Research — Processing > Sub > Linkedin Profile Reactions > Apify' with its own credentials and limits. | Special Cases: Branch should only run with a valid linkedinLink; downstream subflow handles throttling and errors."
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.workflow_id }}",
          "cachedResultName": "={{ $json.workflow_id }}"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        112,
        272
      ],
      "id": "38c3f042-f324-49c2-818e-2db594a60b95",
      "name": "Generate Connection Message - Subflow LinkedIn",
      "notes": "PHASE: Execution | Purpose: Invoke the subflow that generates a LinkedIn connection message for the target person. | Inputs: recId and linkedinLink from the preparation Set node; optional context drawn by the subflow. | Outputs: No immediate result since waitForSubWorkflow=false. | Dependencies: Child workflow 'Boost Research — Processing > Sub > Linkedin Connection Message'. | Special Cases: Branch guarded by IF; subflow should manage idempotency and rate limits."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "09a6b129-688c-4efa-899a-ba84eded0a33",
              "name": "recId",
              "value": "={{ $('Get Person Details - AT by RecID').item.json.id }}",
              "type": "string"
            },
            {
              "id": "bda8dab3-21db-4b41-9afc-c241ccc437f1",
              "name": "linkedinLink",
              "value": "={{ $('Get Person Details - AT by RecID').item.json.fields.linkedinLink }}",
              "type": "string"
            },
            {
              "id": "707964ac-8062-48b1-ac2b-0c10adf1893d",
              "name": "workflow_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "ef3b31dc-47bf-4921-bcb7-b21c6f22692e",
              "name": "config",
              "value": "={{ $('Workflow Data').item.json.config }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -112,
        272
      ],
      "id": "eb3fefdc-adf4-4e45-9d27-8ffd53008583",
      "name": "Prepare LinkedIn Inputs (Connection) - Set",
      "notes": "PHASE: Configuration | Purpose: Prepare shared fields recId and linkedinLink for the LinkedIn connection message subflow. | Inputs: Airtable recId and current item.linkedinLink. | Outputs: Item containing recId and linkedinLink for downstream use. | Dependencies: Output of 'Get Person Details - AT by RecID'. | Special Cases: Execution should be gated by IF when linkedinLink is absent or invalid."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8c33bb53-06cb-4411-b318-d9cb2fc4b85b",
              "leftValue": "={{ $('Get Person Details - AT by RecID').item.json.fields.linkedinLink }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "bd793ad5-c675-4a17-8f73-927b258db47f",
              "leftValue": "={{ $('Get Person Details - AT by RecID').item.json.fields.linkedinLink }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -784,
        272
      ],
      "id": "05bdd2e5-55cd-49bc-9f72-365b58bf334a",
      "name": "Check LinkedIn URL Present - IF",
      "notes": "PHASE: Utility | Purpose: Guard LinkedIn-related branches by checking that linkedinLink exists and is not empty. | Inputs: Current item fields including linkedinLink and Airtable-derived context. | Outputs: True branch when linkedinLink exists and is not empty; false branch routes to the NoOp sink. | Dependencies: Upstream Airtable and Set nodes that populate the field. | Special Cases: Optional URL format validation could prevent downstream failures."
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1008,
        944
      ],
      "id": "b69edc1e-3066-4eca-9d4b-d511ea9a3d15",
      "name": "LinkedIn Processing Entry - Util",
      "notes": "PHASE: Utility | Purpose: Provide a visual and logical entry marker for the LinkedIn processing segment. | Inputs: Airtable person item from the previous node. | Outputs: Pass-through item to IF and Set nodes. | Dependencies: None. | Special Cases: Organizational only; removal does not affect logic."
    },
    {
      "parameters": {
        "content": "## People Analyse Workflow\n\nThis workflow orchestrates a **People Analyse** process:\n\n1. **Trigger**  \n   - Receives a webhook with an Airtable record ID.\n\n2. **Data Retrieval**  \n   - Fetches the person’s details from Airtable.\n\n3. **Pre-Processing**  \n   - Guards on the presence of:\n     - A LinkedIn URL\n     - Previous job data  \n   - Prepares normalized inputs.\n\n4. **LinkedIn Research** *(if LinkedIn URL is present)*  \n   - Fire-and-forget subflows to:\n     - Collect profile posts and reactions via **Apify**.\n     - Generate a connection message.\n\n5. **Job-History Summarization** *(if previous jobs exist)*  \n   - Prepares relevant fields.\n   - Invokes a subflow to summarize them.\n\n6. **Design Approach**  \n   - Emphasizes quick completion of the main run using asynchronous subflows.\n   - Integrates:\n     - Airtable\n     - Apify\n     - Likely an AI service in the summarization subflow.\n",
        "height": 768,
        "width": 896
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2848,
        176
      ],
      "id": "08d0f5ec-90f6-4a96-a037-958181e5f81e",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8c33bb53-06cb-4411-b318-d9cb2fc4b85b",
              "leftValue": "={{ $json.fields.companyLinkedinId[0] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "bd793ad5-c675-4a17-8f73-927b258db47f",
              "leftValue": "={{ $json.fields.companyLinkedinId[0] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -784,
        944
      ],
      "id": "ef639251-c40b-4879-9330-25a6f89ee743",
      "name": "Check LinkedIn Company URL Present - IF",
      "notes": "PHASE: Utility | Purpose: Guard LinkedIn-related branches by checking that linkedinLink exists and is not empty. | Inputs: Current item fields including linkedinLink and Airtable-derived context. | Outputs: True branch when linkedinLink exists and is not empty; false branch routes to the NoOp sink. | Dependencies: Upstream Airtable and Set nodes that populate the field. | Special Cases: Optional URL format validation could prevent downstream failures."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "09a6b129-688c-4efa-899a-ba84eded0a33",
              "name": "recId",
              "value": "={{ $('Get Person Details - AT by RecID').item.json.id }}",
              "type": "string"
            },
            {
              "id": "e062f210-76a9-4247-aa51-6830038fa8a1",
              "name": "linkedinLink",
              "value": "={{ $('Get Person Details - AT by RecID').item.json.fields.companyLinkedinId[0] }}",
              "type": "string"
            },
            {
              "id": "9b96b02d-c4ed-4326-8c3e-4393068930fd",
              "name": "workflow_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "e0cf4bcd-0870-448f-9e0a-f276f720ba09",
              "name": "config",
              "value": "={{ $('Workflow Data').item.json.config }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -112,
        848
      ],
      "id": "2cf54e19-1943-4264-9fd3-ce9d183a2ce3",
      "name": "Prepare Company LinkedIn Inputs - Subflow Util",
      "notes": "PHASE: Configuration | Purpose: Prepare recId and linkedinLink fields used to invoke the LinkedIn posts subflow. | Inputs: Output of 'Get Person Details - AT by RecID' for recId and current item for linkedinLink. | Outputs: Item with recId and linkedinLink ready for downstream execution. | Dependencies: Airtable People record from the prior node. | Special Cases: If linkedinLink is absent the IF guard must prevent execution; consider trimming/validating URL."
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.workflow_id }}",
          "cachedResultName": "={{ $json.workflow_id }}"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        112,
        848
      ],
      "id": "787d75b7-509d-4311-aac0-937e15a30cd0",
      "name": "Get Profile Company Posts - Subflow Apify",
      "notes": "PHASE: Execution | Purpose: Invoke the child workflow that triggers Apify to collect the target profile's LinkedIn posts (fire-and-forget). | Inputs: recId and linkedinLink prepared by the upstream Set node plus execution context. | Outputs: No immediate payload due to waitForSubWorkflow=false; main flow continues. | Dependencies: Subflow 'Boost Research — Processing > Sub > Linkedin Profile Posts > Apify' and Apify credentials/config in that subflow. | Special Cases: Branch should only run when linkedinLink is present; subflow may throttle per Apify limits and handle its own errors."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b07530f4-3ec2-42a4-86df-fb00e63d9976",
              "leftValue": "={{ $json.records[0].fields.includeWebsite }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "84fd951e-d3a8-4635-965e-d7d051bf3ed8",
              "leftValue": "={{ $json.records[0].fields.includeWebsite }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -336,
        1232
      ],
      "id": "5763ab74-7202-4dde-b42a-561db5446ecb",
      "name": "Check Website Include - IF"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "642fbe94-6ca5-44fe-9435-c07948a7c99a",
              "leftValue": "={{ $json.fields.companyWebsite[0] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "59db28d3-c8ad-4465-8479-239814fe8b64",
              "leftValue": "={{ $json.fields.companyWebsite[0] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -784,
        1328
      ],
      "id": "747f9888-26ce-4dc8-924f-733c3fbcd9be",
      "name": "Check Website URL Exists - IF"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "09a6b129-688c-4efa-899a-ba84eded0a33",
              "name": "recId",
              "value": "={{ $('Get Person Details - AT by RecID').item.json.id }}",
              "type": "string"
            },
            {
              "id": "e062f210-76a9-4247-aa51-6830038fa8a1",
              "name": "website",
              "value": "={{ $('Get Person Details - AT by RecID').first().json.fields.companyWebsite[0] }}",
              "type": "string"
            },
            {
              "id": "c7be9581-630d-4bb5-a825-151fa02b9c53",
              "name": "workflow_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "be4890ca-171d-4023-a038-1a25343cc99d",
              "name": "config",
              "value": "={{ $('Workflow Data').item.json.config }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        336,
        1136
      ],
      "id": "ad649d83-4977-400e-be02-31ec8b938a62",
      "name": "Prepare Company LinkedIn Inputs - Subflow Util1",
      "notes": "PHASE: Configuration | Purpose: Prepare recId and linkedinLink fields used to invoke the LinkedIn posts subflow. | Inputs: Output of 'Get Person Details - AT by RecID' for recId and current item for linkedinLink. | Outputs: Item with recId and linkedinLink ready for downstream execution. | Dependencies: Airtable People record from the prior node. | Special Cases: If linkedinLink is absent the IF guard must prevent execution; consider trimming/validating URL."
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -560,
        1040
      ],
      "id": "6e3119c9-9352-4460-acfb-2d9716fe26bb",
      "name": "Missing LinkedIn URL - DONE",
      "notes": "PHASE: Utility | Purpose: Provide a clear sink for items where the LinkedIn URL is missing so the workflow path is explicit. | Inputs: Items from the IF node's false branch. | Outputs: Pass-through items for optional logging or safe termination. | Dependencies: None. | Special Cases: Consider swapping with an Error node if missing URL is considered a hard failure."
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -560,
        656
      ],
      "id": "b96e6da2-6824-4b65-850d-9e4e5ae2048a",
      "name": "NO LinkedIn URL - DONE",
      "notes": "PHASE: Utility | Purpose: Provide a clear sink for items where the LinkedIn URL is missing so the workflow path is explicit. | Inputs: Items from the IF node's false branch. | Outputs: Pass-through items for optional logging or safe termination. | Dependencies: None. | Special Cases: Consider swapping with an Error node if missing URL is considered a hard failure."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5cd68091-a695-48ea-87d9-addb9a8f13e8",
              "leftValue": "={{ $json.records[0].id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -784,
        -400
      ],
      "id": "9590260c-bea5-4ede-a469-4d2b6b3a0818",
      "name": "Check Analysis Exists - IF"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -560,
        -496
      ],
      "id": "f4d5496e-d3f5-4762-8143-fd107c9583f8",
      "name": "Already Exists - DONE"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1680,
        272
      ],
      "id": "717bb004-18c5-4938-9713-642f3b43d941",
      "name": "Start"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "94242ea6-1500-4965-b342-f8eac58ddb77",
              "name": "recId",
              "value": "={{ $json.recId }}",
              "type": "string"
            },
            {
              "id": "9e9abb59-5463-4a98-b087-eded0bf554fb",
              "name": "config",
              "value": "={{ $json.config }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1456,
        272
      ],
      "id": "60639fc3-1215-41db-95a0-9576cd7c6474",
      "name": "Workflow Data"
    },
    {
      "parameters": {
        "url": "=https://api.airtable.com/v0/{{ $('Workflow Data').item.json.config.vault.BASE_ID }}/Analysis",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filterByFormula",
              "value": "={peopleRecId} = '{{ $json.id }}'"
            },
            {
              "name": "maxRecords",
              "value": "1"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Workflow Data').item.json.config.vault.AIRTABLE_PERSONAL_ACCESS_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1008,
        -400
      ],
      "id": "0dac391f-d903-4033-a304-894d44269493",
      "name": "Search People - AT Analysis",
      "retryOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.airtable.com/v0/{{ $('Workflow Data').first().json.config.vault.BASE_ID }}/Analysis",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Workflow Data').first().json.config.vault.AIRTABLE_PERSONAL_ACCESS_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"records\": [\n    {\n      \"fields\": {\n        \"people\": [\"{{ $('Get Person Details - AT by RecID').first().json.id }}\"]\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -560,
        -304
      ],
      "id": "56e999fa-39bc-4afa-bc44-0d778ab236da",
      "name": "Create People - AT Analysis"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.airtable.com/v0/{{ $('Workflow Data').first().json.config.vault.BASE_ID }}/People/{{ $('Workflow Data').first().json.recId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Workflow Data').first().json.config.vault.AIRTABLE_PERSONAL_ACCESS_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"fields\": {\n    \"companyLinkedInPostsProcessed\": false,\n    \"profileLinkedInPostsProcessed\": false,\n    \"profileLinkedInReactionsProcessed\": false,\n    \"companyWebsiteScrappingProcessed\": false,\n    \"analyzedWithAI\": true,\n    \"analyzeWithAIRunning\": true,\n    \"action\": \"AI analysis in progress\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1008,
        -112
      ],
      "id": "11049f10-8662-4595-b712-8e8338fafba1",
      "name": "ReInit Processed Value - AT People",
      "retryOnFail": true
    },
    {
      "parameters": {
        "url": "=https://api.airtable.com/v0/{{ $('Workflow Data').first().json.config.vault.BASE_ID }}/People/{{ $('Workflow Data').first().json.recId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Workflow Data').first().json.config.vault.AIRTABLE_PERSONAL_ACCESS_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1232,
        272
      ],
      "id": "f1bdb511-9727-4478-9ff6-add3483b26ed",
      "name": "Get Person Details - AT by RecID",
      "retryOnFail": true
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.airtable.com/v0/{{ $('Workflow Data').first().json.config.vault.BASE_ID }}/People/{{ $('Workflow Data').first().json.recId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Workflow Data').first().json.config.vault.AIRTABLE_PERSONAL_ACCESS_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"fields\": {\n    \"action\": \"AI analysis completed\",\n    \"lastAIActionDate\": \"{{ $now }}\",\n    \"actionStatusDetails\": \"LinkedIn profile analysis with AI completed.\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -560,
        464
      ],
      "id": "52672b69-290a-41b0-9d53-8139d4a61e25",
      "name": "Update People Status - AT People",
      "retryOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e9ae0251-3cbe-43d9-a0cf-f9c189bb3084",
              "leftValue": "={{ $json.isArchived }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -336,
        -112
      ],
      "id": "09928a7d-c847-42b3-bd45-da8fab7bdc20",
      "name": "Filter Archived"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e9ae0251-3cbe-43d9-a0cf-f9c189bb3084",
              "leftValue": "={{ $json.isArchived }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -336,
        80
      ],
      "id": "b752e9f5-2743-4d20-be74-4b76c499e00f",
      "name": "Filter Archived1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e9ae0251-3cbe-43d9-a0cf-f9c189bb3084",
              "leftValue": "={{ $json.isArchived }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -336,
        272
      ],
      "id": "58e1bbda-1e07-4c10-b8cd-f6d8e09f8d9c",
      "name": "Filter Archived3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e9ae0251-3cbe-43d9-a0cf-f9c189bb3084",
              "leftValue": "={{ $json.isArchived }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -336,
        848
      ],
      "id": "f832dc81-ab80-4f57-be65-965e68fd4452",
      "name": "Filter Archived4"
    },
    {
      "parameters": {
        "url": "=https://api.airtable.com/v0/{{ $('Workflow Data').item.json.config.vault.BASE_ID }}/Scoring%20Rules",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filterByFormula",
              "value": "={internalRuleName} = \"scoring_rules\""
            },
            {
              "name": "maxRecords",
              "value": "1"
            },
            {
              "name": "fields[0]",
              "value": "includeWebsite"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Workflow Data').item.json.config.vault.AIRTABLE_PERSONAL_ACCESS_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -560,
        1232
      ],
      "id": "f4004722-466f-4a53-9340-7584db5f5379",
      "name": "Search Apollo URL - AT Apollo",
      "retryOnFail": true
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.airtable.com/v0/{{ $('Workflow Data').first().json.config.vault.BASE_ID }}/People/{{ $('Workflow Data').first().json.recId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Workflow Data').first().json.config.vault.AIRTABLE_PERSONAL_ACCESS_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"fields\": {\n    \"companyWebsiteScrappingProcessed\": true\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -560,
        1424
      ],
      "id": "d4db332d-bcd4-41bb-b9c5-137743798569",
      "name": "Set Website Processed - No Website - Set",
      "retryOnFail": true
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.airtable.com/v0/{{ $('Workflow Data').first().json.config.vault.BASE_ID }}/People/{{ $('Workflow Data').first().json.recId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Workflow Data').first().json.config.vault.AIRTABLE_PERSONAL_ACCESS_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"fields\": {\n    \"companyWebsiteScrappingProcessed\": true\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -112,
        1328
      ],
      "id": "59fa37c1-d214-4c02-ba69-6e2fc0d867de",
      "name": "Set Website Processed - No Website - Set1",
      "retryOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e9ae0251-3cbe-43d9-a0cf-f9c189bb3084",
              "leftValue": "={{ $json.isArchived }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        112,
        1136
      ],
      "id": "c341ba36-6114-4660-893c-4fcf16aa8131",
      "name": "Filter Archived5"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.workflow_id }}",
          "cachedResultName": "={{ $json.workflow_id }}"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        560,
        1136
      ],
      "id": "25f35bce-2703-4a9c-bd9a-4076c441a1c5",
      "name": "Triggers  > Apify > Web Scraping Create a Task",
      "notes": "PHASE: Execution | Purpose: Invoke the child workflow that triggers Apify to collect the target profile's LinkedIn posts (fire-and-forget). | Inputs: recId and linkedinLink prepared by the upstream Set node plus execution context. | Outputs: No immediate payload due to waitForSubWorkflow=false; main flow continues. | Dependencies: Subflow 'Boost Research — Processing > Sub > Linkedin Profile Posts > Apify' and Apify credentials/config in that subflow. | Special Cases: Branch should only run when linkedinLink is present; subflow may throttle per Apify limits and handle its own errors."
    },
    {
      "parameters": {
        "returnAll": false,
        "limit": 1,
        "filters": {
          "name": "[2020]",
          "excludePinnedData": true
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -560,
        -112
      ],
      "id": "8dd140ce-64c0-44ca-b453-39bb037a383f",
      "name": "Get Workflow Id - [2020]",
      "credentials": {
        "n8nApi": {
          "id": "DeDKPUGV1gyQwspX",
          "name": "n8n local"
        }
      }
    },
    {
      "parameters": {
        "returnAll": false,
        "limit": 1,
        "filters": {
          "name": "[2030]",
          "excludePinnedData": true
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -560,
        80
      ],
      "id": "9b4f350a-c2fb-450c-8daf-339a4a7bafee",
      "name": "Get Workflow Id - [2030]",
      "credentials": {
        "n8nApi": {
          "id": "DeDKPUGV1gyQwspX",
          "name": "n8n local"
        }
      }
    },
    {
      "parameters": {
        "returnAll": false,
        "limit": 1,
        "filters": {
          "name": "[2040]",
          "excludePinnedData": true
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -560,
        272
      ],
      "id": "90aeb488-f259-4f07-b721-841cac6bcaec",
      "name": "Get Workflow Id - [2040]",
      "credentials": {
        "n8nApi": {
          "id": "DeDKPUGV1gyQwspX",
          "name": "n8n local"
        }
      }
    },
    {
      "parameters": {
        "returnAll": false,
        "limit": 1,
        "filters": {
          "name": "[2050]",
          "excludePinnedData": true
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -560,
        848
      ],
      "id": "bad1c533-a54c-46fe-bc36-8b6e17405170",
      "name": "Get Workflow Id - [2050]",
      "credentials": {
        "n8nApi": {
          "id": "DeDKPUGV1gyQwspX",
          "name": "n8n local"
        }
      }
    },
    {
      "parameters": {
        "returnAll": false,
        "limit": 1,
        "filters": {
          "name": "[2100]",
          "excludePinnedData": true
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -112,
        1136
      ],
      "id": "48e10801-663f-412e-acb8-370dc617f926",
      "name": "Get Workflow Id - [2100]",
      "credentials": {
        "n8nApi": {
          "id": "DeDKPUGV1gyQwspX",
          "name": "n8n local"
        }
      }
    }
  ],
  "repo_name": "boost-prospect-v2",
  "repo_owner": "ultimvision",
  "repo_path": "workflows",
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "xqIMv4nOqM7qzjDi"
  },
  "shared": [
    {
      "createdAt": "2025-08-25T15:03:19.711Z",
      "updatedAt": "2025-08-25T15:03:19.711Z",
      "role": "workflow:owner",
      "workflowId": "55gdUS7QJcJbkc8V",
      "projectId": "zxVtQj8AiJx7hlkL"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-09-07T13:56:33.651Z",
      "updatedAt": "2025-09-07T13:56:33.651Z",
      "id": "p3ITgML19KuPj74r",
      "name": "Version : 1.1"
    },
    {
      "createdAt": "2025-09-05T11:43:12.743Z",
      "updatedAt": "2025-09-05T11:43:12.743Z",
      "id": "2WGDY3428pMfpzn6",
      "name": "Boost Prospect"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-09-07T14:10:04.199Z",
  "versionId": "32af7960-ad82-4edf-afab-6810ead6014d"
}