workflows2025/08/FY8daboaN3q8Yhsa.json
{
  "active": false,
  "connections": {
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Split Out3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "regions": {
      "main": [
        [
          {
            "node": "Split Out4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out4": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Prepare DuProprio Setup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Workflow Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Data": {
      "main": [
        [
          {
            "node": "Get Workflow [REAL-1010:sub]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Workflow [REAL-1010:sub]": {
      "main": [
        [
          {
            "node": "Filter Not Archived",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Not Archived": {
      "main": [
        [
          {
            "node": "Sub Workflow ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sub Workflow ID": {
      "main": [
        [
          {
            "node": "regions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare DuProprio Setup": {
      "main": [
        [
          {
            "node": "Sync with DuProprio by Region",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync with DuProprio by Region": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2025-08-27T13:03:21.777Z",
  "id": "FY8daboaN3q8Yhsa",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Triggers > Sync with DuProprio [REAL-1000]",
  "nodes": [
    {
      "parameters": {
        "url": "https://duproprio.com/en/api-proxy/map-search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "is_for_sale",
              "value": "1"
            },
            {
              "name": "with_builders",
              "value": "1"
            },
            {
              "name": "parent",
              "value": "1"
            },
            {
              "name": "sort",
              "value": "-published_at"
            },
            {
              "name": "page[number]",
              "value": "1"
            },
            {
              "name": "province",
              "value": "1"
            },
            {
              "name": "page[size]",
              "value": "11"
            },
            {
              "name": "include",
              "value": "builders"
            },
            {
              "name": "min_latitude",
              "value": "46.72206465233777"
            },
            {
              "name": "min_longitude",
              "value": "-72.00978469848634"
            },
            {
              "name": "max_latitude",
              "value": "47.02716676678123"
            },
            {
              "name": "max_longitude",
              "value": "-70.61816024780275"
            },
            {
              "name": "search_scope",
              "value": "in"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -416,
        -432
      ],
      "id": "582c5931-3b26-412e-b6af-dbbfa16e4112",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -192,
        -432
      ],
      "id": "e3b75737-5254-4739-81a4-4a7ffa5b7395",
      "name": "Split Out"
    },
    {
      "parameters": {
        "url": "https://duproprio.com/fr/api-proxy/map-search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "position",
              "value": "47.58810479342969,-71.42349243164064"
            },
            {
              "name": "is_builder",
              "value": "1"
            },
            {
              "name": "parent",
              "value": "1"
            },
            {
              "name": "page[number]",
              "value": "1"
            },
            {
              "name": "province",
              "value": "1"
            },
            {
              "name": "page[size]",
              "value": "11"
            },
            {
              "name": "with_builders",
              "value": "1"
            },
            {
              "name": "include",
              "value": "builders"
            },
            {
              "name": "min_latitude",
              "value": "44.674352304281435"
            },
            {
              "name": "min_longitude",
              "value": "-80.84783935546875"
            },
            {
              "name": "max_latitude",
              "value": "50.379922183373345"
            },
            {
              "name": "max_longitude",
              "value": "-62.00738525390626"
            },
            {
              "name": "search_scope",
              "value": "in"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -416,
        -656
      ],
      "id": "c9b4a6c5-114a-4131-8599-a505ac92a42e",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -192,
        -656
      ],
      "id": "66d66bd0-7594-4850-8016-77799febe1d9",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "url": "https://duproprio.com/fr/api-proxy/map-search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "regions[]",
              "value": "115"
            },
            {
              "name": "online_since",
              "value": "30"
            },
            {
              "name": "parent",
              "value": "1"
            },
            {
              "name": "sort",
              "value": "-published_at"
            },
            {
              "name": "page[number]",
              "value": "1"
            },
            {
              "name": "province",
              "value": "1"
            },
            {
              "name": "page[size]",
              "value": "11"
            },
            {
              "name": "with_builders",
              "value": "1"
            },
            {
              "name": "include",
              "value": "builders"
            },
            {
              "name": "min_latitude",
              "value": "42.77014"
            },
            {
              "name": "min_longitude",
              "value": "-80.48584"
            },
            {
              "name": "max_latitude",
              "value": "63.01511"
            },
            {
              "name": "max_longitude",
              "value": "-55.59082"
            },
            {
              "name": "search_scope",
              "value": "in"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -416,
        -880
      ],
      "id": "a82c4bde-9aaf-41cc-9d3f-8dd0a864003d",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -192,
        -880
      ],
      "id": "755d2aa3-c93f-4e1b-874c-2142aefc7c71",
      "name": "Split Out3"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"regions\": [\n    115,\n    257,\n    3,\n    8,\n    1,\n    17,\n    114,\n    12,\n    9,\n    5,\n    11,\n    14,\n    15,\n    13,\n    4,\n    6,\n    16,\n    31,\n    10,\n    7,\n    2\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        704,
        -1104
      ],
      "id": "4ba27913-eccc-4c0d-baea-20e88d30e8b3",
      "name": "regions"
    },
    {
      "parameters": {
        "fieldToSplitOut": "regions",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        928,
        -1104
      ],
      "id": "bb72429f-f432-460e-9bde-72c88397d337",
      "name": "Split Out4"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1152,
        -1104
      ],
      "id": "1ec5cf77-8edd-483c-8ebd-7ba5858b1c77",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -416,
        -1104
      ],
      "id": "f1693374-d6bc-422c-ba4f-cc3ceb158c63",
      "name": "Start"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e9ae0251-3cbe-43d9-a0cf-f9c189bb3084",
              "leftValue": "={{ $json.isArchived }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        256,
        -1104
      ],
      "id": "08b8d681-1886-4b6a-8267-74f7b72d1582",
      "name": "Filter Not Archived"
    },
    {
      "parameters": {
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -192,
        -1104
      ],
      "id": "75081c15-4f72-46fd-b3cd-0193932584bd",
      "name": "Workflow Data"
    },
    {
      "parameters": {
        "returnAll": false,
        "limit": 1,
        "filters": {
          "name": "[REAL-1010:sub]",
          "excludePinnedData": true
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        32,
        -1104
      ],
      "id": "2502eca4-a8bf-4b8c-ae4f-bcffed1928d9",
      "name": "Get Workflow [REAL-1010:sub]",
      "credentials": {
        "n8nApi": {
          "id": "DeDKPUGV1gyQwspX",
          "name": "n8n local"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a3d45fbe-b4f5-4619-bf72-f7577f9726c0",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        -1104
      ],
      "id": "23a2c05f-2285-49c9-8692-c5eb18f6bd0a",
      "name": "Sub Workflow ID"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b11a6cc2-c749-4b57-8518-2e8e8145c766",
              "name": "regions",
              "value": "={{ $json.regions }}",
              "type": "number"
            },
            {
              "id": "d94f69b3-5533-443e-b924-3abc795fb531",
              "name": "workflow_id",
              "value": "={{ $('Sub Workflow ID').item.json.id }}",
              "type": "string"
            },
            {
              "id": "f7a41e28-b8bc-45b0-89fa-e84f3e219bf1",
              "name": "config",
              "value": "={{ $('Workflow Data').item.json.config }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1376,
        -1104
      ],
      "id": "b678c0e1-9062-4ddd-9e49-8010d7d6f1f2",
      "name": "Prepare DuProprio Setup"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "={{ $json.workflow_id }}",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1600,
        -1104
      ],
      "id": "0d9104f1-fa40-4253-8d5e-46d43b95fc12",
      "name": "Sync with DuProprio by Region"
    }
  ],
  "repo_name": "boost-prospect-v2",
  "repo_owner": "ultimvision",
  "repo_path": "workflows",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-08-27T13:03:21.777Z",
      "updatedAt": "2025-08-27T13:03:21.777Z",
      "role": "workflow:owner",
      "workflowId": "FY8daboaN3q8Yhsa",
      "projectId": "zxVtQj8AiJx7hlkL"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-09-04T22:43:01.865Z",
      "updatedAt": "2025-09-04T22:43:01.865Z",
      "id": "Cp4HuHYYH5oI0kTw",
      "name": "Real Estate"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-09-04T22:43:14.401Z",
  "versionId": "fb166429-be1c-4d11-91c9-1b19bad92f5a"
}