workflows2025/08/hSNyl59jZVi9g60L.json
{
  "active": false,
  "connections": {
    "Check Include Website - IF": {
      "main": [
        [
          {
            "node": "Check Analysis Completed - IF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Analysis Completed No Website - IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Analysis Completed - IF": {
      "main": [
        [
          {
            "node": "Check Analysis Completed No Website - IF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait All Tasks Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Analysis Completed No Website - IF": {
      "main": [
        [
          {
            "node": "Update People Post Behavior - AT People",
            "type": "main",
            "index": 0
          },
          {
            "node": "Analyze user posts",
            "type": "main",
            "index": 0
          },
          {
            "node": "Analyze user posts1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Not Ready - DONE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze user posts": {
      "main": [
        [
          {
            "node": "Set User Analysis - SET",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update People Post Behavior - AT People1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Model GPT-5": {
      "ai_languageModel": [
        [
          {
            "node": "Analyze user posts",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Model1 Gemino 2.5 Pro": {
      "ai_languageModel": [
        [
          {
            "node": "Analyze user posts",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Analyze user posts",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Analyze user posts1": {
      "main": [
        [
          {
            "node": "Set Company Analysis - SET",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update People Post Behavior - AT People2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Model GPT-": {
      "ai_languageModel": [
        [
          {
            "node": "Analyze user posts1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Model1 Gemino 2.5 Pro1": {
      "ai_languageModel": [
        [
          {
            "node": "Analyze user posts1",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Analyze user posts1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Check Include Website - IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final qualification analysis": {
      "main": [
        [
          {
            "node": "Update People Post Behavior - AT People4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "Final qualification analysis",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Set User Analysis - SET": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Company Analysis - SET": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "OpenRouter Model GPT-6": {
      "ai_languageModel": [
        [
          {
            "node": "Final qualification analysis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Model1 Gemino 2.5 Pro2": {
      "ai_languageModel": [
        [
          {
            "node": "Final qualification analysis",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "OpenRouter Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Check Include Website - IF1": {
      "main": [
        [
          {
            "node": "Analyze Website",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Final qualification analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Model GPT-7": {
      "ai_languageModel": [
        [
          {
            "node": "Analyze Website",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Model1 Gemino 2.5 Pro3": {
      "ai_languageModel": [
        [
          {
            "node": "Analyze Website",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Structured Output Parser3": {
      "ai_outputParser": [
        [
          {
            "node": "Analyze Website",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Website": {
      "main": [
        [
          {
            "node": "Set Website Analysis - SET",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update People Post Behavior - AT People3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Website Analysis - SET": {
      "main": [
        [
          {
            "node": "Final qualification analysis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final qualification analysis1": {
      "main": [
        [
          {
            "node": "Update People Post Behavior - AT People5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser4": {
      "ai_outputParser": [
        [
          {
            "node": "Final qualification analysis1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Model GPT-8": {
      "ai_languageModel": [
        [
          {
            "node": "Final qualification analysis1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Model1 Gemino 2.5 Pro4": {
      "ai_languageModel": [
        [
          {
            "node": "Final qualification analysis1",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "OpenRouter Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser4",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Workflow Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Data": {
      "main": [
        [
          {
            "node": "Get Details - AT People",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Details - AT People": {
      "main": [
        [
          {
            "node": "Get Scoring Rules - SEARCH",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Scoring Rules - SEARCH": {
      "main": [
        [
          {
            "node": "Check Include Website - IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-25T15:13:48.979Z",
  "id": "hSNyl59jZVi9g60L",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[3010] Calculating Profile Score",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bbb3a9ec-778f-4647-9ab4-64e33a451f6e",
              "leftValue": "={{ $json.records[0].fields.includeWebsite }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "838c2586-9f0d-435d-b605-b4b357549b02",
              "leftValue": "={{ $json.records[0].fields.includeWebsite }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -864,
        448
      ],
      "id": "55eb4fda-3971-4db5-ad04-b0c79babf793",
      "name": "Check Include Website - IF"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cd9fbf7c-5f6b-44a3-a0ce-142032276bb0",
              "leftValue": "={{ $('Get Details - AT People').first().json.fields.companyLinkedInPostsProcessed }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "a07e5bfd-7140-4542-a8f6-1b75fe01a362",
              "leftValue": "={{ $('Get Details - AT People').first().json.fields.profileLinkedInPostsProcessed }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "4a9a40c5-63df-4acd-b8ee-cb18392d7830",
              "leftValue": "={{ $('Get Details - AT People').first().json.fields.profileLinkedInReactionsProcessed }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "1c03ae3e-d0d3-4518-9e7b-135410abe3a4",
              "leftValue": "={{ $('Get Details - AT People').first().json.fields.companyWebsiteScrappingProcessed }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -640,
        384
      ],
      "id": "97b64d5c-4e43-4580-9335-161059ae8e0e",
      "name": "Check Analysis Completed - IF"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cd9fbf7c-5f6b-44a3-a0ce-142032276bb0",
              "leftValue": "={{ $('Get Details - AT People').first().json.fields.companyLinkedInPostsProcessed }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "a07e5bfd-7140-4542-a8f6-1b75fe01a362",
              "leftValue": "={{ $('Get Details - AT People').first().json.fields.profileLinkedInPostsProcessed }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "4a9a40c5-63df-4acd-b8ee-cb18392d7830",
              "leftValue": "={{ $('Get Details - AT People').first().json.fields.profileLinkedInReactionsProcessed }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -416,
        448
      ],
      "id": "af6fffff-4a83-44fb-b173-7c71208f2ed7",
      "name": "Check Analysis Completed No Website - IF"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=LinkedIn Posts:\n\n{{ $('Get Details - AT People').first().json.fields.jsonProfileLinkedInPosts }}",
        "hasOutputParser": true,
        "needsFallback": true,
        "messages": {
          "messageValues": [
            {
              "message": "={{ $('Get Scoring Rules - SEARCH').first().json.records[0].fields.analyzeUserPosts }}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -144,
        -64
      ],
      "id": "f4cf97bc-ea81-4514-a598-d5c4e028fa40",
      "name": "Analyze user posts",
      "retryOnFail": true
    },
    {
      "parameters": {
        "model": "=openai/gpt-5-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -192,
        160
      ],
      "id": "f849ebcc-ccec-4520-96be-5ef0c09acfe3",
      "name": "OpenRouter Model GPT-5",
      "credentials": {
        "openRouterApi": {
          "id": "0qavXgV1FZOxQIaU",
          "name": "OpenRouter"
        }
      }
    },
    {
      "parameters": {
        "model": "=google/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -64,
        160
      ],
      "id": "ff08690a-0d37-4189-abc6-9e16bd8b5911",
      "name": "OpenRouter Model1 Gemino 2.5 Pro",
      "credentials": {
        "openRouterApi": {
          "id": "0qavXgV1FZOxQIaU",
          "name": "OpenRouter"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"score\": 1,\n  \"quality\": \"Low\",\n  \"reasoning\": \"User is not active and the single post from 2019 is not relevant to ESG topics.\",\n  \"final_answer\": \"The person has a score of 1, with low quality, because they are not active and their only post from 2019 is not relevant to ESG topics.\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        64,
        160
      ],
      "id": "cda6cf54-442a-48c2-aacf-47a07912587f",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": "=openai/gpt-4.1-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        144,
        368
      ],
      "id": "e40b4de8-9def-4e71-8a01-3157487f30e2",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "0qavXgV1FZOxQIaU",
          "name": "OpenRouter"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        16,
        1152
      ],
      "id": "e8dd60a4-1dba-4ede-b317-5105bb641dfd",
      "name": "Not Ready - DONE"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=LinkedIn Posts:\n\n{{ $('Get Details - AT People').first().json.fields.jsonProfileLinkedInPosts }}",
        "hasOutputParser": true,
        "needsFallback": true,
        "messages": {
          "messageValues": [
            {
              "message": "={{ $('Get Scoring Rules - SEARCH').first().json.records[0].fields.analyzeCompanyPosts }}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -144,
        544
      ],
      "id": "5ce2952f-21d6-418a-9ece-41de5a2fbadc",
      "name": "Analyze user posts1",
      "retryOnFail": true
    },
    {
      "parameters": {
        "model": "=openai/gpt-5-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -192,
        768
      ],
      "id": "6fd50e24-3350-47bc-9633-7a6944f0bdba",
      "name": "OpenRouter Model GPT-",
      "credentials": {
        "openRouterApi": {
          "id": "0qavXgV1FZOxQIaU",
          "name": "OpenRouter"
        }
      }
    },
    {
      "parameters": {
        "model": "=google/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -64,
        768
      ],
      "id": "1ef867cd-8211-4045-a0d4-1438a1fa9911",
      "name": "OpenRouter Model1 Gemino 2.5 Pro1",
      "credentials": {
        "openRouterApi": {
          "id": "0qavXgV1FZOxQIaU",
          "name": "OpenRouter"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"score\": 1,\n  \"quality\": \"Faible\",\n  \"reasoning\": \"Company is not active and the single post from 2019 is not relevant to ESG topics.\",\n  \"final_answer\": \"The company has a score of 1, with low quality, because they are not active and their only post from 2019 is not relevant to ESG topics.\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        64,
        768
      ],
      "id": "cb9aabb7-17b3-418d-a03f-068fe795228f",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "model": "=openai/gpt-4.1-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        144,
        976
      ],
      "id": "61c68685-7e61-478a-bbc0-7e5335cb9d46",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "0qavXgV1FZOxQIaU",
          "name": "OpenRouter"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        656,
        336
      ],
      "id": "c9581f77-4dc8-44e3-978f-b328d401c325",
      "name": "Merge"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.toJsonString()}}",
        "hasOutputParser": true,
        "needsFallback": true,
        "messages": {
          "messageValues": [
            {
              "message": "={{ $('Get Scoring Rules - SEARCH').first().json.records[0].fields.finalQualificationNoWebsite }}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1168,
        752
      ],
      "id": "7aa86be4-193b-44be-85fc-33fbf0a82840",
      "name": "Final qualification analysis",
      "retryOnFail": true
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"score\": 1,\n  \"quality\": \"Faible\",\n  \"reasoning\": \"User is not active and the single post from 2019 is not relevant to ESG topics.\",\n  \"final_answer\": \"The person has a score of 1, with low quality, because they are not active and their only post from 2019 is not relevant to ESG topics.\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        1360,
        976
      ],
      "id": "c501ff60-252d-4b46-b4a4-81801cb8dcad",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "65cf3bff-f962-442e-bcdb-54128ec87ec8",
              "name": "userPostAnalysis",
              "value": "={{ $json.output }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        432,
        240
      ],
      "id": "958027ba-c052-4418-801d-273278cd21a0",
      "name": "Set User Analysis - SET"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "65cf3bff-f962-442e-bcdb-54128ec87ec8",
              "name": "companyPostAnalysis",
              "value": "={{ $json.output }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        432,
        656
      ],
      "id": "9ecb3608-c470-4bfa-a42b-12f8a8982008",
      "name": "Set Company Analysis - SET"
    },
    {
      "parameters": {
        "model": "=openai/gpt-5-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1104,
        976
      ],
      "id": "f4bb9c8f-581e-4381-89ec-610441e85e60",
      "name": "OpenRouter Model GPT-6",
      "credentials": {
        "openRouterApi": {
          "id": "0qavXgV1FZOxQIaU",
          "name": "OpenRouter"
        }
      }
    },
    {
      "parameters": {
        "model": "=google/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1232,
        976
      ],
      "id": "c8b951c0-ed30-42e7-b888-2dcc7b24a54d",
      "name": "OpenRouter Model1 Gemino 2.5 Pro2",
      "credentials": {
        "openRouterApi": {
          "id": "0qavXgV1FZOxQIaU",
          "name": "OpenRouter"
        }
      }
    },
    {
      "parameters": {
        "model": "=openai/gpt-4.1-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1440,
        1184
      ],
      "id": "96ccb5ee-2f64-43f0-8f25-e22b9b9d4709",
      "name": "OpenRouter Chat Model2",
      "credentials": {
        "openRouterApi": {
          "id": "0qavXgV1FZOxQIaU",
          "name": "OpenRouter"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -416,
        640
      ],
      "id": "c11c2b8c-c3a6-4b67-a6f4-8f6cc4b84f90",
      "name": "Wait All Tasks Completed"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bbb3a9ec-778f-4647-9ab4-64e33a451f6e",
              "leftValue": "={{ $('Get Scoring Rules - SEARCH').first().json.records[0].fields.includeWebsite }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "9906375a-d0ea-42b8-a8ce-0282772a3ecd",
              "leftValue": "={{ $('Get Scoring Rules - SEARCH').first().json.records[0].fields.includeWebsite }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        880,
        336
      ],
      "id": "2de0a447-78be-49f6-8ad9-e0790f362f2d",
      "name": "Check Include Website - IF1"
    },
    {
      "parameters": {
        "model": "=openai/gpt-5-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1104,
        160
      ],
      "id": "dc0be8cf-4081-440c-a232-e98299208118",
      "name": "OpenRouter Model GPT-7",
      "credentials": {
        "openRouterApi": {
          "id": "0qavXgV1FZOxQIaU",
          "name": "OpenRouter"
        }
      }
    },
    {
      "parameters": {
        "model": "=google/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1232,
        160
      ],
      "id": "eef691a2-3f5e-4102-86af-e60ecacd9f6d",
      "name": "OpenRouter Model1 Gemino 2.5 Pro3",
      "credentials": {
        "openRouterApi": {
          "id": "0qavXgV1FZOxQIaU",
          "name": "OpenRouter"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"score\": 1,\n  \"quality\": \"Faible\",\n  \"reasoning\": \"User is not active and the single post from 2019 is not relevant to ESG topics.\",\n  \"final_answer\": \"The person has a score of 1, with low quality, because they are not active and their only post from 2019 is not relevant to ESG topics.\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1360,
        160
      ],
      "id": "637540f4-8220-47ae-94c2-18412eb209f3",
      "name": "Structured Output Parser3"
    },
    {
      "parameters": {
        "model": "=openai/gpt-4.1-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1440,
        368
      ],
      "id": "c173e125-6b67-461d-8f76-50a24aada1b9",
      "name": "OpenRouter Chat Model3",
      "credentials": {
        "openRouterApi": {
          "id": "0qavXgV1FZOxQIaU",
          "name": "OpenRouter"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Website :\n{{ $('Get Details - AT People').first().json.fields.websiteContent }}",
        "hasOutputParser": true,
        "needsFallback": true,
        "messages": {
          "messageValues": [
            {
              "message": "={{ $('Get Scoring Rules - SEARCH').item.json.records[0].fields.analyzeCompanyWebsite }}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1168,
        -64
      ],
      "id": "a9586155-d0dd-4b7d-ae6f-af367b741b87",
      "name": "Analyze Website",
      "retryOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "65cf3bff-f962-442e-bcdb-54128ec87ec8",
              "name": "webSiteAnalysis",
              "value": "={{ $json.output }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1728,
        352
      ],
      "id": "c6549167-92b5-4bc9-b24c-2c1042330827",
      "name": "Set Website Analysis - SET"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=LinkedIn Activity User :\n{{ JSON.stringify($('Merge').item.json.userPostAnalysis) }}\n\nLinkedIn Activity Company :\n{{ JSON.stringify($('Merge').item.json.companyPostAnalysis) }}\n\nWebsite :\n{{ $json.toJsonString()}}\n\n\n",
        "hasOutputParser": true,
        "needsFallback": true,
        "messages": {
          "messageValues": [
            {
              "message": "={{ $('Get Scoring Rules - SEARCH').first().json.records[0].fields.finalQualification }}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        2016,
        352
      ],
      "id": "1f81a311-a785-412b-9d47-2f1c30e786d7",
      "name": "Final qualification analysis1",
      "retryOnFail": true
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"score\": 1,\n  \"quality\": \"Faible\",\n  \"reasoning\": \"User is not active and the single post from 2019 is not relevant to ESG topics.\",\n  \"final_answer\": \"The person has a score of 1, with low quality, because they are not active and their only post from 2019 is not relevant to ESG topics.\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        2208,
        576
      ],
      "id": "411551f2-b48c-41ad-b4ca-481185398d50",
      "name": "Structured Output Parser4"
    },
    {
      "parameters": {
        "model": "=openai/gpt-5-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1952,
        576
      ],
      "id": "33f276f1-cd50-4252-a453-b5aba9e70e87",
      "name": "OpenRouter Model GPT-8",
      "credentials": {
        "openRouterApi": {
          "id": "0qavXgV1FZOxQIaU",
          "name": "OpenRouter"
        }
      }
    },
    {
      "parameters": {
        "model": "=google/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2080,
        576
      ],
      "id": "c76d0d75-801c-4b4c-bee4-6c431087fcc9",
      "name": "OpenRouter Model1 Gemino 2.5 Pro4",
      "credentials": {
        "openRouterApi": {
          "id": "0qavXgV1FZOxQIaU",
          "name": "OpenRouter"
        }
      }
    },
    {
      "parameters": {
        "model": "=openai/gpt-4.1-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2288,
        784
      ],
      "id": "bfc37544-8f7a-4bc4-a5f2-6d4acf3e7417",
      "name": "OpenRouter Chat Model4",
      "credentials": {
        "openRouterApi": {
          "id": "0qavXgV1FZOxQIaU",
          "name": "OpenRouter"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1760,
        448
      ],
      "id": "c62f5255-891a-4320-8403-1ccc7ba483bf",
      "name": "Start"
    },
    {
      "parameters": {
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1536,
        448
      ],
      "id": "d4ca2f58-c5e8-4e8a-b68f-25d38a0c989b",
      "name": "Workflow Data"
    },
    {
      "parameters": {
        "url": "=https://api.airtable.com/v0/{{ $('Workflow Data').first().json.config.vault.BASE_ID }}/People/{{ $('Workflow Data').first().json.recId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Workflow Data').first().json.config.vault.AIRTABLE_PERSONAL_ACCESS_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1312,
        448
      ],
      "id": "16e934c1-0b5c-4836-9d62-489bc28af376",
      "name": "Get Details - AT People",
      "retryOnFail": true
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.airtable.com/v0/{{ $('Workflow Data').first().json.config.vault.BASE_ID }}/People/{{ $('Workflow Data').first().json.recId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Workflow Data').first().json.config.vault.AIRTABLE_PERSONAL_ACCESS_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ \n  JSON.stringify({\n    fields: {\n      scoringStatus: \"Calculating...\"\n    }\n  })\n}}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        16,
        -256
      ],
      "id": "a37daa18-8f5c-4f65-9412-7209a6e3a84e",
      "name": "Update People Post Behavior - AT People",
      "retryOnFail": true
    },
    {
      "parameters": {
        "url": "=https://api.airtable.com/v0/{{ $('Workflow Data').item.json.config.vault.BASE_ID }}/Scoring%20Rules",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filterByFormula",
              "value": "={internalRuleName} = 'scoring_rules'"
            },
            {
              "name": "maxRecords",
              "value": "1"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Workflow Data').item.json.config.vault.AIRTABLE_PERSONAL_ACCESS_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1088,
        448
      ],
      "id": "a81c50ea-3ed0-49fa-addf-09deff9997c9",
      "name": "Get Scoring Rules - SEARCH",
      "retryOnFail": true
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.airtable.com/v0/{{ $('Workflow Data').first().json.config.vault.BASE_ID }}/People/{{ $('Workflow Data').first().json.recId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Workflow Data').first().json.config.vault.AIRTABLE_PERSONAL_ACCESS_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ \n  JSON.stringify({\n    fields: {\n      scoringProfilePosts: $json.output.toJsonString()\n    }\n  })\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        432,
        48
      ],
      "id": "0f5b473d-ad16-4ea8-baed-777e3362aab4",
      "name": "Update People Post Behavior - AT People1",
      "retryOnFail": true
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.airtable.com/v0/{{ $('Workflow Data').first().json.config.vault.BASE_ID }}/People/{{ $('Workflow Data').first().json.recId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Workflow Data').first().json.config.vault.AIRTABLE_PERSONAL_ACCESS_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ \n  JSON.stringify({\n    fields: {\n      scoringCompanyPosts: $json.output.toJsonString()\n    }\n  })\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        432,
        848
      ],
      "id": "1c469e26-b279-4411-87db-86b877181e70",
      "name": "Update People Post Behavior - AT People2",
      "retryOnFail": true
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.airtable.com/v0/{{ $('Workflow Data').first().json.config.vault.BASE_ID }}/People/{{ $('Workflow Data').first().json.recId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Workflow Data').first().json.config.vault.AIRTABLE_PERSONAL_ACCESS_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ \n  JSON.stringify({\n    fields: {\n      scoringWebsite: $json.output.toJsonString()\n    }\n  })\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1728,
        48
      ],
      "id": "919701bf-88c2-4cb3-9bb5-e10a199755d8",
      "name": "Update People Post Behavior - AT People3",
      "retryOnFail": true
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.airtable.com/v0/{{ $('Workflow Data').first().json.config.vault.BASE_ID }}/People/{{ $('Workflow Data').first().json.recId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Workflow Data').first().json.config.vault.AIRTABLE_PERSONAL_ACCESS_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ \n  JSON.stringify({\n    fields: {\n      scoringOverall: $json.output.toJsonString(),\n    scoringNote: ($json.output.score * 10) / 100,\nscoringExplication : \"Reasoning :\" + $json.output.reasoning + \" Final answer : \" + $json.output.final_answer,\nanalyzedWithAI: true,\nanalyzeWithAIRunning: false,\nscoringStatus: \"Completed\"\n    }\n  })\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1728,
        752
      ],
      "id": "62ad702c-5283-4263-9e50-c7739714e218",
      "name": "Update People Post Behavior - AT People4",
      "retryOnFail": true
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.airtable.com/v0/{{ $('Workflow Data').first().json.config.vault.BASE_ID }}/People/{{ $('Workflow Data').first().json.recId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Workflow Data').first().json.config.vault.AIRTABLE_PERSONAL_ACCESS_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ \n  JSON.stringify({\n    fields: {\n      scoringOverall: $json.output.toJsonString(),\n    scoringNote: ($json.output.score * 10) / 100,\nscoringExplication : \"Reasoning :\" + $json.output.reasoning + \" Final answer : \" + $json.output.final_answer,\nanalyzedWithAI: true,\nanalyzeWithAIRunning: false,\nscoringStatus: \"Completed\"\n    }\n  })\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2576,
        352
      ],
      "id": "a29a7c47-bad6-4e61-82f4-9948ae9e6445",
      "name": "Update People Post Behavior - AT People5",
      "retryOnFail": true
    }
  ],
  "repo_name": "boost-prospect-v2",
  "repo_owner": "ultimvision",
  "repo_path": "workflows",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-08-25T15:13:48.979Z",
      "updatedAt": "2025-08-25T15:13:48.979Z",
      "role": "workflow:owner",
      "workflowId": "hSNyl59jZVi9g60L",
      "projectId": "zxVtQj8AiJx7hlkL"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-09-05T11:43:12.743Z",
      "updatedAt": "2025-09-05T11:43:12.743Z",
      "id": "2WGDY3428pMfpzn6",
      "name": "Boost Prospect"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-09-05T12:33:59.763Z",
  "versionId": "dc46cf43-d35d-46f1-a3eb-50c115e9fa4d"
}