workflows2025/08/xDYqrP7GNDjTtGDd.json
{
  "active": false,
  "connections": {
    "Check Already Processed - IF": {
      "main": [
        [
          {
            "node": "Update Status - AT AI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check User and Qty - IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check User and Qty - IF": {
      "main": [
        [
          {
            "node": "Update Status - AT AI5",
            "type": "main",
            "index": 0
          },
          {
            "node": "Search People to Analyse by User - AT People",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Status - AT AI4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Clean Data - AGGREGATE",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Status - AT AI6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Modulo 4 - IF": {
      "main": [
        [
          {
            "node": "Wait Manage Server Ressources",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Data - AGGREGATE": {
      "main": [
        [
          {
            "node": "Update Status - AT AI7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Manage Server Ressources": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Workflow Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Data": {
      "main": [
        [
          {
            "node": "Get AI Task Details - AT by RecID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get AI Task Details - AT by RecID": {
      "main": [
        [
          {
            "node": "Check Already Processed - IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search People to Analyse by User - AT People": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status - AT AI6": {
      "main": [
        [
          {
            "node": "Get Workflow Id - [2000]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Archived2": {
      "main": [
        [
          {
            "node": "Prepare Data for People Deepen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Workflow Id - [2000]": {
      "main": [
        [
          {
            "node": "Filter Archived2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Data for People Deepen": {
      "main": [
        [
          {
            "node": "Analyze People and Companies with AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze People and Companies with AI": {
      "main": [
        [
          {
            "node": "Check Modulo 4 - IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-25T15:16:31.689Z",
  "id": "xDYqrP7GNDjTtGDd",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Processing > Launch Scoring System [3000]",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f3bdd86b-6ca0-4189-8a96-dd4551425518",
              "leftValue": "={{ $json.executedAt }}",
              "rightValue": "",
              "operator": {
                "type": "dateTime",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1376,
        -16
      ],
      "id": "f832d65a-0f9e-4a63-a225-fe1aa18c4c78",
      "name": "Check Already Processed - IF"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "af742ac5-49ad-436d-a3ec-5fde1a41f68f",
              "leftValue": "={{ $json.fields.userRecId[0] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "ada9f5f3-9f64-4407-8d7d-8ab2b4bbe287",
              "leftValue": "={{ $json.fields.qtyToProcess }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1152,
        96
      ],
      "id": "83a2b96d-11f6-4848-a461-30c857d2f8d3",
      "name": "Check User and Qty - IF"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -480,
        112
      ],
      "id": "007b531c-6c29-49c3-8f2a-e1b98774c820",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e20a38aa-bce5-4dc5-9ff7-07e229ca831a",
              "leftValue": "={{$runIndex % 4}}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        880,
        80
      ],
      "id": "7e71dee0-ba35-4143-a737-e05d59aa024b",
      "name": "Check Modulo 4 - IF"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -256,
        -352
      ],
      "id": "5dba5d40-f676-4eec-8adf-9162044890b9",
      "name": "Clean Data - AGGREGATE"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1104,
        176
      ],
      "id": "664d14a8-0db2-45a7-a932-29ed0143cf50",
      "name": "Wait Manage Server Ressources",
      "webhookId": "9aa1a3f9-dd36-4d65-8613-24ed037d5d6d"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -2048,
        -16
      ],
      "id": "761cf1b8-d68c-4d72-b4f9-588a53fbd799",
      "name": "Start"
    },
    {
      "parameters": {
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1824,
        -16
      ],
      "id": "61f22f0f-e590-416f-81b9-3079183fd80b",
      "name": "Workflow Data"
    },
    {
      "parameters": {
        "url": "=https://api.airtable.com/v0/{{ $('Workflow Data').first().json.config.vault.BASE_ID }}/AI/{{ $('Workflow Data').first().json.recId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Workflow Data').first().json.config.vault.AIRTABLE_PERSONAL_ACCESS_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1600,
        -16
      ],
      "id": "0a22b00f-10b9-48d2-89cf-9ff3cba9a33a",
      "name": "Get AI Task Details - AT by RecID",
      "retryOnFail": true
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.airtable.com/v0/{{ $('Workflow Data').first().json.config.vault.BASE_ID }}/AI/{{ $('Workflow Data').first().json.recId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Workflow Data').first().json.config.vault.AIRTABLE_PERSONAL_ACCESS_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"fields\": {\n    \"status\": \"Error Detected\",\n    \"statusDetails\": \"This AI task has already been processed\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1152,
        -112
      ],
      "id": "34790d00-d9f6-4cc3-a3f0-5629b7c00c6a",
      "name": "Update Status - AT AI",
      "retryOnFail": true
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.airtable.com/v0/{{ $('Workflow Data').first().json.config.vault.BASE_ID }}/AI/{{ $('Workflow Data').first().json.recId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Workflow Data').first().json.config.vault.AIRTABLE_PERSONAL_ACCESS_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"fields\": {\n    \"status\": \"Error Detected\",\n    \"statusDetails\": \"This AI task has problem. Verify if user exists or qty > 1.\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -928,
        304
      ],
      "id": "46b643c5-0903-442b-8068-368073bc1fda",
      "name": "Update Status - AT AI4",
      "retryOnFail": true
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.airtable.com/v0/{{ $('Workflow Data').first().json.config.vault.BASE_ID }}/AI/{{ $('Workflow Data').first().json.recId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Workflow Data').first().json.config.vault.AIRTABLE_PERSONAL_ACCESS_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"fields\": {\n    \"status\": \"Running\",\n    \"statusDetails\": \"Running task in progress.\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -928,
        -80
      ],
      "id": "2a4c3949-bfd3-4a66-86b6-989bdffcc8cc",
      "name": "Update Status - AT AI5",
      "retryOnFail": true
    },
    {
      "parameters": {
        "fieldToSplitOut": "records",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -704,
        112
      ],
      "id": "569260c8-f59d-493c-8b94-a9b166b63e65",
      "name": "Split Out"
    },
    {
      "parameters": {
        "url": "=https://api.airtable.com/v0/{{ $('Workflow Data').item.json.config.vault.BASE_ID }}/People",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filterByFormula",
              "value": "=AND(   {userRecId} = \"{{ $json.fields.user[0] }}\",   {analyzedWithAI} = 0 )"
            },
            {
              "name": "maxRecords",
              "value": "={{ $json.fields.qtyToProcess }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Workflow Data').item.json.config.vault.AIRTABLE_PERSONAL_ACCESS_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -928,
        112
      ],
      "id": "697fa1b5-97ae-433d-8f82-ff4aec599de4",
      "name": "Search People to Analyse by User - AT People",
      "retryOnFail": true
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.airtable.com/v0/{{ $('Workflow Data').first().json.config.vault.BASE_ID }}/People/{{ $json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Workflow Data').first().json.config.vault.AIRTABLE_PERSONAL_ACCESS_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"fields\": {\n    \"analyzeWithAIRunning\": true,\n    \"analyzedWithAI\": true\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -256,
        112
      ],
      "id": "ee22868c-4b3d-497d-b0f1-0dd3982f0d79",
      "name": "Update Status - AT AI6",
      "retryOnFail": true
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.airtable.com/v0/{{ $('Workflow Data').first().json.config.vault.BASE_ID }}/AI/{{ $('Workflow Data').first().json.recId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Workflow Data').first().json.config.vault.AIRTABLE_PERSONAL_ACCESS_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"fields\": {\n    \"executedAt\": \"{{ $now }}\",\n    \"status\": \"Completed\",\n    \"statusDetails\": \"Completed with success.\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -16,
        -352
      ],
      "id": "fc34f85c-e40a-4590-b9b4-400b5ee5d3ec",
      "name": "Update Status - AT AI7",
      "retryOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e9ae0251-3cbe-43d9-a0cf-f9c189bb3084",
              "leftValue": "={{ $json.isArchived }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        176,
        -96
      ],
      "id": "ae46701c-79c1-44a8-b07b-7171575d36b0",
      "name": "Filter Archived2"
    },
    {
      "parameters": {
        "returnAll": false,
        "limit": 1,
        "filters": {
          "name": "[2000]",
          "excludePinnedData": true
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -48,
        -96
      ],
      "id": "cd2e6566-e92c-4e72-a7a9-e6210f1260ac",
      "name": "Get Workflow Id - [2000]",
      "credentials": {
        "n8nApi": {
          "id": "DeDKPUGV1gyQwspX",
          "name": "n8n local"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d29bdd9e-d19f-4d5a-945b-efc907cdec3a",
              "name": "workflow_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "c652caa2-b3a0-45dc-8e0b-e174f8814e2e",
              "name": "recId",
              "value": "={{ $('Update Status - AT AI6').item.json.id }}",
              "type": "string"
            },
            {
              "id": "c3348893-9e52-49e3-bc59-aded74b47aeb",
              "name": "config",
              "value": "={{ $('Workflow Data').item.json.config }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        -96
      ],
      "id": "4e91ac81-5f8d-48c8-a4ad-02e1c3f6d823",
      "name": "Prepare Data for People Deepen"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "={{ $json.workflow_id }}",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        624,
        -96
      ],
      "id": "a975cbb8-810f-4aef-a24c-e222dabd89bf",
      "name": "Analyze People and Companies with AI"
    }
  ],
  "repo_name": "boost-prospect-v2",
  "repo_owner": "ultimvision",
  "repo_path": "workflows",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-08-25T15:16:31.689Z",
      "updatedAt": "2025-08-25T15:16:31.689Z",
      "role": "workflow:owner",
      "workflowId": "xDYqrP7GNDjTtGDd",
      "projectId": "zxVtQj8AiJx7hlkL"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-08-26T10:37:23.328Z",
      "updatedAt": "2025-08-26T10:37:23.328Z",
      "id": "fgJFu3bUWZN42vve",
      "name": "Scoring"
    },
    {
      "createdAt": "2025-08-26T10:33:17.006Z",
      "updatedAt": "2025-08-26T10:33:17.006Z",
      "id": "Emw8imBHM3k6zkUo",
      "name": "Sub-Workflow"
    },
    {
      "createdAt": "2025-08-25T15:32:43.780Z",
      "updatedAt": "2025-08-25T15:32:43.780Z",
      "id": "iG6zhvDmNAekSWMV",
      "name": "Webhook"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-09-04T21:53:29.610Z",
  "versionId": "7cc7c2ac-09d5-430f-9504-a84363e136c5"
}