workflows2025/08/xDYqrP7GNDjTtGDd.json
{
  "active": false,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get AI Task Details - AT by RecID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get AI Task Details - AT by RecID": {
      "main": [
        [
          {
            "node": "Check Already Processed - IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Already Processed - IF": {
      "main": [
        [
          {
            "node": "Update Status - AT AI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check User and Qty - IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check User and Qty - IF": {
      "main": [
        [
          {
            "node": "Update Status - AT AI3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Search Profile to Process - SEARCH",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Status - AT AI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Profile to Process - SEARCH": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Clean Data - AGGREGATE",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Analyse with AI - AT People",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Analyse with AI - AT People": {
      "main": [
        [
          {
            "node": "Analyze People with AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Modulo 4 - IF": {
      "main": [
        [
          {
            "node": "Wait Manage Server Ressources",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Data - AGGREGATE": {
      "main": [
        [
          {
            "node": "Update Status - AT AI2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Manage Server Ressources": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze People with AI": {
      "main": [
        [
          {
            "node": "Check Modulo 4 - IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-25T15:16:31.689Z",
  "id": "xDYqrP7GNDjTtGDd",
  "isArchived": false,
  "meta": null,
  "name": "Processing > Launch Scoring System",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/launch-scoring",
        "authentication": "headerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1472,
        -32
      ],
      "id": "63417e84-f6a7-4eed-bbc8-7d4daff7d315",
      "name": "Webhook",
      "webhookId": "8c38f3ed-e4cf-4a83-90ef-2d610e15a25c"
    },
    {
      "parameters": {
        "base": {
          "__rl": true,
          "value": "app1cypH1v3pTZcFi",
          "mode": "list",
          "cachedResultName": "Boost Prospect v2",
          "cachedResultUrl": "https://airtable.com/app1cypH1v3pTZcFi"
        },
        "table": {
          "__rl": true,
          "value": "tblerHecAYOBDjMav",
          "mode": "list",
          "cachedResultName": "AI",
          "cachedResultUrl": "https://airtable.com/app1cypH1v3pTZcFi/tblerHecAYOBDjMav"
        },
        "id": "={{ $json.body.recId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -1248,
        -32
      ],
      "id": "653d91c6-7b22-4957-9495-552a5dafff31",
      "name": "Get AI Task Details - AT by RecID",
      "credentials": {
        "airtableTokenApi": {
          "id": "XzBWggFrPVokGo9L",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f3bdd86b-6ca0-4189-8a96-dd4551425518",
              "leftValue": "={{ $json.executedAt }}",
              "rightValue": "",
              "operator": {
                "type": "dateTime",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1024,
        -32
      ],
      "id": "f832d65a-0f9e-4a63-a225-fe1aa18c4c78",
      "name": "Check Already Processed - IF"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app1cypH1v3pTZcFi",
          "mode": "list",
          "cachedResultName": "Boost Prospect v2",
          "cachedResultUrl": "https://airtable.com/app1cypH1v3pTZcFi"
        },
        "table": {
          "__rl": true,
          "value": "tblerHecAYOBDjMav",
          "mode": "list",
          "cachedResultName": "AI",
          "cachedResultUrl": "https://airtable.com/app1cypH1v3pTZcFi/tblerHecAYOBDjMav"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "Error Detected",
            "statusDetails": "This AI task has already been processed",
            "id": "={{ $('Get AI Task Details - AT by RecID').item.json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "taskName",
              "displayName": "taskName",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "qtyToProcess",
              "displayName": "qtyToProcess",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "user",
              "displayName": "user",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "userName",
              "displayName": "userName",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "userRecId",
              "displayName": "userRecId",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pending",
                  "value": "Pending"
                },
                {
                  "name": "Ready to start",
                  "value": "Ready to start"
                },
                {
                  "name": "Running",
                  "value": "Running"
                },
                {
                  "name": "Completed",
                  "value": "Completed"
                },
                {
                  "name": "Error Detected",
                  "value": "Error Detected"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "statusDetails",
              "displayName": "statusDetails",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "createdAt",
              "displayName": "createdAt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "executedAt",
              "displayName": "executedAt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -800,
        -128
      ],
      "id": "6a753a3f-258f-4ff3-a215-cd1504f367bf",
      "name": "Update Status - AT AI",
      "credentials": {
        "airtableTokenApi": {
          "id": "XzBWggFrPVokGo9L",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "af742ac5-49ad-436d-a3ec-5fde1a41f68f",
              "leftValue": "={{ $json.userRecId[0] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "ada9f5f3-9f64-4407-8d7d-8ab2b4bbe287",
              "leftValue": "={{ $json.qtyToProcess }}",
              "rightValue": 9,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -800,
        80
      ],
      "id": "83a2b96d-11f6-4848-a461-30c857d2f8d3",
      "name": "Check User and Qty - IF"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app1cypH1v3pTZcFi",
          "mode": "list",
          "cachedResultName": "Boost Prospect v2",
          "cachedResultUrl": "https://airtable.com/app1cypH1v3pTZcFi"
        },
        "table": {
          "__rl": true,
          "value": "tblpxuiyiGDvZXUzG",
          "mode": "list",
          "cachedResultName": "People",
          "cachedResultUrl": "https://airtable.com/app1cypH1v3pTZcFi/tblpxuiyiGDvZXUzG"
        },
        "filterByFormula": "=AND(   {userRecId} = \"{{ $json.userRecId[0] }}\",   {analyzedWithAI} = 0 )",
        "returnAll": false,
        "limit": "={{ $json.qtyToProcess }}",
        "options": {
          "fields": [
            "fullName",
            "recId"
          ]
        },
        "sort": {
          "property": [
            {
              "field": "creationDate"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -576,
        96
      ],
      "id": "bd928d16-a5de-440d-bc67-68e1587b6023",
      "name": "Search Profile to Process - SEARCH",
      "credentials": {
        "airtableTokenApi": {
          "id": "XzBWggFrPVokGo9L",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -352,
        96
      ],
      "id": "007b531c-6c29-49c3-8f2a-e1b98774c820",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app1cypH1v3pTZcFi",
          "mode": "list",
          "cachedResultName": "Boost Prospect v2",
          "cachedResultUrl": "https://airtable.com/app1cypH1v3pTZcFi"
        },
        "table": {
          "__rl": true,
          "value": "tblpxuiyiGDvZXUzG",
          "mode": "list",
          "cachedResultName": "People",
          "cachedResultUrl": "https://airtable.com/app1cypH1v3pTZcFi/tblpxuiyiGDvZXUzG"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "analyzedWithAI": "={{ true }}",
            "analyzeWithAIRunning": "={{ true }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "fullName",
              "displayName": "fullName",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "recId",
              "displayName": "recId",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "favorite",
              "displayName": "favorite",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "apolloPeopleNumber",
              "displayName": "apolloPeopleNumber",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "creationDate",
              "displayName": "creationDate",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "modificationDate",
              "displayName": "modificationDate",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "logo (from company)",
              "displayName": "logo (from company)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "companyName",
              "displayName": "companyName",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "companyWebsite",
              "displayName": "companyWebsite",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "companyLinkedinId",
              "displayName": "companyLinkedinId",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "companyFacebookLink",
              "displayName": "companyFacebookLink",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "companyPrimaryPhoneNumber",
              "displayName": "companyPrimaryPhoneNumber",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Identifiant LinkedIn (from Compagnie)",
              "displayName": "Identifiant LinkedIn (from Compagnie)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "companyYearFoundedFromCompany",
              "displayName": "companyYearFoundedFromCompany",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "companyLogoUrl",
              "displayName": "companyLogoUrl",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "companyIndustrySector",
              "displayName": "companyIndustrySector",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "companyAddress",
              "displayName": "companyAddress",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "companyCity",
              "displayName": "companyCity",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "companyProvince",
              "displayName": "companyProvince",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "companyCountry",
              "displayName": "companyCountry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "postalCodeFromCompanie",
              "displayName": "postalCodeFromCompanie",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "companyEstimatedEmployeeCount",
              "displayName": "companyEstimatedEmployeeCount",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "user",
              "displayName": "user",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "userRecId",
              "displayName": "userRecId",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "firstName",
              "displayName": "firstName",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "linkedinLink",
              "displayName": "linkedinLink",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "linkedinButtonPeople",
              "displayName": "linkedinButtonPeople",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "jobTitle",
              "displayName": "jobTitle",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "emailStatus",
              "displayName": "emailStatus",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "photo",
              "displayName": "photo",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "photoUrl",
              "displayName": "photoUrl",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "twitterLink",
              "displayName": "twitterLink",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "githubLink",
              "displayName": "githubLink",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "facebookLink",
              "displayName": "facebookLink",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "extrapolatedEmailConfidence",
              "displayName": "extrapolatedEmailConfidence",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "currentPosition",
              "displayName": "currentPosition",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "previousJobSummary",
              "displayName": "previousJobSummary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "previousJobs",
              "displayName": "previousJobs",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "professionalEmail",
              "displayName": "professionalEmail",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "province",
              "displayName": "province",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "country",
              "displayName": "country",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "departments",
              "displayName": "departments",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "subDepartments",
              "displayName": "subDepartments",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "seniority",
              "displayName": "seniority",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "roles",
              "displayName": "roles",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "intentStrength",
              "displayName": "intentStrength",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "intentDisplayed",
              "displayName": "intentDisplayed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "catchallEmailDomain",
              "displayName": "catchallEmailDomain",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "personalEmails",
              "displayName": "personalEmails",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Ready for AI analysis",
                  "value": "Ready for AI analysis"
                },
                {
                  "name": "AI analysis in progress",
                  "value": "AI analysis in progress"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "websiteButton",
              "displayName": "websiteButton",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "linkedinButton",
              "displayName": "linkedinButton",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "facebookButton",
              "displayName": "facebookButton",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "lastLinkedinActivity",
              "displayName": "lastLinkedinActivity",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "reactionBehavior",
              "displayName": "reactionBehavior",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "postBehavior",
              "displayName": "postBehavior",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "companyPostBehavior",
              "displayName": "companyPostBehavior",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "lastReactionStats",
              "displayName": "lastReactionStats",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "connectionLinkedinMessage",
              "displayName": "connectionLinkedinMessage",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "connectionEmailMessage",
              "displayName": "connectionEmailMessage",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "connectionEmailSubject",
              "displayName": "connectionEmailSubject",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "apolloId",
              "displayName": "apolloId",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "evaluation",
              "displayName": "evaluation",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "lastAIActionDate",
              "displayName": "lastAIActionDate",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "actionStatusDetails",
              "displayName": "actionStatusDetails",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "jsonCompanyLinkedInPosts",
              "displayName": "jsonCompanyLinkedInPosts",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "jsonProfileLinkedInPosts",
              "displayName": "jsonProfileLinkedInPosts",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "jsonProfileLinkedInReactions",
              "displayName": "jsonProfileLinkedInReactions",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "companyLinkedInPostsProcessed",
              "displayName": "companyLinkedInPostsProcessed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "profileLinkedInPostsProcessed",
              "displayName": "profileLinkedInPostsProcessed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "profileLinkedInReactionsProcessed",
              "displayName": "profileLinkedInReactionsProcessed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "companyWebsiteScrappingProcessed",
              "displayName": "companyWebsiteScrappingProcessed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "actorRunIdWebsiteScrapping",
              "displayName": "actorRunIdWebsiteScrapping",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "websiteContent",
              "displayName": "websiteContent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "websiteContentSummary",
              "displayName": "websiteContentSummary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Analysis",
              "displayName": "Analysis",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "scoringProfilePosts",
              "displayName": "scoringProfilePosts",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "scoringCompanyPosts",
              "displayName": "scoringCompanyPosts",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "scoringWebsite",
              "displayName": "scoringWebsite",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "scoringOverall",
              "displayName": "scoringOverall",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "scoringNote",
              "displayName": "scoringNote",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "scoringExplication",
              "displayName": "scoringExplication",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "analyzedWithAI",
              "displayName": "analyzedWithAI",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "analyzeWithAIRunning",
              "displayName": "analyzeWithAIRunning",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -128,
        0
      ],
      "id": "2baeafef-594a-44d9-8236-13f69cfe4893",
      "name": "Update Analyse with AI - AT People",
      "credentials": {
        "airtableTokenApi": {
          "id": "XzBWggFrPVokGo9L",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e20a38aa-bce5-4dc5-9ff7-07e229ca831a",
              "leftValue": "={{$runIndex % 4}}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        320,
        80
      ],
      "id": "7e71dee0-ba35-4143-a737-e05d59aa024b",
      "name": "Check Modulo 4 - IF"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app1cypH1v3pTZcFi",
          "mode": "list",
          "cachedResultName": "Boost Prospect v2",
          "cachedResultUrl": "https://airtable.com/app1cypH1v3pTZcFi"
        },
        "table": {
          "__rl": true,
          "value": "tblerHecAYOBDjMav",
          "mode": "list",
          "cachedResultName": "AI",
          "cachedResultUrl": "https://airtable.com/appnUC0iUK4k4smHP/tblerHecAYOBDjMav"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "Error Detected",
            "statusDetails": "This AI task has proble. Verify if user exists or qty > 1.",
            "id": "={{ $('Get AI Task Details - AT by RecID').item.json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "taskName",
              "displayName": "taskName",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "qtyToProcess",
              "displayName": "qtyToProcess",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "user",
              "displayName": "user",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "userName",
              "displayName": "userName",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "userRecId",
              "displayName": "userRecId",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pending",
                  "value": "Pending"
                },
                {
                  "name": "Ready to start",
                  "value": "Ready to start"
                },
                {
                  "name": "Running",
                  "value": "Running"
                },
                {
                  "name": "Completed",
                  "value": "Completed"
                },
                {
                  "name": "Error Detected",
                  "value": "Error Detected"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "statusDetails",
              "displayName": "statusDetails",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "createdAt",
              "displayName": "createdAt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "executedAt",
              "displayName": "executedAt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -576,
        288
      ],
      "id": "e4cb24d5-7b25-4853-a8e4-fc2fbb585998",
      "name": "Update Status - AT AI1",
      "credentials": {
        "airtableTokenApi": {
          "id": "XzBWggFrPVokGo9L",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -128,
        -192
      ],
      "id": "5dba5d40-f676-4eec-8adf-9162044890b9",
      "name": "Clean Data - AGGREGATE"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app1cypH1v3pTZcFi",
          "mode": "list",
          "cachedResultName": "Boost Prospect v2",
          "cachedResultUrl": "https://airtable.com/app1cypH1v3pTZcFi"
        },
        "table": {
          "__rl": true,
          "value": "tblerHecAYOBDjMav",
          "mode": "list",
          "cachedResultName": "AI",
          "cachedResultUrl": "https://airtable.com/app1cypH1v3pTZcFi/tblerHecAYOBDjMav"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "Completed",
            "statusDetails": "Completed with success.",
            "id": "={{ $('Get AI Task Details - AT by RecID').item.json.id }}",
            "executedAt": "={{ $now }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "taskName",
              "displayName": "taskName",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "qtyToProcess",
              "displayName": "qtyToProcess",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "user",
              "displayName": "user",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "userName",
              "displayName": "userName",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "userRecId",
              "displayName": "userRecId",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pending",
                  "value": "Pending"
                },
                {
                  "name": "Ready to start",
                  "value": "Ready to start"
                },
                {
                  "name": "Running",
                  "value": "Running"
                },
                {
                  "name": "Completed",
                  "value": "Completed"
                },
                {
                  "name": "Error Detected",
                  "value": "Error Detected"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "statusDetails",
              "displayName": "statusDetails",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "createdAt",
              "displayName": "createdAt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "executedAt",
              "displayName": "executedAt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        96,
        -192
      ],
      "id": "e6272e55-12cb-4f5b-9c9a-5c6bd51ef217",
      "name": "Update Status - AT AI2",
      "credentials": {
        "airtableTokenApi": {
          "id": "XzBWggFrPVokGo9L",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app1cypH1v3pTZcFi",
          "mode": "list",
          "cachedResultName": "Boost Prospect v2",
          "cachedResultUrl": "https://airtable.com/app1cypH1v3pTZcFi"
        },
        "table": {
          "__rl": true,
          "value": "tblerHecAYOBDjMav",
          "mode": "list",
          "cachedResultName": "AI",
          "cachedResultUrl": "https://airtable.com/app1cypH1v3pTZcFi/tblerHecAYOBDjMav"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "Running",
            "id": "={{ $('Get AI Task Details - AT by RecID').item.json.id }}",
            "statusDetails": "Running task in progress."
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "taskName",
              "displayName": "taskName",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "qtyToProcess",
              "displayName": "qtyToProcess",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "user",
              "displayName": "user",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "userName",
              "displayName": "userName",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "userRecId",
              "displayName": "userRecId",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pending",
                  "value": "Pending"
                },
                {
                  "name": "Ready to start",
                  "value": "Ready to start"
                },
                {
                  "name": "Running",
                  "value": "Running"
                },
                {
                  "name": "Completed",
                  "value": "Completed"
                },
                {
                  "name": "Error Detected",
                  "value": "Error Detected"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "statusDetails",
              "displayName": "statusDetails",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "createdAt",
              "displayName": "createdAt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "executedAt",
              "displayName": "executedAt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -576,
        -96
      ],
      "id": "ff86e033-bf63-4f8f-bdd0-1c0d64475ebe",
      "name": "Update Status - AT AI3",
      "credentials": {
        "airtableTokenApi": {
          "id": "XzBWggFrPVokGo9L",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        544,
        176
      ],
      "id": "664d14a8-0db2-45a7-a932-29ed0143cf50",
      "name": "Wait Manage Server Ressources",
      "webhookId": "9aa1a3f9-dd36-4d65-8613-24ed037d5d6d"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "55gdUS7QJcJbkc8V",
          "mode": "list",
          "cachedResultName": "Processing > LinkedIn > Analyze People and Companies with AI"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "recId": "={{ $json.id }}"
          },
          "matchingColumns": [
            "recId"
          ],
          "schema": [
            {
              "id": "recId",
              "displayName": "recId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        96,
        0
      ],
      "id": "7d2d8e85-90cb-4f86-9e77-0288363d8712",
      "name": "Analyze People with AI"
    }
  ],
  "repo_name": "boost-prospect-v2",
  "repo_owner": "ultimvision",
  "repo_path": "workflows",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-08-25T15:16:31.689Z",
      "updatedAt": "2025-08-25T15:16:31.689Z",
      "role": "workflow:owner",
      "workflowId": "xDYqrP7GNDjTtGDd",
      "projectId": "zxVtQj8AiJx7hlkL"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-08-26T10:37:23.328Z",
      "updatedAt": "2025-08-26T10:37:23.328Z",
      "id": "fgJFu3bUWZN42vve",
      "name": "Scoring"
    },
    {
      "createdAt": "2025-08-26T10:33:17.006Z",
      "updatedAt": "2025-08-26T10:33:17.006Z",
      "id": "Emw8imBHM3k6zkUo",
      "name": "Sub-Workflow"
    },
    {
      "createdAt": "2025-08-25T15:32:43.780Z",
      "updatedAt": "2025-08-25T15:32:43.780Z",
      "id": "iG6zhvDmNAekSWMV",
      "name": "Webhook"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-08-26T10:38:28.699Z",
  "versionId": "f649c2a8-56c0-4bc2-995f-d306bc2339b5"
}