workflows2025/08/xqIMv4nOqM7qzjDi.json
{
  "active": false,
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Get Workflow Router Id - [0000]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Workflow Router Id - [0000]": {
      "main": [
        [
          {
            "node": "Filter Not Archived",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Not Archived": {
      "main": [
        [
          {
            "node": "Get Config from Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Config from Router": {
      "main": [
        [
          {
            "node": "Workflow Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Data": {
      "main": [
        [
          {
            "node": "Insert Error Details - AT Errors Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-25T14:29:11.801Z",
  "id": "xqIMv4nOqM7qzjDi",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Handling Errors",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -464,
        -320
      ],
      "id": "f01dc773-9a30-4d4c-b7a5-478d8877c09a",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "returnAll": false,
        "limit": 1,
        "filters": {
          "name": "[0000]",
          "excludePinnedData": true
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -240,
        -320
      ],
      "id": "a58ecd4f-1693-41fc-a774-82348baa1155",
      "name": "Get Workflow Router Id - [0000]",
      "credentials": {
        "n8nApi": {
          "id": "DeDKPUGV1gyQwspX",
          "name": "n8n local"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        208,
        -320
      ],
      "id": "1e34e0bc-c995-4329-8b1a-2eea51e41cd3",
      "name": "Get Config from Router"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e9ae0251-3cbe-43d9-a0cf-f9c189bb3084",
              "leftValue": "={{ $json.isArchived }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -16,
        -320
      ],
      "id": "ee031311-5942-4703-9179-aac1d5365ad9",
      "name": "Filter Not Archived"
    },
    {
      "parameters": {
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        432,
        -320
      ],
      "id": "68ef3685-52c4-42ba-9094-9818a87fee13",
      "name": "Workflow Data"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.airtable.com/v0/{{ $('Workflow Data').first().json.config.vault.BASE_ID }}/Errors%20Log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Workflow Data').first().json.config.vault.AIRTABLE_PERSONAL_ACCESS_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n(() => {\n  const src = $('Error Trigger').item.json ?? {};\n  const err = src.execution?.error ?? {};\n  const wf  = src.workflow ?? {};\n  const exe = src.execution ?? {};\n\n  const payload = {\n    records: [\n      {\n        fields: {\n          name: err.name ?? null,\n          createdAt: err.timestamp ? new Date(err.timestamp).toISOString() : null,\n          workflowId: wf.id ?? null,\n          workflowName: wf.name ?? null,\n          executionId: exe.id ?? null,\n          executionUrl: exe.url ?? null,\n          errorLevel: err.level ?? null,\n          errorDescription: err.description ?? null,\n          errorMessage: (Array.isArray(err.messages) && err.messages.length) ? err.messages[0] : null,\n          // httpCode conservé en STRING comme demandé\n          httpCode: err.httpCode ?? null\n        }\n      }\n    ]\n  };\n\n  return JSON.stringify(payload);\n})()\n}}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        656,
        -320
      ],
      "id": "4a28de69-35e7-4c8b-ac23-2dc8c6b6dd3e",
      "name": "Insert Error Details - AT Errors Log"
    }
  ],
  "repo_name": "boost-prospect-v2",
  "repo_owner": "ultimvision",
  "repo_path": "workflows",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-08-25T14:29:11.801Z",
      "updatedAt": "2025-08-25T14:29:11.801Z",
      "role": "workflow:owner",
      "workflowId": "xqIMv4nOqM7qzjDi",
      "projectId": "zxVtQj8AiJx7hlkL"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-09-01T18:44:12.239Z",
      "updatedAt": "2025-09-01T18:44:12.239Z",
      "id": "DxA0rKpUpLnrWgla",
      "name": "Router"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-09-04T17:13:37.218Z",
  "versionId": "31790459-1757-42a8-aeb3-9c78bf94480f"
}