workflows2025/09/b3Gh5jitQKDLPLx0.json
{
  "active": false,
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Data Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Workflow": {
      "main": [
        [
          {
            "node": "If Event ID Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compose message": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message": {
      "main": [
        [
          {
            "node": "Get Next Message Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message settings": {
      "main": [
        [
          {
            "node": "Logo Boost Performance IMG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Content": {
      "main": [
        [
          {
            "node": "Create Final HTML Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Logo Boost Performance IMG": {
      "main": [
        [
          {
            "node": "Compose message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Next Message Params": {
      "main": [
        [
          {
            "node": "If Next Message Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Final HTML Message": {
      "main": [
        [
          {
            "node": "Switch Message Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Next Date Sending": {
      "main": [
        [
          {
            "node": "Update Next Email to Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Next Message Exists": {
      "main": [
        [
          {
            "node": "If Event Automatisation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Next Email to Send1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Event ID Exists": {
      "main": [
        [
          {
            "node": "Get Event Details",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Data Workflow Updated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Event Details": {
      "main": [
        [
          {
            "node": "Data Workflow Updated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Workflow Updated": {
      "main": [
        [
          {
            "node": "Replace Variable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Event Automatisation": {
      "main": [
        [
          {
            "node": "Set Next Date Event Sending",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Next Date Sending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Next Date Event Sending": {
      "main": [
        [
          {
            "node": "Update Next Email to Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twilio": {
      "main": [
        [
          {
            "node": "Get Next SMS Message Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Message Type": {
      "main": [
        [
          {
            "node": "Add Emails to Send in History",
            "type": "main",
            "index": 0
          },
          {
            "node": "Message settings",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SMS Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SMS Message": {
      "main": [
        [
          {
            "node": "Twilio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Next SMS Message Params": {
      "main": [
        [
          {
            "node": "If Next Message Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Variable": {
      "main": [
        [
          {
            "node": "Replace Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-10T19:31:28.459Z",
  "id": "b3Gh5jitQKDLPLx0",
  "isArchived": false,
  "meta": null,
  "name": "Send Email Automation for Leads in Boost 2025 CRM - Sub-Workflow",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -336,
        1008
      ],
      "id": "af6f2f1f-3693-449e-8ebe-884eb5a9d29d",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -112,
        1008
      ],
      "id": "25944f12-82af-48c6-97dd-870b931dc7f6",
      "name": "Data Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2addc1b4-68a0-4c72-87d6-d47286eef70c",
              "name": "raw",
              "type": "string",
              "value": "={{ \"From: \"+ $('Data Workflow').item.json.De + \"\\nTo: \"+$('Data Workflow').item.json['Contact Email'] + \"\\nSubject: \"+ $('Replace Variable').item.json.Sujet+ \"\\nMIME-Version: 1.0\\nContent-Type: multipart/related; boundary=boundary1\\n\\n--boundary1\\nContent-Type: text/html; charset=UTF-8\\n\\n<html>\\n<body>\\n\"\n+ $('Message settings').item.json.body_html+\"\\n</body>\\n</html>\\n\\n--boundary1\\nContent-Type: \"+$json.mime_type+\"\\nContent-Transfer-Encoding: base64\\nContent-Disposition: inline\\nContent-ID: <image1>\\n\\n\"\n+$json.img_base_64\n+\"\\n\\n--boundary1--\\n\" }}"
            }
          ]
        },
        "options": {}
      },
      "id": "137f156d-6d1c-49e9-a7d0-02aeb0c9b411",
      "name": "Compose message",
      "type": "n8n-nodes-base.set",
      "position": [
        2128,
        1008
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/gmail/v1/users/me/messages/send",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "gmailOAuth2",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={ \"raw\": \"{{ $json.raw.base64Encode() }}\"}",
        "options": {}
      },
      "id": "b078f015-65db-40f5-b8d1-3346c46d2a97",
      "name": "Send message",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2352,
        1008
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c6c3f28e-6689-4c8d-8d78-de4837acb439",
              "name": "body_html",
              "value": "={{ $json.html }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b9d6cf0d-5db7-4efa-af7c-52ea752d0137",
      "name": "Message settings",
      "type": "n8n-nodes-base.set",
      "position": [
        1680,
        1008
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "jsCode": "// Validation et récupération des données d'entrée\nconst inputData = $input.first();\nif (!inputData || !inputData.json) {\n  throw new Error(\"Données d'entrée manquantes\");\n}\nconst contenu = inputData.json.Contenu || '';\n\n// Validation et récupération du template HTML depuis le nœud \"Data Workflow\"\nconst dataWorkflowNode = $('Data Workflow').first();\nif (!dataWorkflowNode || !dataWorkflowNode.json) {\n  throw new Error(\"Données manquantes dans le nœud 'Data Workflow'\");\n}\nconst template = dataWorkflowNode.json[\"Template Content\"] || '';\n\n// Fonction utilitaire pour remplacer des placeholders dans une chaîne\nfunction replacePlaceholders(text, placeholders) {\n  for (const key in placeholders) {\n    const regex = new RegExp(`{{\\\\s*${key}\\\\s*}}`, 'gi');\n    text = text.replace(regex, placeholders[key]);\n  }\n  return text;\n}\n\n// Remplacement du placeholder \"content\" dans le template\nconst finalHtml = replacePlaceholders(template, { content: contenu });\n\n// Retourne l'objet final\nreturn {\n  json: {\n    final_content: finalHtml\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        1008
      ],
      "id": "a47011cd-18bf-4e38-b839-f20923bf1e56",
      "name": "Replace Content"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "20a18d1b-2274-4909-923d-d88dad9f0437",
              "name": "mime_type",
              "value": "image/png",
              "type": "string"
            },
            {
              "id": "b2e9a7dc-b16c-42a0-873e-487f886edc80",
              "name": "img_base_64",
              "value": "iVBORw0KGgoAAAANSUhEUgAAASwAAACECAYAAAAqRRZCAAAmnUlEQVR42u2dd5gc1ZX2fz1RcSSBAAkQEiIIBAiEyCDiLcABs7Bre+3lMw67tpfFOKzXOOHA2l4bbGNscCLYxhitE9HELnKQjEkChECyhIQkFFAapckz+8d565tS090z3dNx5r7P08/0zHR1Vd26970nH/Dw8PDw8PDw8PDw8PDw8PDw8PDw8PDw8PDw8PDw8PDw8PDw8PDw8PDw8PDw8PDw8PDw8PDw8PAYzEj4IfAoBALnEkAt0AiMBMYBY4EmvW8ExmjOdQKbgVZgE7BVv2/U39qSYdjtR9XDE5ZHIQkqIVKaDBwCHAYcCOwjkmoCRgA1+myNDu8BIkLqBLYBW4C3gKXAK8DLwKvAKqAFIBmGPX7kPWF5eORCVHXAHsBM4HTgeGCqpKfGAp2mB9ghAlsIPAo8pvfNnrg8YXl49CVNjQIOB84FzgL2B4aX6BJ6pDq+ANwF3CdJrMOTlycsD49UojoZ+BBwKjA+ptqVAx3AMuB24BZgAdDpicsTlsfQJqphIqp/F1GNqbDL7AZWArcC1wGLkmHY6Z+eJyyPoUVWtcDBwMXA+zDjeSWjB1gC/AL4LbDOS1uesDyGjlT1XuC/RFq1VXQLrUAIfAt4JhmGXf6pDj7U+SHwEFntDXwe+DAWjlBtGAa8E7NxfRxY75+sJyyPwUdWNViIwneB06pMqoqjDbgb+CqwwT9ZrxJ6DE6yOgH4MXBEFc+HZuDnwFV4G5YnLI9BSVa1WDzVD4CDqvQ2eoBFwDeB25Nh2OKfrCcsj8EpWZ2Kedb2r2IV8H7gcuB5n3voCctjcJJVApgB/FpqYDViE/BT4BpgrVcBhw680X3oYW/ge1iaTbWhG5gPfBv4SzIM2/zj9ITlMXilq9HAF4EzqlC63gb8UWS7OB8VMFYCp8tLZdWJGj8EQ4asaoDzgAuqcKN6HfgS8DksBSdfspoMfAGYpt89vITlUYFklQAO0GKtpqDQVuAeLEbs+XxzBQPnGiRVXgYcpbH4lKQ2D09YHhWGRuA/gOllvIZueov2RcX8Mkk5PcAK4GrgV8DmfFQ4EfXuWOT7xXoP8A/APYFzf/beRU9YHpUnXR2L5QiWUg3qxArwLcFqV63CItA7sJI144FJknYmY5VLAdqBJHAFMC8Zhu153netpKmvAAGWuhNhLFaF4lFgXR7jOQIYrVeTXnUxst2OFSDcovfbgBZvNxs4EgNYCAfKJlJO0mvHXNwbgLVYuZENwA4/Of7/cxoF/Az4lxIR1gbgKaxe1dMiqq2kGLq18KM67wcADjhRKuBNwMYBSFW7Yra6T4sMExnUzUuA67OdR7a/McC+WBhIpFJOAHbRPdSnnKNTr1aNx1tYDa8XsfLPS0SUrbneY+BclKC+TxVNwxeTYXhXuSWsg4FvULiyuPkiqg++TaT1CvBQ4FyIr0qJFtjZJSCrFqwS6E+BeZIsMtZh199bgdbAuXUiuZHabLryJKpa4GjMVnd2ilSVimEitdtISZTWd9VjQbXvAN6F1azfldxzLSelqMU7tLE+DzwYOPekyKytn/O0EfgYVqusWnATVim27CphgvK7xyN7yFi9pmmCLQP+DPw6cO7vQ9FWEThXj9W02rXIp1qFpfjkJRnp8z2SxPJVeyOp6hJgSj/n5SzghMC5u6Jrlio5DfgIZuuaLPIqBGqkDh+k1/kir0eAPwfOPZUMw+YqWXcl0eSGig2rAevecilwDvCtwLk7h2Cu2RTgzCJP7hc1zg8mw7CjxISc0LM+EavhdVqOEv9IEXoycK4VK1b4L5iB/oASkEIjsJ9e7wXmBs7dgNnwfLONDIw/2O/vUCyF4xLZc4aKdJUAZktCKBZeBS4CHigDWdXo3r4G/E4qYD7miZNipHEtFph6YBkkmCYsGf0G4Ebg1MC5Bh8vNjQkrFSMB74MdATOXZOv5ymPRdVIrzdpV6mso1M2ih7M/taMGWi36NU2wB12mKSrYj3jdZgHbl4p1W0t4JFS+z8jtW4gKttE4KPa2M6ogE18tFTRY7GSOb8MnPMlc4YYYUU72BeBxYFzdxd6kcUW0l6YgXamFsHeWPzPSKkvDWkO78A8ni2YR2klsDBw7lmsK8wbwLYcr3kvzOBeDLRhNbTuLmUpYgWAzsSCPt+jxV0I88HFWguVIs0kgD2xQNcTtNk+7+lq6MVh7YZ5kJ7DDMWFIKlG2TtO0Q59hHbthhwWQGMK0RwhCaJTkszLwKOBc0msmWh/wjYOxVzvxcBfgRtLmXwcODccM6hfhHneCkku9RU6X+ulss7whNVr4xlqOAp4j2wgA1lAkc3hWsxl+0OJ8lNEQANdUJFrfS+d57+BO2XfOD9wbnwm+4Y8XbOwAMdCo1XXsLbEz60b86wVmqwqGV3AHCymzYOhGek+DPhnLPM/p0YFscaip2DpHidTun59tZLc3ge8G3hW9o17gE0pEtcwSVjFWNgvAveVOkwkGYZtgXNztCmMHSJz9THg2/0MdfCENYhxqHbrJ3IgqtqY/eScMi+aEZgHcCbwMPAjBSC2i7hGA1OLJOXcg9nZyoFnsXpYpwyBOboM84C+4WlqaKuESCrKpYBdE/AJ4H+x4MRK2eFHiTxvxmKhdosFUe5ShPNtAR4pYxDuZkkdgz0IeAvwP5gH1nsHvYRFDWYo749ktR/WOuq9FMcmVAhMxEIMjgG+jnkki1FG5g1gcbluMhmGXYFzT2FpP6MrZOzb9eqRFF7H23MLc0EHZiO8Jd9yOp6wioOVmEGxv9HnCS3C46UKDcSzk+hLSor16/sB5qmp9H59DVgj0UlYB+ThRTjHEixerJx4HdhYZsLqEXn/BfPercY8uiMwT/Q+WK7twXoeo3IgsIeA74uUs6nm+UiZNQW473wkvoJJxOUkrBXA/yTDcFN/PhyzI02UFPHhAZJIog+yOhb4CXAk1eOVihpMTKPwrvo2LLyi3HXUN2MBtpPLeA2LMKfLPNIk12v+DJdafhBwOlaNYnofUvpizG71ZhZVsBX4JXBvHmT1Xs3nfHEvVpInV7w85FRCPcBOYEXg3Pck9UwbwFduzUJWJ2DpPNXYqAEKW0GjVVLEDVhYRVeZ722bSKucuA94KpPKJhvfdr1WBM49CPwIc5S8XwSWamPchPVXfCab3Uqxb3NyvWAlwk8fIGE9Cny/nIUEqtWG9SaWx5YvYXVhXph0Utx0Ta4ZQ9xc0IYF2P4GizNbUyEVLzpl5yknRmjt9MvGpHFbGzj3Z6yX4klYdP1pksTasR6Rt/kKqIOTsBqxzPqBLMYFaf4+AWshVU1qYKHRghXeuxkLYVjjF9HbcA4wL3DuVnKoqqDPbQ2cuw/4G/BPWJHBhcDVyTDc4Yd2kBGWorjdANW111MJK3BuBNaV5R1DlKyagblYg9UHgQ0V6lKvJ3thvlJgAlZv/gPAA4Fzf9Wc2iQVuqsPta4HWB84dx0WptFC6TMHPGHlISVNCZzLJV6oFqt99CXyjzDvBh4A1qSoggFWtK1+CD3/Hszj9iBwC/A4b4+arzSMojI6/4zSxnkaZg99U6T1GpZgvxRYjuWCbk1HYkocf8XTUHUQ1iFYedpc1I1azG08EJf9G1iMS3vKjvl5il+Zs1LQjYWV3C+iegbYXiVBirtoDlQKaumtdjud3qT1Fsw5sALz/j0XOPciqufuu1ZXp4RVatd0K5asPD8mXdVhVSaPLeJ52yTyv67XGsyDNExkOQVrcjCR4sRPxe9/EZZM+yfgtVLVBisgDqQ4UfyFXldRHbRJmNf5Qklaq4DnA+cekgr+Or6jTlUQVqnRgaXW3MjO3p3JmkzFUAW3YfmKd+jnSqwJQbfUsagefaPI6mgsufe0Akt7WyVF/V5S1apcKoRKZY5SfnqSYbi+HA9Qm8sxRSb1YmI0vfXc/1Fq5OPAHwPnniDP/ouesAYfdkj1+XoyDDfGFkAtVghuWoHP14l52q7C7EN9TcR2zHu0WOR2PPCfwKnkH1PVrQXxIFaZYh45NogQUQ3D0pjeqbF6NHDuq6Us3JeiDp7C4HCKNEiyngKcq/lyXeDcvVixRk9cQ5CwOmQ/+DEwJxmGW1L+Px6L/i2kdLUD61Z8BbAil4mnz27DmiLMx7o1f4rcQji2Y5HFd2KpI6/lYi8RSdVhVVJnS+KbLQkwgTk7fkGaOLYiS1cJzOEyGOPjmjAD/nF6blcGzr1Upk3BE1YZ0A28JBXwduDvGaKSjwIOK7CN6Bos036gXU/eEumtB75Fds9YD2YXexy4FXOVv0Uf7vUUMohUlhlYaMdZWC5cairJAcC7Aud+XuIFNRL4IOadG6wYhdVqmwF8Te3HfAL0ECCsHk3wyVgi6qrAuW0pnYdrtTBHFuicXcBvge8AWwYq0uv47YFz1wN7YF7MVPVwKxZPdrdei8ih67WIajhWkeJ0rDDgTEl0mRJl67E8ugcoUeUGpUudqddgR9Tp6SdAQ+DcraXuSOQJq/Soxbr27o8F990LXBU491xsxxqPeW8KZQ+ZSxGqQybDsCVw7mosDORczOO4HGu+eQcWMb0hR5IaJjI/EbNNHYd5K/ubzX8I8NnAuUuTYbi1mA8yVuLnCxQv/upJjclMKqdG3F5Y1YZtgXP3+myDwU1YcYzBEk6PAL4aOHeHSGtfChdW0YxFPq8o0j2s1+TdiiWgPobFk7XnoPLVaREcK3XvZKyjTz5G/VqpZy8Ezt1YZLVlHNbtqFgdgFqB6zCj95eA8ypI7dwbq3O2gBLbDD1hlRcJzJV8NdATOHcnFuQ3tkDf/ziQLNYumAzDnsC5eViJ4LYcSKpRk34W1mj0BCwuqBBhAWOAbwCbpbYUlLR0/U1Y8cQPUrx6ZMuBJ5JhuCRw7mIs0fvfME9tJRDX0cCFgXPf8kb4oVdxdC/MIL4aM2wWQvxvx8IGthTzwjVZu/ph6xkhyfF4zC51nEirGHFmE7HQjbGBc79LhuH2ApLVnpJ4/pXClstJRRhJxskw3BI49yf97RTMg3yS7rO+jGv0n7GqGUNeyhqKJZIPkIpRKOnqTWBuOeJmYt69Jt3XCVposzCbVGMJLmNPrL37NNnaVuQ7FrEijUdJFTqT9I1nC4VmzIvcEZdmgU2Bc3cASayZxylSoWdq0yt14Oq+wNGBc8uHenxWOQmrFUtT6MrxeseIbPJVERJSjwr14F+hAE1Zc1zUjVic1KFYjNSJUnl3oTylnMdiTU5PxlqP3QuszkWFCZyLAlQ/iKVK7U3xA0SfBP6WjgQiLy3wUuDcy1gBw92x1KAjtCnsJwJrkmRbrOtt1DO+jX7W4PKEVXgswFJicvGq1WDpIe8BPkn+nY0LtWv3YKEELSUct1nAZyWF7EP5S63E59JRUrVfA+5Xpc3FWExYe8omEamvE7FSQWdhkf2lICowB8b1ca9u4FyDCL81TmJ634LZu5Zjgb1R0vPukoD216YxHYte313PplD3crDmrSesMqEdq129Kcfj3gicW4iVRfku5e1k0w2UWkzfm8JH5xcSDVgw7iFYvNYaqc0r6W2sUIN5//aWhLIbhemWnQse0SuO2VjE+dXEyg+lg6THDXotlORbr/m4p+7/ZKxs0f4FkHzH6ruHdJG/qrRhJcOwNXDu9xS/ykJ/JKxNJT5ns8i+0ut21UhVapIaVUlYK1LanKKSfhjrrH1Y4NzXgPn9VWu1aUUtvzYDrwTO3SZp6xN6DaTTzwhKY5Os+ElVrdgs8bycZNVK6bvIdAx1tWCA6MRyPZ+IJGNJRzMlDTVgNa1+D3w8cG58zLmR68baidW/+oa+byDoYvA3kB3UhDUcS1kp9WRfg5WK+YlUnodLfA0jqRy7VTXib8DPJQlFaAT+H2Z3irA/cCVmbD8zcC6vFC6R4g6svM9AsF0b5JBGVaqEqot0NsXN3I+8ROuApVirq6exbj2rsHzBcgTy7UHlN3WtVKyStPNGinR1InA+b7ehjcQcPLOBxwLn5mizWptjoOwYLJ5rINhEaZ07nrBSkE9NdyRdOMxTNq5A1xLZH5o1qV8BXsQqPrwqm0dLbMckcK5Wdo96rLxw0cV1La4DPWHlhWasI9LDKU6S8cBn+pDWx2F5nGdrPjwWOPck5ulerY0tVWWLmqkehAW/nj/A61/sTQHlJazpwB/y0MuHaXINxADZpQm8Bvi7JuF8LERhFWYfa4tISEQxAovo3hMzpB6IuZp7RJ6lqMI5HIsBSnj+yQntwM+A38YrHyg04f3AGTlssodLsv9XLFxjNZbX+abmTVRJdhxWGPIwcksszzRfX6T8TWyHNGENk52gmOiSZNSsCbVcu2KUTLpS/4tE7QZd13hgD5HT/iKmfTE3/HgsxywizC3ArwLnHi5BeMPkAqrBC7FYpKMHOQFGrd2voDesItqEjsYqu+YauR6V5dlHr2J7qtcBz/kqpIMjNadbxNSOxWZt0I63CPPQvC6iegur5hlVLhiDBaEeJDKaIkKYjMXR7IK55Ov6WNBNWImWxyliR2LlCQa6tkIgifUg/JFsNIORtFqw6qiXEytTLbKapL9PqYL7eFZzecijmggr8rZsk+i9OiY1xbvRbJSuXydpaVdJSSdJQpqsn+OwgMWxkpYaBrBoz8Vc5QuKeP8TsNpehbBfdUsFjsow/xBLlB5MtrHtWIekK3h7Tf0xwJexyPpqkBD/HJcOPWGVHx2SkDr0YJpj0tIqEdNqzFMSddet1fWPFPHMkvQxUdLReP0cIfF9WMyO0I3Vzt6NwhSFmwp8InDui8VoNx44V48Fyc4s0FduAl5KhmF34NwCrJzKZSLEEYNgXr8poro+tYKEOnz/J/AhqqNp7pPAPV4dLD5h9UhVaxPBtMRIaaOkpU2yozRLctoRk45qNKGaRAhHShraVTakiIhGirwSOUhIb0qq+JxsEANFDXABMC9w7veFDHeIud3/g8JFOkfqclRr6w2sBPMrGpO9qnQ+d2FxVt8EHkrtuRg41whcBHya6mgVtk7z9C1PVcUnrBaRUYMmUie9btmxWJDeFJFSlINVI/Kpjb0vdHBrB3CzJnaI1TEvxDiMA74GLAucm1eIMAeR1aFYDa9CVUftwaqWbo7+oN17c+DcNVgox6VYHlx9Fc3lZszrfCWwJMP411C4Gv7FRhsW4PqQl652foDFwggs/GBcjJwOxFy9B2OlOfaThDNRdoXR9OZM1Rfh+nqwyPRrk2HYqveFLGs8DXOfB1LjBkJWUV2on1FYL9QmIG2NcEkkoaTFL2MhH91VsLAfBT4CfDYZhoszbRbJMGwRoX0aqyhRqUTQDtwEXKV56lECwqo09GDR6pfSW79qKeYtK+TEnYHVCP9UPnlogXOJwLnRWF2oX1PYRhlgzTLmZ/qndvO1mPfwfCxJeHkFElebpOTPYxU5b+9PxVPZGG/C7HVzZIqoJGzHwjAuI7fSS14lHETowho3XAq8GBOx27Ck1PMwA3yhMAnrJRhgMVqPAeuyqYkitl2wVuwfwkIlmoqwGObQRzlnjU+nCtd9SSr0B4BzJBXXlXlBv4D1nLwDK1GUk80wGYZdgXMvYPas+/VzJsWtbtofvKmN4joG3tdyUCLvnTtw7lwt9koueRE1GL0Jc3GvTJ0ESmr9qUiiGNiBRdLP1esNzLYXXccoEdwszLh+CMVrZ5UEPpgMw/V5PO86qe+nY2EcR4rkS2HnapHq/qhI6mlgfSEWtDaKiZgt8wIsk2B0iefpFuAhzMA+txhdiGSiuAFL8s4XlwLfL2fLscEoYfVghvUVWqC/xQLvMrXE2oEFFzoKF5QZxwgt7plYTaQdekUpHMNEWrUUN3izWcS8IS+mC8POwLnXNen/F4ttOw4zzh+GxbYV4j66MefMJqmif8WCcp/FMhM6Cil5yEu6GrgeK0F8oiTJeBu0YjyXbiyd6ynN0Ye8VFVcwmqRtFAJElY3vbmBS4B52oWX00dbLE3YZ6T2fK6IJB5F2DcVUYLKNj53AOFAFkTs2G1YT8L5WDeX8ZgX81AsR3QyFug6HgsfaCR9UGoU5rIFc92/qef3MmYUX6Hn2lHMhazv7gHeUvOJ+2NS72xtNpMxB9JASvu0iaRek4kiqXvdWiKiirJABiIJVq1KOByLiaqUlI62SHrJR2QNnNtHO93Jg3Bjelmq4EvFPlGss3QUJzdar2FpJOFtsVeL7FOdlSRlyFs7RgS8L2bDmyxC21X3ma4BRTe9WRkrRcSvYVUXVpWQpOLPJQqkHoiUvrWcz8dn/e/8QE8DbqRwMU+VgA3Ap4A/+EacBZknNVo3NZiRvpH0zSa6RcIt9Jae6fEqnyesQk7Geiye58oyqG3FQCvwHcxQ2uKfsEe1wxeCi2Hp0qXd+02d+op+PYbyu7kHqiLfCHwnGYbb/NP18IQ1OEmrc7+pU+dLzD+iSkmrDQs6/TqwaenSpf7BenjCGsSk1bbf1Kl/wzxYR1Fd7ZVasMDDb1CgWCUPj0qBt2FlgWq2XwB8heoo9Bal1FybDMOt/gl6eAlr6KmHL2GpIFOwQMJKzL/spjdP8uZi1OTy8PCEVR2k1b3f1KnLgAexCOz9KH3qRjZsxIJePw88FW+y4OHhVcKhrSI2YI0LLsJaPu1SxsvZBjyC5Ug+mmvYguKJZvH2NvIdWDT2KiwqujXe2gwLrO1PCtPcZBguDZzbQ8fEnRdR0Og6rLT1+niMmMJLZmM5ftnQDjySDMO3YseOxCLTT8AKP9bpXM9j0eVvpJwr0zh0aTNYhTUs2RG3B6a5rxashdimlHGuA46nt1BkN/BCMgwXpnwugQWmHhdbl92S7l9NkwM7DUv5qtEzeywZhmtSPjNR41iPBVU/nAzDzSnnHIPZaWfruSawrIO/YtVO16fc9wwsFSsbeoCFyTB8vtCTvs7TUP+RDMP2wLmnsJZLJwEXYsGmu5WI/HuwyOkngVuAB4CNeRrWa7GyyxelOUeHyOQB4KrAuUU6Ry1WXvjMfnz/x7DyPQdiOYxj0qix27HE8F8Ezv0xRo7Dgf+i7/Zbm4B/wFJqElg0+leB92ozqY3dUzvWKeiKwLk/xSTRbOPQpcX7kMbh5VgWRep9bQc+Gjh3e5q+h1eIFCMi/IquJY4aXcdlKdfwI30+NSH6DCxesF7/uzxw7oqULI/pWD210SLeczR/IrI6CCs6eTYWd1gTO+8OLIfzssC5Z2P3dG7KNWYyUVylTcITVplJqwfYGjh3nx7ooVh34DOxhOAxRZKmlkqiuk0TYUsBPIB1pK+20KDd/t+wYosfw4r5JbIcQ5oFGP1syHBMoyShqELFL+jtPNSf88Qbh4zBgmQvSDOvEzrXESKA1sC5O2KLO9u59tHGNB34KL2NRlLvayxW8eFedm4pP0PH1seOq8lwL0eluY5ZWJXU5jTj2xC79vcDv2PngpRRmfHolYiR1V5YrbMz0lxPQuc8W2R3Ib1de2r78Vx6imVu8oQ1MOLahtVxf1oL4RAs2/84kdcELJ6rvx15IummVRLOUiyJ+0ms6N66IqbX7MBy3pDEOE4T+STgk4FzX0xzTDPWHIQM/0u3867UuYZLBakX2XxOG8D8DJLU2jR/3wK0SK07H3hfbE6vwyohbBRhzBRp7Y5VU32W9InA0Tj0xMYh6mH4mcC5i5Nh2Jbhnk8RwS2KqdBn99PmuXuKWhpV89hP86ivYn6HAO8MnLuuH7m0tVgj2NP1jHtESE/r9+Ow9LSE3l8YOHd5mrI3bRrDrjTPeZ0nrMolr+gBrVOxvmGagHvTmyw7AUuWHYmVYUnEFsg2Lco12iGXYJUm1so20lWCeKrngU/qeqZLWjlME/gsrFZTammaEDP2p8P6DGTwBdlHRmnRfFJEMgk4LXDuxTTH3QX8dxq1KBr3MZIwosTeVcAlWNWFDo37V7DyPnWSis8InPt1H+Owv857jJ7XGXqmmXoETgJmB84t1vPaDWsl1p/Nat+YzW6lSGWi5tFULHE6G+olXd7WD7KYIFU6koJeBj4ue1kk1f1Mz78WKyb5U83POJZIjd2cYTPxhFUF5NUle0bUK/FxieCRKF2bMu5denVQ3koFLZhBekvg3DJJP9fqWvfUQk0lrO3JMFyWwzm6gTXRMYFzV2AG6WN0nsNJH6S7FVieyQMaOHeIjo3OMQf4S6xrzurAuUj9OUgbyulYXa/OLOPwumxQN+q6dhN5LMmior4LuCVwrlVS3YF9DYrmx+H0NsiYKxVzoq71SKmafWEm4ALn5vQxjw7XfSDb3rXA05FkFjg3F6sPdoWkqBap7KmE1a6x2liqSeoJq3TqY2eaxVGxEqPKI2+VSjRcC7fQ2CjJ4ZiYWpRPBdNp9HpstwL3pbb4kurylAgrUqFGS7LN+NwC5xZKWoiqq6Yrz9KhhT1KKtSBWMu0s0RC27UpZUqobxTZ1NHbqmwsVmK7BjgycK4xiyoaYSRWUfQ+jW0mcpwRI8e1wBNxNVLP/06pigswx8i6SpibnrA8stnT4u97MiyA2jTH9beMSoKdwx3aJCHlarDdN3bMxgy2qXaRY7dIYFe9NvXx3TUxlS7TOGyU3Wo21inqVEmjUW21xSKgTITVJAKNJLwF+nzUo/MgXeubGY5v1eeiEIoTA+f+kmXNT6LX0L4ug31wOZYx0Zc9rCZlDuTy/D1heQwc2oWnSWKIFkS6Hft02UzieAH4rmxAfWEf7fYRlolYUpuc7gEcGzjXmWIjWxKzFUWkEjXlTSctrZE01CgJo6mPcaiV9DcmZoNbl4EMH8TasUVqYTNwgEjnEbKHgkyiN05rg1TOUbINjZdqOCULYb2iZ3SCrvVDWChGpjU/LoVs2zNoBX2RzlSs6GVcVV+HJd2v8oTlUWxpe7SCY6djRtj6mDq1PM0xe+sVx/As86oWOEJevQmYuzyy8WwGHkyGYYeq2cZxDlZzP76Afo8Z1jskjSRiEkqmXn4dse+ozSDJjQNOEjkeiRngo3GYT2bj91NapPtiHsVdRDprRFguy9gfEiOR5TpmuH6OFwkdGjg3N4Pk0oU1Wpmp407XNWR6BnGv5eYBmCqaMC9oqmR2hVcJPYqNmcCtUhX2llSDJvMdWADlQOfLSOB7WmC19IZ7dElSeyKLjacxzXfFVctCjsOf9L4+ds9rMeP05gzHrcDCAvYVgR6pv78klTCTFBdF2kfneU2SXBsW+3ZoZMfSmKUjl3qR4rNYGMouWK/Gv2RQw+N2wu5qmqSesDwijKHX+E2MrO4Grlcvv7o06l+qSrhUi40s5BNHC9Y49HtkdoXvYOfWaJHqF7fhxOd0XRabWdzWkslmlSrhvYaFRdyVxTbTgoV5nBcj4m4stCJbAcVRUosTuqb59DpoFmBByTX6TFMG1TxSkX8tyapRauniNPfZlTJ2TeQf5LlG52xJkdg2eMLyKDa6YhOvDYsFukNkksl28mIyDC/P4RztmHu+HvOA1eu8YTIMV2c57lbg2ynSxdbY7+vpDbRskvT1VprvGRtbnK2Y9y4VK7FuNidjMXTo/h9K43kkhQDnYoG0k2PX9UgfUsyE2Hk6JN3+Y4xMIsKZIlvXxiznvw+LIzsOC0V5N2+PYu/S2MU3qroBENaVPqzBoxx4XlLEDhHLak3IQsaGtQI/wQyzB0t9GgmcGzh3f5ZKE82YgT3T/1fS613cRXafZSmqVy1m2I7UoS2k9xAuwoJbPwF8U995OBZa8FAfY7FM4zg5RR1syqAOJrDg1ChkpAGL+O9OY2cbC0wLnJufDMNM51+NVe6IovpP4O1hIh3snJ2wu747NWl7nKS112Wba6mEYpA1fp16xET5eckwfCIZhk8nw3BFMgyL0Q+wU4v40Zia5rRw88Wr9HolxwBHyzaUTeVdnsEe1S3CvofeQMlxMVUvG1p0XGT4fyBFmkmnoh6RooI2YMGiw1LIZpiIKKP6phCEuzCvIaRJCdNnXo2p0RMwJ0sqkc4W+YVYgO00b8PyqHYk0ti14gs/E9m1AbdjuX8jpOq8I3DutTzboC+WJDBDi/QC4IHAuaUKZ6iTTWdW7NqekEqYadNepM+8X4v+HZjRfWE2wlDAZbO+93GdP9MhUbmiuIq1JoXQ9qQ3bOMIjVc2ElyFeQwPy7K+n8OcCJMl4V6oKiSbY1LXR3TeiIjbMxBubYY50F2MlvaesDwGgsOxmJt0uB9L2k63sHuUML5Ii7AWK1vyG/Iz2EalcCKP2jHANcDNgXPNkiD+PaaarQHulyMhE2HtwBwO75EENAkIAude7aOT+FrgD/287vExybILq57wm5TPXIJVkk1gcV2790FY3cCdWDhGJqnodSzRPEpwfjfwfd1vAvgnEXRkG3uY9HbMCbq2lgwmhls9YXlUEmawc+BnHFux2KRsJHOvjq8R+R0fOHd3rhehOmW/woIzZ2hen43VKuuSPac2ppL+lvRVIVJJ9TEsiPNQqWfn6dhNBRq/fbEyL5EU83Sq8yFw7hn9b4QIYn8y5zJG170cy6e8LIMK2YolN5+M2fWGS6L6gAgr3qV7CXAD6T2/e2D10dLhpmIQlrdheZQFShK/KyZRjcEK7w0bgB3rC7LfRKpIoxZ6tGi3i3B+mEHFSade3Rf7fRZwjGw8A0Is4XlUjMDfyKCaRqracMz4n+jH2M7B4rjSkhpWMeMyzJYXeViHx8a/B3MifAV4vlK6L3kJa+iiG3gGM6iCebT6qgffhbnp+yNhLNSkX4cFYo7g7aktC4CfS9WJFm2ULPwwvSVqnqGPAEfZj0Lgg1jJk5OxlJaoRPIiLGbsDnau0pptHLqAP0oNa9D9NGlxx+9rPdlTkXZImnxZ53tVwkKzviOBxa+ly+lbKZKdrPNv1OcXY9H+tfSmNMWxDPgxZjxHxzXHSS1wbo4kqA9hoRBRAvl6LAj2ZswRE6939XJsrLJhnicsj0IT1s3aiaPfO/tBWD/op2Qefddrsh9FgZGpsVSXs3Mp4079vDJ2ni76EZGthTU/cG6BiGWsVLltWqzb00gKGcdB6tUzWOXVROxaetLcVzay34SVbk7ExiYqg/OHPsZ/syShmtjnejDv3SOZjpWa/Eupc6QZe5QG9RS91SHG6HPNQHOGuLPbJRnTj7ni4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHhUQ78HxCDAaZvb+wgAAAAAElFTkSuQmCC",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1904,
        1008
      ],
      "id": "32732be3-746b-4a58-8ab5-82451d9e145d",
      "name": "Logo Boost Performance IMG"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "apprCreGpn1y29ohG",
          "mode": "list",
          "cachedResultName": "Boost 2025",
          "cachedResultUrl": "https://airtable.com/apprCreGpn1y29ohG"
        },
        "table": {
          "__rl": true,
          "value": "tblbjJYeI54LhHzoS",
          "mode": "list",
          "cachedResultName": "Message Automatisation",
          "cachedResultUrl": "https://airtable.com/apprCreGpn1y29ohG/tblbjJYeI54LhHzoS"
        },
        "filterByFormula": "=AND({Groupe Automatisation} = \"{{ $('Data Workflow').item.json['Groupe Automatisation'] }}\", {Séquence} = {{ $('Data Workflow').item.json['Prochaine Séquence'] + 1 }}, {Type} = \"{{ $('When Executed by Another Workflow').item.json.Type }}\")",
        "returnAll": false,
        "limit": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2576,
        1008
      ],
      "id": "dcefa02c-bc98-40b8-8607-70e4aa970967",
      "name": "Get Next Message Params",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "apprCreGpn1y29ohG",
          "mode": "list",
          "cachedResultName": "Boost 2025",
          "cachedResultUrl": "https://airtable.com/apprCreGpn1y29ohG"
        },
        "table": {
          "__rl": true,
          "value": "tblbNb6O4nv6Ye2F8",
          "mode": "list",
          "cachedResultName": "Tâches Automatisations",
          "cachedResultUrl": "https://airtable.com/apprCreGpn1y29ohG/tblbNb6O4nv6Ye2F8"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Data Workflow').item.json['Task ID'] }}",
            "Prochaine Séquence": "={{ $('If Next Message Exists').item.json['Séquence'] }}",
            "Date Prochaine Action": "={{ $json.nouvelleDate }}",
            "Date Dernière Action": "={{ DateTime.now().setZone('America/Toronto').toISO() }}",
            "Status": "Active"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Date Création",
              "displayName": "Date Création",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Email",
                  "value": "Email"
                },
                {
                  "name": "SMS",
                  "value": "SMS"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Active",
                  "value": "Active"
                },
                {
                  "name": "Complété",
                  "value": "Complété"
                },
                {
                  "name": "Annulé",
                  "value": "Annulé"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Groupe Automatisation",
              "displayName": "Groupe Automatisation",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Date Prochaine Action",
              "displayName": "Date Prochaine Action",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date Dernière Action",
              "displayName": "Date Dernière Action",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Prochaine Séquence",
              "displayName": "Prochaine Séquence",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Leads ID",
              "displayName": "Leads ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Prénom",
              "displayName": "Prénom",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Description Lead",
              "displayName": "Description Lead",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Newsletter Contact Opt-in",
              "displayName": "Newsletter Contact Opt-in",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Contact Email",
              "displayName": "Contact Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Historique Emails",
              "displayName": "Historique Emails",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        3472,
        1008
      ],
      "id": "44505948-882d-415c-8054-308a55faa838",
      "name": "Update Next Email to Send"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "apprCreGpn1y29ohG",
          "mode": "list",
          "cachedResultName": "Boost 2025",
          "cachedResultUrl": "https://airtable.com/apprCreGpn1y29ohG"
        },
        "table": {
          "__rl": true,
          "value": "tblNYEZPN7gkH1Xwl",
          "mode": "list",
          "cachedResultName": "Historique Emails",
          "cachedResultUrl": "https://airtable.com/apprCreGpn1y29ohG/tblNYEZPN7gkH1Xwl"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Sujet": "={{ $('Replace Variable').item.json.Sujet_not_encoded }}",
            "id": "={{ $('Replace Variable').item.json.link_id }}",
            "Email": "={{ $('Data Workflow').item.json['Contact Email'] }}",
            "Message": "={{ $json.html }}",
            "Automatisation Emails ID": "=['{{ $('Data Workflow').item.json['Message Automatisation ID'] }}']",
            "Tâche ID": "=['{{ $('Data Workflow').item.json[\"Task ID\"] }}']"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Sujet",
              "displayName": "Sujet",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date envoyée",
              "displayName": "Date envoyée",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date Ouverture",
              "displayName": "Date Ouverture",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Adresse IP",
              "displayName": "Adresse IP",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Date Dernier Clic",
              "displayName": "Date Dernier Clic",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Nombre clic",
              "displayName": "Nombre clic",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Tâche ID",
              "displayName": "Tâche ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Automatisation Emails ID",
              "displayName": "Automatisation Emails ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1680,
        816
      ],
      "id": "c66d7cd7-f153-47f3-91a1-50f01df9ea7c",
      "name": "Add Emails to Send in History"
    },
    {
      "parameters": {
        "jsCode": "// Extraction et validation des données du node \"Data Workflow\"\nconst dataWorkflowNode = $('Data Workflow').first();\nif (!dataWorkflowNode || !dataWorkflowNode.json) {\n  throw new Error(\"Données manquantes dans le node 'Data Workflow'\");\n}\nconst dataWorkflow = dataWorkflowNode.json;\n\nconst enveloppe = dataWorkflow.html_enveloppe;\nif (typeof enveloppe !== 'string') {\n  throw new Error(\"L'enveloppe HTML (html_enveloppe) est manquante ou invalide dans 'Data Workflow'\");\n}\n\nconst header = dataWorkflow[\"Template Header\"];\nif (typeof header !== 'string') {\n  throw new Error(\"Le header (Template Header) est manquant ou invalide dans 'Data Workflow'\");\n}\n\nlet footer = dataWorkflow[\"Template Footer\"];\nif (typeof footer !== 'string') {\n  throw new Error(\"Le footer (Template Footer) est manquant ou invalide dans 'Data Workflow'\");\n}\n\nconst email = dataWorkflow[\"Contact Email\"] || '';\n\n// Extraction et validation des données d'entrée et d'autres nodes\nconst inputData = $input.first();\nif (!inputData || !inputData.json) {\n  throw new Error(\"Données d'entrée manquantes\");\n}\nconst content = inputData.json.final_content || '';\n\nconst replaceVariableNode = $('Replace Variable').first();\nif (!replaceVariableNode || !replaceVariableNode.json) {\n  throw new Error(\"Données manquantes dans le node 'Replace Variable'\");\n}\nconst link_id = replaceVariableNode.json.link_id;\nif (!link_id) {\n  throw new Error(\"link_id manquant dans le node 'Replace Variable'\");\n}\n\n// Fonction utilitaire pour remplacer des placeholders de la forme {{ key }}\nfunction replacePlaceholders(text, placeholders) {\n  for (const key in placeholders) {\n    const regex = new RegExp(`{{\\\\s*${key}\\\\s*}}`, 'gi');\n    text = text.replace(regex, placeholders[key]);\n  }\n  return text;\n}\n\n// Remplacement des placeholders dans le footer\nfooter = replacePlaceholders(footer, {\n  tracking_link: `<img src=\"https://suivi.boostperformance.ai/pixel.php?id=${link_id}\" width=\"1\" height=\"1\" style=\"display:none;\" />`,\n  unsubscribe_link: `https://suivi.boostperformance.ai/communication/?email=${email}`\n});\n\n// Intégration des sections (header, content, footer) dans l'enveloppe HTML\nconst htmlFinal = enveloppe\n  .replace('[[header]]', header)\n  .replace('[[content]]', content)\n  .replace('[[footer]]', footer);\n\n// Retourner le résultat final\nreturn [\n  {\n    json: {\n      html: htmlFinal\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1232,
        1008
      ],
      "id": "6bb6abd5-c83a-493e-bec7-87381bf5fb36",
      "name": "Create Final HTML Message"
    },
    {
      "parameters": {
        "jsCode": "// Récupération de la valeur des minutes à attendre\nconst minutesAttendre = $input.first().json[\"Minutes Attendre\"];\n//const minutesAvant = $input.first().json[\"Minutes Avant\"];\n\n// Récupération de la date de création au format ISO\nconst dateCreationStr = $('Data Workflow').first().json[\"Date Création\"];\n\n// Conversion de la chaîne en objet Date\nconst dateCreation = new Date(dateCreationStr);\n\n// Calcul de la nouvelle date en ajoutant les minutes (60000 ms = 1 minute)\nconst nouvelleDate = new Date(dateCreation.getTime() + minutesAttendre * 60000);\n\n// Retourner le résultat sous forme d'objet JSON (par exemple, sous la clé 'nouvelleDate')\nreturn { nouvelleDate: nouvelleDate.toISOString() };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3248,
        1104
      ],
      "id": "0a0500a7-3387-4051-aca8-b0604b76d152",
      "name": "Set Next Date Sending"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b4d64bb3-df62-41a2-83d1-0c4fb194c504",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2800,
        1104
      ],
      "id": "fe1b79f9-a239-415c-971e-5d123ce3e700",
      "name": "If Next Message Exists"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "apprCreGpn1y29ohG",
          "mode": "list",
          "cachedResultName": "Boost 2025",
          "cachedResultUrl": "https://airtable.com/apprCreGpn1y29ohG"
        },
        "table": {
          "__rl": true,
          "value": "tblbNb6O4nv6Ye2F8",
          "mode": "list",
          "cachedResultName": "Tâches Automatisations",
          "cachedResultUrl": "https://airtable.com/apprCreGpn1y29ohG/tblbNb6O4nv6Ye2F8"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Data Workflow').item.json['Task ID'] }}",
            "Prochaine Séquence": "=0",
            "Date Prochaine Action": "={{ $json.nouvelleDate }}",
            "Date Dernière Action": "={{ DateTime.now().setZone('America/Toronto').toISO() }}",
            "Status": "Complété"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Date Création",
              "displayName": "Date Création",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Email",
                  "value": "Email"
                },
                {
                  "name": "SMS",
                  "value": "SMS"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Active",
                  "value": "Active"
                },
                {
                  "name": "Complété",
                  "value": "Complété"
                },
                {
                  "name": "Annulé",
                  "value": "Annulé"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Groupe Automatisation",
              "displayName": "Groupe Automatisation",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Date Prochaine Action",
              "displayName": "Date Prochaine Action",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date Dernière Action",
              "displayName": "Date Dernière Action",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Prochaine Séquence",
              "displayName": "Prochaine Séquence",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Leads ID",
              "displayName": "Leads ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Prénom",
              "displayName": "Prénom",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Description Lead",
              "displayName": "Description Lead",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Newsletter Contact Opt-in",
              "displayName": "Newsletter Contact Opt-in",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Contact Email",
              "displayName": "Contact Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Historique Emails",
              "displayName": "Historique Emails",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        3024,
        1200
      ],
      "id": "63119b2b-be9f-4240-9220-e073388f4d45",
      "name": "Update Next Email to Send1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c4d57466-f60a-4ec5-8ef8-f0e1095318d7",
              "leftValue": "={{ $json[\"Événement ID\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        112,
        1008
      ],
      "id": "fdc89a3e-037c-4105-8659-1e27bdd14df7",
      "name": "If Event ID Exists"
    },
    {
      "parameters": {
        "base": {
          "__rl": true,
          "value": "apprCreGpn1y29ohG",
          "mode": "list",
          "cachedResultName": "Boost 2025",
          "cachedResultUrl": "https://airtable.com/apprCreGpn1y29ohG"
        },
        "table": {
          "__rl": true,
          "value": "tblhm238pps3Dnm18",
          "mode": "list",
          "cachedResultName": "Événements",
          "cachedResultUrl": "https://airtable.com/apprCreGpn1y29ohG/tblhm238pps3Dnm18"
        },
        "id": "={{ $json[\"Événement ID\"] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        336,
        944
      ],
      "id": "5cb06f10-79a9-43a3-aefb-63c060c81ca3",
      "name": "Get Event Details",
      "retryOnFail": true,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5f7f32ac-f3c5-44f2-91f8-fd7f7600ed4b",
              "name": "Nom",
              "value": "={{ $json.Nom }}",
              "type": "string"
            },
            {
              "id": "d9d53091-83f6-42e5-9897-f70498b53e7e",
              "name": "Résumé",
              "value": "={{ $json[\"Résumé\"] }}",
              "type": "string"
            },
            {
              "id": "a8a82459-3c74-4229-a29b-a2949e8f5907",
              "name": "Date Event",
              "value": "={{ $json.Date }}",
              "type": "string"
            },
            {
              "id": "cbb13640-ae8d-4266-ab6a-340e328be05f",
              "name": "Résumé SMS",
              "value": "={{ $json[\"Résumé SMS\"] }}",
              "type": "string"
            },
            {
              "id": "18c14183-645d-43a1-a2cc-8b188df4e573",
              "name": "Lien event",
              "value": "={{ $json['Lien Événement'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        1008
      ],
      "id": "c0ee2078-7b9a-4d28-a47c-12737eecc136",
      "name": "Data Workflow Updated"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d40ed5d3-cbe6-4703-80bb-e1f09fae2e2a",
              "leftValue": "={{ $('Data Workflow').item.json[\"Groupe Automatisation\"] }}",
              "rightValue": "Événement",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3024,
        1008
      ],
      "id": "9cffe431-b1cb-4c1c-b7b9-dde5aaf7e14e",
      "name": "If Event Automatisation"
    },
    {
      "parameters": {
        "jsCode": "// Récupération de la valeur des minutes avant l'événement\nconst minutesAvant = $input.first().json[\"Minutes Avant\"];\n\n// Récupération de la date de création au format ISO\nconst dateEventStr = $('Get Event Details').first().json.Date;\n\n// Conversion de la chaîne en objet Date\nconst dateEvent = new Date(dateEventStr);\n\n// Calcul de la nouvelle date en soustrayant les minutes (60000 ms = 1 minute)\nconst nouvelleDate = new Date(dateEvent.getTime() - minutesAvant * 60000);\n\n// Retourner le résultat sous forme d'objet JSON (par exemple, sous la clé 'nouvelleDate')\nreturn { nouvelleDate: nouvelleDate.toISOString() };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3248,
        912
      ],
      "id": "2566d8b3-d9df-47ea-819c-f06e664ed248",
      "name": "Set Next Date Event Sending"
    },
    {
      "parameters": {
        "from": "15817013500",
        "to": "={{ $('Data Workflow').item.json.Mobile }}",
        "message": "={{ $json['SMS Message'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        2352,
        1200
      ],
      "id": "ffbb3f4c-5ed1-4990-b4c9-5395635a5413",
      "name": "Twilio",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Data Workflow').item.json.Type }}",
                    "rightValue": "Email",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "380566df-9df6-462e-a2b8-235ebfbcd617"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Email"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "41c96a89-0903-46e3-9be3-e9febfc49091",
                    "leftValue": "={{ $('Data Workflow').item.json.Type }}",
                    "rightValue": "SMS",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "SMS"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1456,
        1008
      ],
      "id": "f42b1e59-859f-4dfe-8b4d-3f505587e0f2",
      "name": "Switch Message Type"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1d0cf7b2-1593-4922-97d8-ca4f9440092b",
              "name": "SMS Message",
              "value": "={{ $('Replace Variable').item.json.Sujet_not_encoded }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2128,
        1200
      ],
      "id": "36ef1d9a-a3d4-4c43-93ef-4f5bd3ed2ac4",
      "name": "SMS Message"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "apprCreGpn1y29ohG",
          "mode": "list",
          "cachedResultName": "Boost 2025",
          "cachedResultUrl": "https://airtable.com/apprCreGpn1y29ohG"
        },
        "table": {
          "__rl": true,
          "value": "tblbjJYeI54LhHzoS",
          "mode": "list",
          "cachedResultName": "Message Automatisation",
          "cachedResultUrl": "https://airtable.com/apprCreGpn1y29ohG/tblbjJYeI54LhHzoS"
        },
        "filterByFormula": "=AND({Groupe Automatisation} = \"{{ $('Data Workflow').item.json['Groupe Automatisation'] }}\", {Séquence} = {{ $('Data Workflow').item.json['Prochaine Séquence'] + 1 }}, {Type} = \"SMS\")",
        "returnAll": false,
        "limit": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2576,
        1200
      ],
      "id": "e81d97e0-0749-4bd1-b940-43eac10496af",
      "name": "Get Next SMS Message Params",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Extraction et validation des données des nœuds\nconst dataWorkflowItem = $('Data Workflow').item;\nif (!dataWorkflowItem || !dataWorkflowItem.json) {\n  throw new Error(\"Données manquantes dans le nœud 'Data Workflow'\");\n}\nconst dataWorkflow = dataWorkflowItem.json;\n\nconst updatedNode = $('Data Workflow Updated').first();\nif (!updatedNode || !updatedNode.json) {\n  throw new Error(\"Données manquantes dans le nœud 'Data Workflow Updated'\");\n}\nconst dataWorkflowUpdated = updatedNode.json;\n\n// Récupération des données nécessaires\nconst prenom = dataWorkflow[\"Prénom\"] || '';\nlet sujet = dataWorkflow.Sujet || '';\nlet contenu = dataWorkflow.Contenu || '';\nlet redirect_link = dataWorkflow[\"Lien redirection\"] || '';\n\nconst sms_summary      = dataWorkflowUpdated['Résumé SMS'] || '';\nconst link_event       = dataWorkflowUpdated[\"Lien event\"] || '';\nconst event_title      = dataWorkflowUpdated.Nom || '';\nconst event_description = dataWorkflowUpdated[\"Résumé\"] || '';\n\n// Fonction utilitaire pour remplacer des placeholders dans une chaîne\nfunction replacePlaceholders(text, placeholders) {\n  for (const key in placeholders) {\n    const regex = new RegExp(`{{\\\\s*${key}\\\\s*}}`, 'gi');\n    text = text.replace(regex, placeholders[key]);\n  }\n  return text;\n}\n\n// Génération d'un identifiant alphanumérique de la longueur spécifiée\nfunction generateRandomId(length) {\n  const chars = '0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ';\n  let result = '';\n  if (typeof crypto !== 'undefined' && crypto.getRandomValues) {\n    const values = new Uint8Array(length);\n    crypto.getRandomValues(values);\n    for (let i = 0; i < length; i++) {\n      result += chars.charAt(values[i] % chars.length);\n    }\n  } else {\n    for (let i = 0; i < length; i++) {\n      result += chars.charAt(Math.floor(Math.random() * chars.length));\n    }\n  }\n  return result;\n}\n\n// Générer un identifiant aléatoire de 10 caractères\nconst link_id = generateRandomId(10);\n\n// Remplacement des placeholders dans le sujet\nconst sujetPlaceholders = {\n  prenom: prenom,\n  event_title: event_title,\n  sms_summary: sms_summary,\n  link_event: link_event\n};\nsujet = replacePlaceholders(sujet, sujetPlaceholders);\n\n// Remplacement des placeholders dans le contenu (hors liens spéciaux)\nconst contenuPlaceholders = {\n  prenom: prenom,\n  event_title: event_title,\n  event_description: event_description\n};\ncontenu = replacePlaceholders(contenu, contenuPlaceholders);\n\n// Remplacement du placeholder pour le lien de redirection (on encode l'URL pour éviter des problèmes)\nconst encodedRedirectLink = encodeURIComponent(redirect_link);\nconst redirectReplacement = `https://suivi.boostperformance.ai/clk/?id=${link_id}&link=${encodedRedirectLink}`;\ncontenu = contenu.replace(/{{\\s*redirect_link\\s*}}/gi, redirectReplacement);\n\n// Remplacement du placeholder pour le tracking (injection de l'image)\nconst trackingReplacement = `<img src=\"https://suivi.boostperformance.ai/pixel.php?id=${link_id}\" width=\"1\" height=\"1\" style=\"display:none;\" />`;\ncontenu = contenu.replace(/{{\\s*tracking_link\\s*}}/gi, trackingReplacement);\n\n// Encodage du sujet en Base64 UTF-8 (sans capture interne d'éventuelles erreurs)\nconst encodedSubject = `=?UTF-8?B?${Buffer.from(sujet, 'utf-8').toString('base64')}?=`;\n\n// Retourner l'objet final incluant le sujet encodé, le sujet non encodé, le contenu et le link_id généré\nreturn {\n  json: {\n    Sujet: encodedSubject,\n    Sujet_not_encoded: sujet,\n    Contenu: contenu,\n    link_id: link_id\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        1008
      ],
      "id": "4fae6464-56a5-4c17-9ae0-08507fa1c0d6",
      "name": "Replace Variable"
    },
    {
      "parameters": {
        "fromEmail": "info@boostperformance.ai",
        "toEmail": "p@justmove.app",
        "subject": "={{ $('Replace Variable').item.json.Sujet_not_encoded }}",
        "html": "={{ $('Message settings').item.json.body_html }}"
      },
      "type": "n8n-nodes-base.mailgun",
      "typeVersion": 1,
      "position": [
        -336,
        592
      ],
      "id": "460cdd86-d6e2-4a87-9689-9015953d26b4",
      "name": "Mailgun"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mailgun.net/v3/mg.boostperformance.ai/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "mailgunApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "from",
              "value": "={{ $('Data Workflow').item.json.De }}"
            },
            {
              "name": "to",
              "value": "={{ $('Data Workflow').item.json[\"Contact Email\"] }}"
            },
            {
              "name": "subject",
              "value": "={{ $('Replace Variable').item.json.Sujet_not_encoded }}"
            },
            {
              "name": "html",
              "value": "={{ $('Message settings').item.json.body_html }}"
            },
            {
              "parameterType": "formBinaryData",
              "name": "inline",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        112,
        368
      ],
      "id": "79edc279-48e2-49bc-9b7d-c08bafa62dfb",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "=data",
        "options": {
          "fileName": "myimage"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -336,
        -80
      ],
      "id": "4b733701-02e9-4ba1-9265-4c0d94f9768e",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4e38d66d-a221-4321-a570-2641603517c8",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -336,
        -304
      ],
      "id": "7b91b83d-38de-47b8-b797-3a1d320bdebf",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "https://suivi.boostperformance.ai/logo_boost_gris.png",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -336,
        368
      ],
      "id": "318a3faa-7d22-4464-b34b-ae03fd3218e2",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "jsCode": "const newFileName = 'image1.png';\n\nconst binaryData = {\n  ...items[0].binary.data,\n  fileName: newFileName,\n  mimeType: 'image/png'\n};\n\nreturn [{\n  json: items[0].json,\n  binary: {\n    data: binaryData\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -112,
        368
      ],
      "id": "40c18a46-2b78-4c2d-a72b-90baea875494",
      "name": "Code"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b9cbdcdf-03f6-46bd-9ede-be315eb55ae8",
              "name": "Minutes Avant",
              "value": "={{ $json['Minutes Avant'] }}",
              "type": "number"
            },
            {
              "id": "490d346b-674d-432e-8c57-7c5db988fd30",
              "name": "",
              "value": "=",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -336,
        144
      ],
      "id": "fb0036ab-daae-4669-842d-87ef7609b947",
      "name": "Edit Fields1"
    }
  ],
  "repo_name": "boost-prospect-v2",
  "repo_owner": "ultimvision",
  "repo_path": "workflows",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-10T19:31:28.459Z",
      "updatedAt": "2025-09-10T19:31:28.459Z",
      "role": "workflow:owner",
      "workflowId": "b3Gh5jitQKDLPLx0",
      "projectId": "zxVtQj8AiJx7hlkL"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-10T19:31:28.459Z",
  "versionId": "60fc0ec3-6d23-40c4-93c0-bfdcd6168c59"
}