workflows2025/09/bT0cDpbwXcQjgsvA.json
{
  "active": false,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Look if Contact exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add record in Leads": {
      "main": [
        [
          {
            "node": "Verify if SMS Automation Exists",
            "type": "main",
            "index": 0
          },
          {
            "node": "Verify if Email Automation Exists",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is Tag Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Provenance": {
      "main": [
        [
          {
            "node": "Add record in RH",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add record in Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Look if Contact exists": {
      "main": [
        [
          {
            "node": "If not exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a new contact": {
      "main": [
        [
          {
            "node": "Get Contact ID from Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If not exists": {
      "main": [
        [
          {
            "node": "Get Contact ID from Airtable",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a new contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Contact ID from Airtable": {
      "main": [
        [
          {
            "node": "Set Sync Params",
            "type": "main",
            "index": 0
          },
          {
            "node": "Switch Provenance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify if Email Automation Exists": {
      "main": [
        [
          {
            "node": "If Automation Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Automation Exists": {
      "main": [
        [
          {
            "node": "Set Date Next Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Date Next Action": {
      "main": [
        [
          {
            "node": "Add an Automation Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify if SMS Automation Exists": {
      "main": [
        [
          {
            "node": "If Automation SMS Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Automation SMS Exists": {
      "main": [
        [
          {
            "node": "Set Date Next Action SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Date Next Action SMS": {
      "main": [
        [
          {
            "node": "Add an Automation Task SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Sync Params": {
      "main": [
        [
          {
            "node": "Sync Mailchimp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Tag Exists": {
      "main": [
        [
          {
            "node": "If Tag Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Tag Exists": {
      "main": [
        [
          {
            "node": "Add a Tag In Leads for Mailchimp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-10T19:28:37.477Z",
  "id": "bT0cDpbwXcQjgsvA",
  "isArchived": false,
  "meta": null,
  "name": "Lead from www Boost Performance to Airtable",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead_from_boost_ws",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -352,
        272
      ],
      "id": "7a322812-3d4d-4b22-9241-5517742a6558",
      "name": "Webhook",
      "webhookId": "55bc4a74-e4f7-4c51-955f-8fd1aba7d426"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "apprCreGpn1y29ohG",
          "mode": "list",
          "cachedResultName": "Boost 2025",
          "cachedResultUrl": "https://airtable.com/apprCreGpn1y29ohG"
        },
        "table": {
          "__rl": true,
          "value": "tblYHdUIjewaoKVrr",
          "mode": "list",
          "cachedResultName": "RH",
          "cachedResultUrl": "https://airtable.com/apprCreGpn1y29ohG/tblYHdUIjewaoKVrr"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Prénom": "={{ $('Webhook').item.json.body['first-name'] }}",
            "Nom": "={{ $('Webhook').item.json.body['last-name'] }}",
            "Téléphone": "={{ $('Webhook').item.json.body['phone-number'] }}",
            "Email": "={{ $('Webhook').item.json.body['work-email'] }}",
            "Linkedin": "={{ $('Webhook').item.json.body.linkedin }}",
            "Page Web personnelle": "={{ $('Webhook').item.json.body['page-perso'] }}",
            "Poste recherché": "=['{{ $('Webhook').item.json.body.poste }}']",
            "Newsletter": "={{ $('Webhook').item.json.body.newsletter ? true : false }}",
            "utm_source": "={{ $('Webhook').item.json.body.utm_source }}",
            "utm_campaign": "={{ $('Webhook').item.json.body.utm_campaign }}",
            "utm_medium": "={{ $('Webhook').item.json.body.utm_medium }}",
            "utm_content": "={{ $('Webhook').item.json.body.utm_content }}",
            "utm_term": "={{ $('Webhook').item.json.body.utm_term }}",
            "ref": "={{ $('Webhook').item.json.body.ref }}",
            "ip": "={{ $('Webhook').item.json.body.user_ip }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Nom complet",
              "displayName": "Nom complet",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Date création",
              "displayName": "Date création",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Prénom",
              "displayName": "Prénom",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Nom",
              "displayName": "Nom",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Téléphone",
              "displayName": "Téléphone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Linkedin",
              "displayName": "Linkedin",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Page Web personnelle",
              "displayName": "Page Web personnelle",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Assignee",
              "displayName": "Assignee",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Poste recherché",
              "displayName": "Poste recherché",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "options": [
                {
                  "name": "Représentant IA",
                  "value": "Représentant IA"
                },
                {
                  "name": "Intégrateur IA",
                  "value": "Intégrateur IA"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Nouveau",
                  "value": "Nouveau"
                },
                {
                  "name": "En révision",
                  "value": "En révision"
                },
                {
                  "name": "Engagé",
                  "value": "Engagé"
                },
                {
                  "name": "Refusé",
                  "value": "Refusé"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Newsletter",
              "displayName": "Newsletter",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "utm_source",
              "displayName": "utm_source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "utm_medium",
              "displayName": "utm_medium",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "utm_campaign",
              "displayName": "utm_campaign",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "utm_term",
              "displayName": "utm_term",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "utm_content",
              "displayName": "utm_content",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ref",
              "displayName": "ref",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ip",
              "displayName": "ip",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        992,
        368
      ],
      "id": "fa327bb6-a204-4794-a053-cb7d422d859d",
      "name": "Add record in RH"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "apprCreGpn1y29ohG",
          "mode": "list",
          "cachedResultName": "Boost 2025",
          "cachedResultUrl": "https://airtable.com/apprCreGpn1y29ohG"
        },
        "table": {
          "__rl": true,
          "value": "tblSpQtUPVpaRoS6y",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/apprCreGpn1y29ohG/tblSpQtUPVpaRoS6y"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Prénom": "={{ $('Webhook').item.json.body['first-name'] }}",
            "Nom": "={{ $('Webhook').item.json.body['last-name'] }}",
            "Email": "={{ $('Webhook').item.json.body['work-email'] }}",
            "Entreprise": "={{ $('Webhook').item.json.body['company-name'] }}",
            "Téléphone": "={{ $('Webhook').item.json.body['phone-number'] }}",
            "Provenance": "=['{{ $('Webhook').item.json.body.provenance }}'] ",
            "Type de demande": "=['{{ $('Webhook').item.json.body['type-de-demande'] }}']",
            "Newsletter": "={{ $('Webhook').item.json.body.newsletter ? true : false }}",
            "utm_source": "={{ $('Webhook').item.json.body.utm_source }}",
            "utm_term": "={{ $('Webhook').item.json.body.utm_term }}",
            "utm_campaign": "={{ $('Webhook').item.json.body.utm_campaign }}",
            "ref": "={{ $('Webhook').item.json.body.ref }}",
            "utm_content": "={{ $('Webhook').item.json.body.utm_content }}",
            "utm_medium": "={{ $('Webhook').item.json.body.utm_medium }}",
            "Site Web": "={{ $('Webhook').item.json.body.website }}",
            "ip": "={{ $('Webhook').item.json.body.user_ip }}",
            "Contacts EK": "=['{{ $('Get Contact ID from Airtable').item.json.airtable_contact_id }}']",
            "Événement": "={{ $('Webhook').item.json.body.event_id ? [ $('Webhook').item.json.body.event_id ] : [] }}",
            "Notes": "={{ $('Webhook').item.json.body.notes }}",
            "Nombre d'invités": "={{ $('Webhook').item.json.body.guests }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Nom complet",
              "displayName": "Nom complet",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Responsable",
              "displayName": "Responsable",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Contacts EK",
              "displayName": "Contacts EK",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "recId Contact",
              "displayName": "recId Contact",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Mobile",
              "displayName": "Mobile",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Suivi Automatique Email",
              "displayName": "Suivi Automatique Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Prénom Contact",
              "displayName": "Prénom Contact",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Newsletter Contact Opt-in",
              "displayName": "Newsletter Contact Opt-in",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Contact Email",
              "displayName": "Contact Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Date création",
              "displayName": "Date création",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Type contact",
              "displayName": "Type contact",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "options": [
                {
                  "name": "Prospect",
                  "value": "Prospect"
                },
                {
                  "name": "Participant",
                  "value": "Participant"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Prénom",
              "displayName": "Prénom",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Nom",
              "displayName": "Nom",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Téléphone",
              "displayName": "Téléphone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Entreprise",
              "displayName": "Entreprise",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Site Web",
              "displayName": "Site Web",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Provenance",
              "displayName": "Provenance",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "options": [
                {
                  "name": "Accueil",
                  "value": "Accueil"
                },
                {
                  "name": "Abonnement Hub",
                  "value": "Abonnement Hub"
                },
                {
                  "name": "Formation Entreprise",
                  "value": "Formation Entreprise"
                },
                {
                  "name": "Formation Fondation IA",
                  "value": "Formation Fondation IA"
                },
                {
                  "name": "Formation Accélération IA",
                  "value": "Formation Accélération IA"
                },
                {
                  "name": "Formation Propulsion IA",
                  "value": "Formation Propulsion IA"
                },
                {
                  "name": "Bootcamp",
                  "value": "Bootcamp"
                },
                {
                  "name": "Conférence IA",
                  "value": "Conférence IA"
                },
                {
                  "name": "Intégration IA",
                  "value": "Intégration IA"
                },
                {
                  "name": "Audit IA",
                  "value": "Audit IA"
                },
                {
                  "name": "Airtable",
                  "value": "Airtable"
                },
                {
                  "name": "Guide",
                  "value": "Guide"
                },
                {
                  "name": "Guide du PDG",
                  "value": "Guide du PDG"
                },
                {
                  "name": "Guide Naviguez dans IA",
                  "value": "Guide Naviguez dans IA"
                },
                {
                  "name": "Guide 6 vérités",
                  "value": "Guide 6 vérités"
                },
                {
                  "name": "newsletter",
                  "value": "newsletter"
                },
                {
                  "name": "",
                  "value": ""
                },
                {
                  "name": "Événement",
                  "value": "Événement"
                },
                {
                  "name": "Lac",
                  "value": "Lac"
                },
                {
                  "name": "lac-30-mai-2025",
                  "value": "lac-30-mai-2025"
                },
                {
                  "name": "Présentiel",
                  "value": "Présentiel"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Type de demande",
              "displayName": "Type de demande",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "options": [
                {
                  "name": "Formations",
                  "value": "Formations"
                },
                {
                  "name": "Bootcamp",
                  "value": "Bootcamp"
                },
                {
                  "name": "Intégration IA",
                  "value": "Intégration IA"
                },
                {
                  "name": "Subvention",
                  "value": "Subvention"
                },
                {
                  "name": "Réservation",
                  "value": "Réservation"
                },
                {
                  "name": "Information",
                  "value": "Information"
                },
                {
                  "name": "Conférences",
                  "value": "Conférences"
                },
                {
                  "name": "Téléchargement",
                  "value": "Téléchargement"
                },
                {
                  "name": "Abonnement",
                  "value": "Abonnement"
                },
                {
                  "name": "Hub",
                  "value": "Hub"
                },
                {
                  "name": "Inscription",
                  "value": "Inscription"
                },
                {
                  "name": "",
                  "value": ""
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Nouveau",
                  "value": "Nouveau"
                },
                {
                  "name": "En discussion",
                  "value": "En discussion"
                },
                {
                  "name": "Convertir en Opportunité",
                  "value": "Convertir en Opportunité"
                },
                {
                  "name": "Fermé",
                  "value": "Fermé"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Newsletter",
              "displayName": "Newsletter",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date Sync",
              "displayName": "Date Sync",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "utm_source",
              "displayName": "utm_source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "utm_medium",
              "displayName": "utm_medium",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "utm_campaign",
              "displayName": "utm_campaign",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "utm_term",
              "displayName": "utm_term",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "utm_content",
              "displayName": "utm_content",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ref",
              "displayName": "ref",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ip",
              "displayName": "ip",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Événement",
              "displayName": "Événement",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Automatisation Emails",
              "displayName": "Automatisation Emails",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Date Prochain Email",
              "displayName": "Date Prochain Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Séquence Email",
              "displayName": "Séquence Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Date Dernier Email",
              "displayName": "Date Dernier Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Historique des Emails",
              "displayName": "Historique des Emails",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Tâches Automatisations",
              "displayName": "Tâches Automatisations",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Opportunités",
              "displayName": "Opportunités",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Tâches",
              "displayName": "Tâches",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Tags Automatisation",
              "displayName": "Tags Automatisation",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Date Ajout",
              "displayName": "Date Ajout",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Nombre d'invités",
              "displayName": "Nombre d'invités",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        992,
        560
      ],
      "id": "ed746805-c46c-4398-8f07-8f9746103325",
      "name": "Add record in Leads"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "50b2d02c-8a1c-45ba-8b71-dfa7b3ce61a2",
                    "leftValue": "={{ $('Webhook').item.json.body.provenance }}",
                    "rightValue": "RH",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "RH"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        768,
        368
      ],
      "id": "5c12398c-b42c-4fc4-9f3e-49621aca6648",
      "name": "Switch Provenance"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "apprCreGpn1y29ohG",
          "mode": "list",
          "cachedResultName": "Boost 2025",
          "cachedResultUrl": "https://airtable.com/apprCreGpn1y29ohG"
        },
        "table": {
          "__rl": true,
          "value": "tblldDBQts69Z6v2I",
          "mode": "list",
          "cachedResultName": "Contacts",
          "cachedResultUrl": "https://airtable.com/apprCreGpn1y29ohG/tblldDBQts69Z6v2I"
        },
        "filterByFormula": "={Email} = '{{ $json.body['work-email'] }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -128,
        272
      ],
      "id": "f817415a-2067-47d0-9411-414716508e36",
      "name": "Look if Contact exists",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "apprCreGpn1y29ohG",
          "mode": "list",
          "cachedResultName": "Boost 2025",
          "cachedResultUrl": "https://airtable.com/apprCreGpn1y29ohG"
        },
        "table": {
          "__rl": true,
          "value": "tblldDBQts69Z6v2I",
          "mode": "list",
          "cachedResultName": "Contacts",
          "cachedResultUrl": "https://airtable.com/apprCreGpn1y29ohG/tblldDBQts69Z6v2I"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Newsletter": "={{ $('Webhook').item.json.body.newsletter ? true : false }}",
            "Prénom": "={{ $('Webhook').item.json.body['first-name'] }}",
            "Nom": "={{ $('Webhook').item.json.body['last-name'] }}",
            "Email": "={{ $('Webhook').item.json.body['work-email'] }}",
            "Téléphone": "={{ $('Webhook').item.json.body['phone-number'] }}",
            "Entreprise": "={{ $('Webhook').item.json.body['company-name'] }}",
            "Site Web": "={{ $('Webhook').item.json.body.website }}",
            "Status": "Nouveau",
            "utm_source": "={{ $('Webhook').item.json.body.utm_source }}",
            "utm_medium": "={{ $('Webhook').item.json.body.utm_medium }}",
            "utm_campaign": "={{ $('Webhook').item.json.body.utm_campaign }}",
            "utm_term": "={{ $('Webhook').item.json.body.utm_term }}",
            "ref": "={{ $('Webhook').item.json.body.ref }}",
            "ip": "={{ $('Webhook').item.json.body.user_ip }}",
            "utm_content": "={{ $('Webhook').item.json.body.utm_content }}",
            "Date Opt-in": "={{ $('Webhook').item.json.body.newsletter ? DateTime.now().setZone('America/Toronto').toISO() : null }}",
            "Suivi Automatique": true
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Nom complet",
              "displayName": "Nom complet",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Date création",
              "displayName": "Date création",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Type contact",
              "displayName": "Type contact",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "options": [
                {
                  "name": "Prospect",
                  "value": "Prospect"
                },
                {
                  "name": "Participant",
                  "value": "Participant"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Prénom",
              "displayName": "Prénom",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Nom",
              "displayName": "Nom",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Téléphone",
              "displayName": "Téléphone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Entreprise",
              "displayName": "Entreprise",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Site Web",
              "displayName": "Site Web",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Nouveau",
                  "value": "Nouveau"
                },
                {
                  "name": "En discussion",
                  "value": "En discussion"
                },
                {
                  "name": "Terminé",
                  "value": "Terminé"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Suivi Automatique",
              "displayName": "Suivi Automatique",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Newsletter",
              "displayName": "Newsletter",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date Opt-in",
              "displayName": "Date Opt-in",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date Opt-out",
              "displayName": "Date Opt-out",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Raison Opt-out",
              "displayName": "Raison Opt-out",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Date Sync",
              "displayName": "Date Sync",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "utm_source",
              "displayName": "utm_source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "utm_medium",
              "displayName": "utm_medium",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "utm_campaign",
              "displayName": "utm_campaign",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "utm_term",
              "displayName": "utm_term",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "utm_content",
              "displayName": "utm_content",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ref",
              "displayName": "ref",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ip",
              "displayName": "ip",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Leads",
              "displayName": "Leads",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        320,
        336
      ],
      "id": "3f463635-ec04-41db-9159-5120b02d27ba",
      "name": "Create a new contact"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "eabc70ac-fd27-402d-af7a-4c735e7836b0",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        96,
        272
      ],
      "id": "bcef580d-8472-441a-9250-a19e5762badb",
      "name": "If not exists"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e54c634b-858e-41ef-bd2d-1c71afbd8ea7",
              "name": "airtable_contact_id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        544,
        272
      ],
      "id": "23995afe-bd6f-41cc-86d4-2eb4dc2c71d6",
      "name": "Get Contact ID from Airtable"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "apprCreGpn1y29ohG",
          "mode": "list",
          "cachedResultName": "Boost 2025",
          "cachedResultUrl": "https://airtable.com/apprCreGpn1y29ohG"
        },
        "table": {
          "__rl": true,
          "value": "tblbjJYeI54LhHzoS",
          "mode": "list",
          "cachedResultName": "Message Automatisation",
          "cachedResultUrl": "https://airtable.com/apprCreGpn1y29ohG/tblbjJYeI54LhHzoS"
        },
        "filterByFormula": "=AND(\n  {Groupe Automatisation} = \"{{ $json.fields.Provenance[0] }}\",\n  {Séquence} = 1,\n  {Type} = \"Email\"\n)",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1216,
        272
      ],
      "id": "c072448f-387b-4e2e-b309-22b0c248a4fd",
      "name": "Verify if Email Automation Exists"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "dbe376c1-9c2d-4236-a528-ae956cebe2d2",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1440,
        272
      ],
      "id": "ca158b9c-f9db-4560-ad89-e34d40b86e64",
      "name": "If Automation Exists"
    },
    {
      "parameters": {
        "jsCode": "// Récupération de la valeur des minutes à attendre\nconst minutesAttendre = $input.first().json[\"Minutes Attendre\"];\n\n// Récupération de la date de création au format ISO\nconst dateCreationStr = $('Add record in Leads').first().json.fields[\"Date création\"];\n\n// Conversion de la chaîne en objet Date\nconst dateCreation = new Date(dateCreationStr);\n\n// Calcul de la nouvelle date en ajoutant les minutes (60000 ms = 1 minute)\nconst nouvelleDate = new Date(dateCreation.getTime() + minutesAttendre * 60000);\n\n// Retourner le résultat sous forme d'objet JSON (par exemple, sous la clé 'nouvelleDate')\nreturn { nouvelleDate: nouvelleDate.toISOString() };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1664,
        272
      ],
      "id": "9792961b-1308-4cda-969e-027d0af5bbd9",
      "name": "Set Date Next Action"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "apprCreGpn1y29ohG",
          "mode": "list",
          "cachedResultName": "Boost 2025",
          "cachedResultUrl": "https://airtable.com/apprCreGpn1y29ohG"
        },
        "table": {
          "__rl": true,
          "value": "tblbNb6O4nv6Ye2F8",
          "mode": "list",
          "cachedResultName": "Tâches Automatisations",
          "cachedResultUrl": "https://airtable.com/apprCreGpn1y29ohG/tblbNb6O4nv6Ye2F8"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Type": "Email",
            "Status": "Active",
            "Date Prochaine Action": "={{ $json.nouvelleDate }}",
            "Prochaine Séquence": 1,
            "Leads ID": "=['{{ $('Add record in Leads').item.json.id }}']",
            "Groupe Automatisation": "={{ $('Add record in Leads').item.json.fields.Provenance[0] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Email",
                  "value": "Email"
                },
                {
                  "name": "SMS",
                  "value": "SMS"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Active",
                  "value": "Active"
                },
                {
                  "name": "Complété",
                  "value": "Complété"
                },
                {
                  "name": "Annulé",
                  "value": "Annulé"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Groupe Automatisation",
              "displayName": "Groupe Automatisation",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date Prochaine Action",
              "displayName": "Date Prochaine Action",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date Dernière Action",
              "displayName": "Date Dernière Action",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Prochaine Séquence",
              "displayName": "Prochaine Séquence",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Leads ID",
              "displayName": "Leads ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Newsletter Contact Opt-in",
              "displayName": "Newsletter Contact Opt-in",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Contact Email",
              "displayName": "Contact Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1888,
        272
      ],
      "id": "e09071a0-783c-4f02-a569-5e9593a79838",
      "name": "Add an Automation Task"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "kFdSBoWlBlbpEt0g",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -352,
        880
      ],
      "id": "e51a666a-5538-4f0f-aecf-e4a356421a15",
      "name": "Start Automation"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "apprCreGpn1y29ohG",
          "mode": "list",
          "cachedResultName": "Boost 2025",
          "cachedResultUrl": "https://airtable.com/apprCreGpn1y29ohG"
        },
        "table": {
          "__rl": true,
          "value": "tblldDBQts69Z6v2I",
          "mode": "list",
          "cachedResultName": "Contacts",
          "cachedResultUrl": "https://airtable.com/apprCreGpn1y29ohG/tblldDBQts69Z6v2I"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Newsletter": "={{ $('Webhook').item.json.body.newsletter ? true : false }}",
            "Date Opt-in": "={{ $('Webhook').item.json.body.newsletter ? DateTime.now().setZone('America/Toronto').toISO() : null }}",
            "Suivi Automatique": true,
            "id": "={{ $json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Nom complet",
              "displayName": "Nom complet",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Date création",
              "displayName": "Date création",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Type contact",
              "displayName": "Type contact",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "options": [
                {
                  "name": "Prospect",
                  "value": "Prospect"
                },
                {
                  "name": "Participant",
                  "value": "Participant"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Prénom",
              "displayName": "Prénom",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Nom",
              "displayName": "Nom",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Téléphone",
              "displayName": "Téléphone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Entreprise",
              "displayName": "Entreprise",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Site Web",
              "displayName": "Site Web",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Nouveau",
                  "value": "Nouveau"
                },
                {
                  "name": "En discussion",
                  "value": "En discussion"
                },
                {
                  "name": "Terminé",
                  "value": "Terminé"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Suivi Automatique",
              "displayName": "Suivi Automatique",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Newsletter",
              "displayName": "Newsletter",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date Opt-in",
              "displayName": "Date Opt-in",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date Opt-out",
              "displayName": "Date Opt-out",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Raison Opt-out",
              "displayName": "Raison Opt-out",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Date Sync",
              "displayName": "Date Sync",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "utm_source",
              "displayName": "utm_source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "utm_medium",
              "displayName": "utm_medium",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "utm_campaign",
              "displayName": "utm_campaign",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "utm_term",
              "displayName": "utm_term",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "utm_content",
              "displayName": "utm_content",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ref",
              "displayName": "ref",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ip",
              "displayName": "ip",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Leads",
              "displayName": "Leads",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -352,
        -48
      ],
      "id": "4d505b43-6e61-437f-9f31-52bce93ca9e7",
      "name": "Update Contact",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "apprCreGpn1y29ohG",
          "mode": "list",
          "cachedResultName": "Boost 2025",
          "cachedResultUrl": "https://airtable.com/apprCreGpn1y29ohG"
        },
        "table": {
          "__rl": true,
          "value": "tblbjJYeI54LhHzoS",
          "mode": "list",
          "cachedResultName": "Message Automatisation",
          "cachedResultUrl": "https://airtable.com/apprCreGpn1y29ohG/tblbjJYeI54LhHzoS"
        },
        "filterByFormula": "=AND(\n  {Groupe Automatisation} = \"{{ $json.fields.Provenance[0] }}\",\n  {Séquence} = 1,\n  {Type} = \"SMS\"\n)",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1216,
        464
      ],
      "id": "3a955994-ae17-49ea-aae8-f1b7d33fc872",
      "name": "Verify if SMS Automation Exists"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "dbe376c1-9c2d-4236-a528-ae956cebe2d2",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1440,
        464
      ],
      "id": "5f8b4249-3d6d-46fa-9fc4-ce060558f31c",
      "name": "If Automation SMS Exists"
    },
    {
      "parameters": {
        "jsCode": "// Récupération de la valeur des minutes à attendre\nconst minutesAttendre = $input.first().json[\"Minutes Attendre\"];\n\n// Récupération de la date de création au format ISO\nconst dateCreationStr = $('Add record in Leads').first().json.fields[\"Date création\"];\n\n// Conversion de la chaîne en objet Date\nconst dateCreation = new Date(dateCreationStr);\n\n// Calcul de la nouvelle date en ajoutant les minutes (60000 ms = 1 minute)\nconst nouvelleDate = new Date(dateCreation.getTime() + minutesAttendre * 60000);\n\n// Retourner le résultat sous forme d'objet JSON (par exemple, sous la clé 'nouvelleDate')\nreturn { nouvelleDate: nouvelleDate.toISOString() };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1664,
        464
      ],
      "id": "ad7cd148-961e-4225-8689-f0c33ee32eee",
      "name": "Set Date Next Action SMS"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "apprCreGpn1y29ohG",
          "mode": "list",
          "cachedResultName": "Boost 2025",
          "cachedResultUrl": "https://airtable.com/apprCreGpn1y29ohG"
        },
        "table": {
          "__rl": true,
          "value": "tblbNb6O4nv6Ye2F8",
          "mode": "list",
          "cachedResultName": "Tâches Automatisations",
          "cachedResultUrl": "https://airtable.com/apprCreGpn1y29ohG/tblbNb6O4nv6Ye2F8"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Type": "SMS",
            "Status": "Active",
            "Date Prochaine Action": "={{ $json.nouvelleDate }}",
            "Prochaine Séquence": 1,
            "Leads ID": "=['{{ $('Add record in Leads').item.json.id }}']",
            "Groupe Automatisation": "={{ $('Add record in Leads').item.json.fields.Provenance[0] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Email",
                  "value": "Email"
                },
                {
                  "name": "SMS",
                  "value": "SMS"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Active",
                  "value": "Active"
                },
                {
                  "name": "Complété",
                  "value": "Complété"
                },
                {
                  "name": "Annulé",
                  "value": "Annulé"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Groupe Automatisation",
              "displayName": "Groupe Automatisation",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date Prochaine Action",
              "displayName": "Date Prochaine Action",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date Dernière Action",
              "displayName": "Date Dernière Action",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Prochaine Séquence",
              "displayName": "Prochaine Séquence",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Leads ID",
              "displayName": "Leads ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Newsletter Contact Opt-in",
              "displayName": "Newsletter Contact Opt-in",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Contact Email",
              "displayName": "Contact Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1888,
        464
      ],
      "id": "0bf0e85b-bc72-4226-87ca-fbda6c5661ca",
      "name": "Add an Automation Task SMS"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8726d3fe-214c-4d1e-86b5-ce5e9ecc6092",
              "name": "recId",
              "value": "={{ $json.airtable_contact_id }}",
              "type": "string"
            },
            {
              "id": "95c8e271-35ea-48b4-bef4-00c3ce1a0c92",
              "name": "action",
              "value": "sync",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        768,
        176
      ],
      "id": "199c9d72-7538-47bb-b0e5-e97e9d0cbafc",
      "name": "Set Sync Params"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "1p4lZDb7qjRMLv0F",
          "mode": "list",
          "cachedResultName": "Boost 2025 - Contacts Sync with Mailchimp"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        992,
        176
      ],
      "id": "4ac1da5a-5f30-4603-b1c3-61775e15867a",
      "name": "Sync Mailchimp",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "apprCreGpn1y29ohG",
          "mode": "list",
          "cachedResultName": "Boost 2025",
          "cachedResultUrl": "https://airtable.com/apprCreGpn1y29ohG"
        },
        "table": {
          "__rl": true,
          "value": "tblLCEA1HdRrd1xZq",
          "mode": "list",
          "cachedResultName": "Tags Mailchimp",
          "cachedResultUrl": "https://airtable.com/apprCreGpn1y29ohG/tblLCEA1HdRrd1xZq"
        },
        "filterByFormula": "={Tag} = '{{ $('Webhook').item.json.body.provenance }}'",
        "returnAll": false,
        "limit": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1216,
        656
      ],
      "id": "0c40d09e-1ce4-4229-a1ff-416036bde4df",
      "name": "Is Tag Exists"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ada9c159-cda8-485f-8fcd-2bf32879269e",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1440,
        656
      ],
      "id": "1bfe5c0b-1c42-4376-a0f1-193a895b8fe5",
      "name": "If Tag Exists"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "apprCreGpn1y29ohG",
          "mode": "list",
          "cachedResultName": "Boost 2025",
          "cachedResultUrl": "https://airtable.com/apprCreGpn1y29ohG"
        },
        "table": {
          "__rl": true,
          "value": "tblPuUSKcPM2cW9Hg",
          "mode": "list",
          "cachedResultName": "Tags Automatisation",
          "cachedResultUrl": "https://airtable.com/apprCreGpn1y29ohG/tblPuUSKcPM2cW9Hg"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Tag": "=['{{ $json.id }}']",
            "Action": "Ajout",
            "Leads": "=['{{ $('Add record in Leads').item.json.id }}']"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "recId",
              "displayName": "recId",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Tag",
              "displayName": "Tag",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Tag Texte",
              "displayName": "Tag Texte",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Action",
              "displayName": "Action",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Ajout",
                  "value": "Ajout"
                },
                {
                  "name": "Retrait",
                  "value": "Retrait"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Description Tag",
              "displayName": "Description Tag",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Contact",
              "displayName": "Contact",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Contact recId 1",
              "displayName": "Contact recId 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Opportunité",
              "displayName": "Opportunité",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Contact recId 2",
              "displayName": "Contact recId 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Leads",
              "displayName": "Leads",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Contacts recId 3",
              "displayName": "Contacts recId 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1664,
        656
      ],
      "id": "c0fcfaf2-8269-4918-a33f-531bed025d86",
      "name": "Add a Tag In Leads for Mailchimp"
    }
  ],
  "repo_name": "boost-prospect-v2",
  "repo_owner": "ultimvision",
  "repo_path": "workflows",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-10T19:28:37.477Z",
      "updatedAt": "2025-09-10T19:28:37.477Z",
      "role": "workflow:owner",
      "workflowId": "bT0cDpbwXcQjgsvA",
      "projectId": "zxVtQj8AiJx7hlkL"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-10T19:34:42.369Z",
  "versionId": "9db418f6-b259-4a62-a208-d572cb1d7e94"
}